:root {
  --vh: 1vh;
  --primary-color: #fe7d65;
  --base-txt-color: #666;
  --placeholder-txt-color: #ccc;
}
html {
  height: 100%;
  font-size: 62.5%;
  // user-select: none;
  // -webkit-touch-callout:none;
  // -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}
body {
  font: normal 1.6rem/1.44 'Roboto', 'Noto Sans KR', 'Apple SD Gothic Neo', 'AppleSDGothicNeo', sans-serif;
  color: var(--base-txt-color);
  letter-spacing: -0.02em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
}

//s:reset
h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
input,
select,
textarea {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
legend,
caption {
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
  clip: rect(0 0 0 0);
  opacity: 0;
  @include text-blind;
}
li {
  list-style: none;
}
// pre{white-space:pre-line;}
code {
  font-family: inherit;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a[href*='tel'] {
  cursor: default;
}
button,
input[type='button'] {
  border: none;
  background: none;
  cursor: pointer;
  letter-spacing: inherit;
  padding: 0;
  color: inherit;
}
optgroup,
pre {
  font-family: inherit;
}
i,
em {
  font-style: normal;
}
hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: 0.1rem solid #ddd;
}
sub {
  vertical-align: 0;
}
iframe,
textarea {
  width: 100%;
}
select,
input,
button,
img,
iframe {
  vertical-align: middle;
}
select,
input,
textarea,
button,
optgroup {
  font-family: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
}
option:disabled,
input:disabled,
button:disabled {
  background: inherit;
  color: inherit;
}
button:disabled,
a.disabled {
  -webkit-tap-highlight-color: transparent;
}

::placeholder {
  color: var(--placeholder-txt-color);
  opacity: 1;
}
::-webkit-input-placeholder {
  color: var(--placeholder-txt-color);
  opacity: 1;
}
:-moz-placeholder {
  color: var(--placeholder-txt-color);
  opacity: 1;
}
::-moz-placeholder {
  color: var(--placeholder-txt-color);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--placeholder-txt-color);
  opacity: 1;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type='date']::-webkit-clear-button {
  display: none;
}
input[type='time']::-webkit-clear-button {
  display: none;
}

select:disabled,
input:disabled,
textarea:disabled {
  -webkit-text-fill-color: inherit;
  opacity: 1;
}

html.mobile {
  a,
  button,
  select,
  input,
  textarea,
  iframe,
  [tabindex] {
    outline: none;
  }
}

html.pc {
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
  ::-webkit-scrollbar {
    width: 6px;
    background: rgba(0, 0, 0, 0);
  }
}
//e:reset

// lock
html.lock,
.lock body {
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}
.lock #wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-overflow-scrolling: none;
}

// font-family
.ff-nt,
.ff-noto {
  font-family: 'Noto Sans KR';
}
.ff-rbt,
.ff-roboto {
  font-family: 'Roboto';
}
.ff-pps,
.ff-poppins {
  font-family: 'Poppins';
}
.ff-bhs,
.ff-black {
  font-family: 'Black Han Sans';
  font-weight: 400;
}

/* bg-color */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-yellow {
  background-color: #fee525 !important;
}
.bg-gray {
  background-color: #3b3f47 !important;
}
.bg-white,
.bg-fff {
  background-color: #fff !important;
}
.bg-black,
.bg-000 {
  background-color: #000 !important;
}
.bg-ddd {
  background-color: #ddd !important;
}
.bg-eee {
  background-color: #eee !important;
}
.bg-f8 {
  background-color: #f8f8f8 !important;
}

/*color*/
.fc-primary {
  color: var(--primary-color) !important;
}
.fc-yellow {
  color: #fee525 !important;
}
.fc-gray {
  color: #3b3f47 !important;
}
.fc-red {
  color: #e43333 !important;
}
.fc-blue {
  color: #0087e1 !important;
}
.fc-pink {
  color: #ff009d !important;
}
.fc-white,
.fc-fff {
  color: #fff !important;
}
.fc-black,
.fc-000 {
  color: #000 !important;
}
.fc-222 {
  color: #222 !important;
}
.fc-444 {
  color: #444 !important;
}
.fc-555 {
  color: #555 !important;
}
.fc-666 {
  color: #666 !important;
}
.fc-888 {
  color: #888 !important;
}
.fc-97 {
  color: #979797 !important;
}

/* 폰트 사이즈 */
@for $i from 6 through 40 {
  .fz-#{$i} {
    font-size: $i * 0.1rem !important;
  }
}

/* 굵기 */
.fw-bold {
  font-weight: bold !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-normal,
.fw-regular {
  font-weight: normal !important;
}
@for $i from 1 through 9 {
  .fw-#{$i}00 {
    font-weight: $i * 100 !important;
  }
}

/* 정렬 */
.t-right {
  text-align: right !important;
}
.t-left {
  text-align: left !important;
}
.t-center {
  text-align: center !important;
}
.va-top {
  vertical-align: top !important;
}
.va-middle {
  vertical-align: middle !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clear {
  clear: both;
}

/* flex */
.inline-flex {
  display: inline-flex !important;
}
.align-start {
  align-items: flex-start !important;
}
.align-center {
  align-items: center !important;
}
.align-end {
  align-items: flex-end !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.space-between {
  justify-content: space-between !important;
}
.space-around {
  justify-content: space-around !important;
}
.space-evenly {
  justify-content: space-evenly !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.justify-self-start {
  justify-self: flex-start !important;
}
.justify-self-center {
  justify-self: center !important;
}
.justify-self-end {
  justify-self: flex-end !important;
}
.justify-stretch {
  justify-items: stretch !important;
}
.flex-11 {
  flex: 1 1 auto !important;
}
.flex-10 {
  flex: 1 0 auto !important;
}
.flex-01 {
  flex: 0 1 auto !important;
}
.flex-00 {
  flex: 0 0 auto !important;
}
.flex-wrap {
  flex-flow: wrap !important;
}
.flex-column {
  flex-direction: column !important;
  &.flex > div + div {
    margin-left: 0;
    margin-top: 0.8rem;
  }
}
.flex {
  display: flex;
  & + .flex {
    margin-top: 0.8rem;
  }
  &:not([class*='space-']):not([class*='flex-']):not([class*='justify-']):not([class*='not-full']) {
    > *:not(.unit) {
      width: 100%;
    }
  }
  > .unit {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #666;
    padding: 0 0.2rem;
  }
  > .input,
  > .select {
    + .input,
    + .select {
      margin-top: 0;
    }
  }
  > * + * {
    margin-left: 0.8rem;
  }
  + .input,
  + .select,
  + .textarea {
    margin-top: 0.8rem;
  }
  > .button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    // flex: 1 1 auto;
    // width: auto !important;
  }
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}

// div:table
.tbl {
  display: table;
  width: 100%;
  .th,
  .td {
    display: table-cell;
  }
}

// width
@for $i from 0 through 100 {
  .w-#{$i} {
    width: $i * 0.1rem !important;
  }
  .w-#{$i}f {
    flex: 0 0 $i * 0.1rem !important;
  }
}
@for $i from 1 through 40 {
  .w-#{$i*5 + 100} {
    width: $i * 0.5rem + 10rem !important;
  }
  .w-#{$i*5 + 100}f {
    flex: 0 0 $i * 0.5rem + 10rem !important;
  }
}
@for $i from 0 through 100 {
  @if $i !=33 && $i !=66 {
    .w-#{$i}p {
      width: $i * 1% !important;
    }
    .w-#{$i}vw {
      width: $i * 1vw !important;
    }
    .w-#{$i}fp {
      flex: 0 0 $i * 1% !important;
    }
  }
}
.w-33p {
  width: 33.3333% !important;
}
.w-66p {
  width: 66.6666% !important;
}
.w-33vw {
  width: 33.3333vw !important;
}
.w-66vw {
  width: 66.6666vw !important;
}
.w-33fp {
  flex: 0 0 33.3333% !important;
}
.w-66fp {
  flex: 0 0 66.6666% !important;
}

// height
@for $i from 0 through 100 {
  .h-#{$i} {
    height: $i * 0.1rem !important;
  }
}
@for $i from 1 through 40 {
  .h-#{$i*5 + 100} {
    height: $i * 0.5rem + 10rem !important;
  }
}
@for $i from 0 through 100 {
  @if $i !=33 && $i !=66 {
    .h-#{$i}p {
      height: $i * 1% !important;
    }
    .h-#{$i}vh {
      height: -vh(#{$i}) !important;
    }
  }
}
.h-33p {
  height: 33.3333% !important;
}
.h-66p {
  height: 66.6666% !important;
}
.h-33vh {
  height: -vh(33.3333) !important;
}
.h-66vh {
  height: -vh(66.6666) !important;
}

// margin
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
@for $i from 0 through 50 {
  .mg-#{$i} {
    margin: $i * 0.1rem !important;
  }
  .mg-#{$i}x {
    margin-left: $i * 0.1rem !important;
    margin-right: $i * 0.1rem !important;
  }
  .mg-#{$i}y {
    margin-top: $i * 0.1rem !important;
    margin-bottom: $i * 0.1rem !important;
  }
  .mt-#{$i} {
    margin-top: $i * 0.1rem !important;
  }
  .mb-#{$i} {
    margin-bottom: $i * 0.1rem !important;
  }
  .ml-#{$i} {
    margin-left: $i * 0.1rem !important;
  }
  .mr-#{$i} {
    margin-right: $i * 0.1rem !important;
  }
}
@for $i from 11 through 20 {
  .mg-#{$i*5} {
    margin: $i * 0.5rem !important;
  }
  .mg-#{$i*5}x {
    margin-left: $i * 0.5rem !important;
    margin-right: $i * 0.5rem !important;
  }
  .mg-#{$i*5}y {
    margin-top: $i * 0.5rem !important;
    margin-bottom: $i * 0.5rem !important;
  }
  .mt-#{$i*5} {
    margin-top: $i * 0.5rem !important;
  }
  .mb-#{$i*5} {
    margin-bottom: $i * 0.5rem !important;
  }
  .ml-#{$i*5} {
    margin-left: $i * 0.5rem !important;
  }
  .mr-#{$i*5} {
    margin-right: $i * 0.5rem !important;
  }
}
@for $i from 1 through 10 {
  .mt-m#{$i} {
    margin-top: -$i * 0.1rem !important;
  }
}

// padding
@for $i from 0 through 50 {
  .pd-#{$i} {
    padding: $i * 0.1rem !important;
  }
  .pd-#{$i}x {
    padding-left: $i * 0.1rem !important;
    padding-right: $i * 0.1rem !important;
  }
  .pd-#{$i}y {
    padding-top: $i * 0.1rem !important;
    padding-bottom: $i * 0.1rem !important;
  }
  .pt-#{$i} {
    padding-top: $i * 0.1rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i * 0.1rem !important;
  }
  .pl-#{$i} {
    padding-left: $i * 0.1rem !important;
  }
  .pr-#{$i} {
    padding-right: $i * 0.1rem !important;
  }
}
@for $i from 11 through 20 {
  .pd-#{$i*5} {
    padding: $i * 0.5rem !important;
  }
  .pd-#{$i*5}x {
    padding-left: $i * 0.5rem !important;
    padding-right: $i * 0.5rem !important;
  }
  .pd-#{$i*5}y {
    padding-top: $i * 0.5rem !important;
    padding-bottom: $i * 0.5rem !important;
  }
  .pt-#{$i*5} {
    padding-top: $i * 0.5rem !important;
  }
  .pb-#{$i*5} {
    padding-bottom: $i * 0.5rem !important;
  }
  .pl-#{$i*5} {
    padding-left: $i * 0.5rem !important;
  }
  .pr-#{$i*5} {
    padding-right: $i * 0.5rem !important;
  }
}

// 글자 말줄임
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
@for $i from 1 through 5 {
  .ellipsis-#{$i} {
    @include ellipsis($i);
  }
}

// border
.bd-none {
  border: none !important;
}
.bd-l-none {
  border-left: none !important;
}
.bd-r-none {
  border-right: none !important;
}
.bd-t-none {
  border-top: none !important;
}
.bd-b-none {
  border-bottom: none !important;
}
@for $i from 0 through 10 {
  .bd-#{$i} {
    border-width: $i * 0.1rem !important;
  }
  .bd-l-#{$i} {
    border-left-width: $i * 0.1rem !important;
  }
  .bd-r-#{$i} {
    border-right-width: $i * 0.1rem !important;
  }
  .bd-t-#{$i} {
    border-top-width: $i * 0.1rem !important;
  }
  .bd-b-#{$i} {
    border-bottom-width: $i * 0.1rem !important;
  }
}
@for $i from 0 through 30 {
  .bd-radius-#{$i} {
    border-radius: $i * 0.1rem !important;
  }
}

$bdTypes: (solid, dashed, dotted);
@each $bdType in $bdTypes {
  .bd-#{$bdType} {
    border-style: #{$bdType};
  }
  .bd-top-#{$bdType} {
    border-top-style: #{$bdType};
  }
  .bd-bottom-#{$bdType} {
    border-bottom-style: #{$bdType};
  }
  .bd-left-#{$bdType} {
    border-left-style: #{$bdType};
  }
  .bd-right-#{$bdType} {
    border-right-style: #{$bdType};
  }
}

// opacity
@for $i from 1 through 20 {
  .op-#{$i*5} {
    opacity: $i * 20 !important;
  }
}

// filter
.blur img {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  filter: blur(6px);
}
.grayscale img {
  filter: gray;
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
}

// etc
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.hide {
  display: none;
  &.show {
    display: block;
  }
}
.blind {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  @include text-blind;
}
.break-all {
  word-break: break-all;
}
.keep-all {
  word-break: keep-all;
}
.line-through {
  text-decoration: line-through;
}
.line-underline {
  text-decoration: underline;
}
.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
.pre-line-wrap {
  display: block;
  white-space: pre-line;
}
.dummy {
  background: #ccc;
  padding: 4em 1em;
  text-align: center;
  font-size: 2.2rem;
}
.console {
  position: fixed;
  padding: 1rem;
  line-height: 2;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  background: rgba(255, 0, 0, 0.7);
  z-index: 1000;
  word-break: break-all;
}

// img
.img-box {
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  img {
    pointer-events: none;
    @include img-fit(true);
  }
  .img-box-del {
    display: block;
    position: absolute;
    right: -0.4rem;
    top: -0.4rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/icon/ico-round-close@3x.png) no-repeat center center / contain;
  }
}

// empty
.empty-txt {
  pointer-events: none;
  cursor: pointer;
  color: transparent !important;
  word-break: break-all !important;
  background: linear-gradient(to bottom, transparent 0% 25%, #ddd 25% 75%, transparent 75% 100%);
  animation: emptyOpacity 2s linear infinite alternate;
  * {
    opacity: 0 !important;
  }
}
.empty-bg {
  pointer-events: none;
  cursor: pointer;
  color: transparent !important;
  background: #ddd !important;
  border-color: #ddd !important;
  word-break: break-all !important;
  animation: emptyOpacity 2s linear infinite alternate;
  * {
    opacity: 0 !important;
  }
}
@keyframes emptyOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.hr-line {
  display: block;
  margin: 0;
  height: 0;
  border: 0 none;
  background: #f3f3f3;
  border-top: 0.8rem solid #f3f3f3;
  border-bottom: 0.1rem solid #ebebeb;
  &.ty2 {
    height: 0;
    background: none;
    border-top-width: 0;
    &.dashed {
      border-style: dashed;
    }
  }
}
.section .hr-line:not(.inset) {
  @include outer;
}

// html.ios{
//     .button,
//     .input input,
//     .select,
//     .textarea,
//     .btn-toggle{transform:translateZ(0);}
// }

.ios-img {
  display: none;
}
.ios-content {
  display: none;
}
html.ios,
html.safari {
  .ios-img {
    display: inline;
  }
  .android-img {
    display: none;
  }
  .ios-content {
    display: block;
  }
  .android-content {
    display: none;
  }
}
