#wrap {
  display: flex;
  min-height: -vh(100);
  flex-direction: column;
  // min-width: 32rem;
}
#header {
  position: sticky;
  top: 0;
  height: 4rem;
  flex: 0 0 4rem;
  z-index: 50;
  transition: z-index 0s 0.3s;
  > div {
    position: relative;
    display: flex;
    height: 4rem;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    background: #fff;
    transition: 0.3s;
    @include web-center;
  }
  &.top-fixed {
    > div {
      // position: fixed;
      // left: 0;
      // top: 0;
      // width: 100%;
      box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.08);
    }
  }
  &.no-shadow {
    > div {
      box-shadow: none !important;
    }
  }
  h1 {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 0 0 0 3.8rem;
    &.last,
    &:last-child {
      margin-right: 3.8rem;
    }
  }
  [class*='head-'] {
    position: relative;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .head-right {
    display: flex;
    width: auto;
    margin-left: auto;
  }
  .head-back {
    width: 3.2rem;
    flex: 0 0 3.2rem;
    background: url(../images/icon/head-back@3x.png) no-repeat center center / contain;
    + h1 {
      margin-left: 0.6rem;
    }
  }
  .head-search {
    flex: 0 0 3.2rem;
    margin-right: 0.6rem;
    background: url(../images/icon/head-search@3x.png) no-repeat center center / 2.4rem 2.4rem;
  }
  .head-cart {
    flex: 0 0 3.2rem;
    margin-right: 0.6rem;
    background: url(../images/icon/head-cart@3x.png) no-repeat center center / 2.4rem 2.4rem;
  }
  .head-home {
    flex: 0 0 3.2rem;
    margin-right: 0.6rem;
    background: url(../images/icon/head-home@3x.png) no-repeat center center / 2.4rem 2.4rem;
  }
  .head-close {
    flex: 0 0 3.2rem;
    margin-right: 0.6rem;
    background: url(../images/icon/head-close@3x.png) no-repeat center center / 2.4rem 2.4rem;
  }
  .head-gnb {
    width: 3.2rem;
    flex: 0 0 3.2rem;
    i {
      @include text-blind;
      display: block;
      position: absolute;
      width: 2rem;
      height: 0.2rem;
      background: #333;
      top: 1.5rem;
      right: 0.6rem;
      transition: background 0.3s 0s;
      &:before {
        display: block;
        position: absolute;
        width: 2rem;
        height: 0.2rem;
        background: #333;
        content: '';
        transition: width 0.2s 0.4s, top 0.2s 0.2s, transform 0.2s 0s;
        top: -0.7rem;
        right: 0;
        width: 1.2rem;
      }
      &:after {
        display: block;
        position: absolute;
        width: 2rem;
        height: 0.2rem;
        background: #333;
        content: '';
        transition: width 0.2s 0.4s, bottom 0.2s 0.2s, transform 0.2s 0s;
        bottom: -0.7rem;
        right: 0;
        width: 1.2rem;
      }
    }
    &.on {
      i {
        width: 2rem;
        background: transparent;
        // transition: background 0s 0s;
        &:before {
          transition: width 0.2s 0s, top 0.2s 0.2s, transform 0.2s 0.4s;
          right: 0;
          top: 0;
          width: 2rem;
          transform: rotate(45deg);
        }
        &:after {
          transition: width 0.2s 0s, bottom 0.2s 0.2s, transform 0.2s 0.4s;
          bottom: 0;
          width: 2rem;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

#gnb {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 120;
  & > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include dimm;
    transition: 0.45s cubic-bezier(0.22, 0.61, 0.2, 1) 0.15s;
  }
  & > .gnb-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.45s cubic-bezier(0.22, 0.61, 0.2, 1);
    overflow: hidden;
    transform: translate3d(120%, 0, 0);
  }
  &.show {
    visibility: visible;
    & > .bg {
      opacity: 1;
      transition-delay: 0s;
    }
    & > .gnb-inner {
      transition-delay: 0.15s;
      transform: translate3d(0, 0, 0);
    }
  }
}
.gnb-header {
  position: relative;
  display: flex;
  height: 5rem;
  align-items: center;
  background: #fff;
  flex-shrink: 0;
  border-bottom: 0.1rem solid #eee;
  h1 {
    padding: 0 4rem;
    margin: 0;
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
  }
  [class*='gnb-'] {
    position: relative;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .gnb-close {
    position: absolute;
    right: 1.6rem;
    top: 0.9rem;
    background: url(../images/icon/head-close@3x.png) no-repeat center center / 2.4rem 2.4rem;
  }
}
.gnb-content {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  .gnb-dep1 {
    position: relative;
    width: 10rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include scroll-hide;
    > ul {
      > li {
        > a {
          border-bottom: 0.1rem solid #eee;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
          height: 9.2rem;
          > strong {
            display: block;
            margin-top: 0.5rem;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 2rem;
          }
        }
        &.open {
          > a {
            background: var(--primary-color);
            color: #fff;
            z-index: 1;
          }
        }
      }
      & + .btn {
        margin-top: 2.8rem;
      }
    }
  }
  li.open > .gnb-dep2 {
    display: block;
  }
  .gnb-dep2 {
    display: none;
    position: fixed;
    left: 10rem;
    right: 0;
    top: 0;
    height: 100%;
    border-left: 0.1rem solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
    @include scroll-hide;
    > ul {
      > li {
        border-bottom: 0.1rem solid #eee;
        > a {
          position: relative;
          display: block;
          padding: 1.4rem 2rem;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 2.2rem;
          transition: 0.3s;
          &.is-toggle {
            padding-right: 5rem;
            &:after {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              position: absolute;
              top: 1.2rem;
              right: 2rem;
              background: url(../images/common/gnb-toggle@3x.png) no-repeat center center / contain;
              transform: rotate3d(1, 0, 0, 0deg);
              transition: 0.3s;
            }
          }
        }
        &.open > a:after {
          transform: rotate3d(1, 0, 0, 180deg);
        }
        &.active > a {
          font-weight: bold;
          color: var(--primary-color);
        }
      }
    }
  }
  .gnb-dep3 {
    background: #f8f8f8;
    > ul {
      > li {
        border-top: 0.1rem solid #eee;
        > a {
          display: block;
          padding: 1.2rem 2rem 1.2rem 3.2rem;
          color: #666;
          font-size: 1.2rem;
          line-height: 1.6rem;
          transition: 0.3s;
        }
        &.active > a {
          font-weight: bold;
          color: var(--primary-color);
        }
      }
    }
  }
}
[class*='gnb-ico-'] {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background: no-repeat center center / contain;
}
.gnb-ico-1 {
  background-image: url(../images/common/gnb-ico-1-off@3x.png);
}
.open .gnb-ico-1 {
  background-image: url(../images/common/gnb-ico-1-on@3x.png);
}
.gnb-ico-2 {
  background-image: url(../images/common/gnb-ico-2-off@3x.png);
}
.open .gnb-ico-2 {
  background-image: url(../images/common/gnb-ico-2-on@3x.png);
}
.gnb-ico-3 {
  background-image: url(../images/common/gnb-ico-3-off@3x.png);
}
.open .gnb-ico-3 {
  background-image: url(../images/common/gnb-ico-3-on@3x.png);
}
.gnb-ico-4 {
  background-image: url(../images/common/gnb-ico-4-off@3x.png);
}
.open .gnb-ico-4 {
  background-image: url(../images/common/gnb-ico-4-on@3x.png);
}
.gnb-ico-5 {
  background-image: url(../images/common/gnb-ico-5-off@3x.png);
}
.open .gnb-ico-5 {
  background-image: url(../images/common/gnb-ico-5-on@3x.png);
}
.gnb-ico-6 {
  background-image: url(../images/common/gnb-ico-6-off@3x.png);
}
.open .gnb-ico-6 {
  background-image: url(../images/common/gnb-ico-6-on@3x.png);
}
.gnb-ico-7 {
  background-image: url(../images/common/gnb-ico-7-off@3x.png);
}
.open .gnb-ico-7 {
  background-image: url(../images/common/gnb-ico-7-on@3x.png);
}

#container {
  position: relative;
  flex: 1 1 auto;
}
#contents {
  position: relative;
  > .section:last-child {
    padding-bottom: 6rem;
  }
}
.section {
  padding: 0 2.4rem;
  @include web-center;
  &.last {
    padding-bottom: 6rem;
  }
  &.top-line {
    position: relative;
    &:before {
      content: '';
      display: block;
      @include line;
      @include outer;
    }
  }
}
// @media (min-width:1024px) {
//   #container{
//     max-width: 1024px;
//   }
// }

.floating-btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  transition: padding 0.3s, bottom 0.3s;
  &.top-on {
    padding-bottom: 5.6rem;
  }
  .btn {
    position: relative;
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    z-index: 1;
    + .btn {
      margin-top: 0.8rem;
    }
    &.btn-page-top {
      position: absolute;
      bottom: 0;
      opacity: 0;
      right: -15rem;
      z-index: 0;
      transition: opacity 0.3s, right 0s 0.3s;
      background: rgba(255, 255, 255, 0.9)
        url("data:image/svg+xml,%3Csvg id='icon-arrow-up' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Cpath id='선_42' data-name='선 42' class='cls-2' transform='translate(12 5)' d='M0 14V0'/%3E%3Cpath id='패스_18' data-name='패스 18' class='cls-2' d='m5 12 7-7 7 7'/%3E%3C/svg%3E")
        no-repeat center center;
      background-size: 2.4rem auto;
      backdrop-filter: blur(3px);
      &.on {
        opacity: 1;
        right: 0;
        transition-delay: 0s, 0s;
      }
    }
    &.btn-history {
      img {
        position: relative;
        @include img-fit(false);
      }
      &.off:before {
        content: '퀵 메뉴';
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        color: #fff;
        font-size: 1rem;
        line-height: 1.33;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}
html.full-contents {
  height: 100%;
  #header,
  #footer {
    display: none;
  }
  body,
  #wrap,
  #container,
  #contents {
    height: 100%;
  }
  #contents {
    > .section {
      height: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

//gnb
.folding-list.gnb-list {
  border-width: 0;
  > li {
    border-top-width: 0;
    &:before {
      content: '';
      display: block;
      height: 0.1rem;
      margin: 0 2rem;
      background: #eee;
    }
  }
  .folding-head {
    font-size: 1.6rem;
    a {
      padding: 2rem 5.4rem 2rem 5.2rem;
      i {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 2rem;
        top: 2rem;
        background: #000;
      }
    }
  }
  .folding-panel {
    padding-top: 0;
    padding-left: 5.2rem;
    padding-bottom: 2.6rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 50%;
        > a {
          display: block;
          padding: 0.6rem 0;
          font-size: 1.4rem;
          color: #666;
        }
      }
    }
  }
}
