#wrap,
.page {
  position: relative;
  display: flex;
  min-height: -vh(100);
  flex-direction: column;
  // min-width: 32rem;
}
.header-space {
  position: sticky;
  top: 0;
  height: 4rem;
  flex-shrink: 0;
}
#header,
.page-head {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 50;
  background: #fff;
  transition: box-shadow 0.3s, transform 0.3s;
  html.ios & {
    @include ios-top(padding-top);
  }
  > div {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding: 0.2rem 1.2rem;
    transition: 0.3s;
    overflow: hidden;
    @include web-center;
  }
  &.top-fixed {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);

    // box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(255, 255, 255, 1);
    // &.fixed-off {
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    // }

    // > div {
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    // box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.08);
    // }
  }
  &.no-shadow {
    > div {
      box-shadow: none !important;
    }
  }
  &.head-ty2 {
    position: fixed;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s, transform 0.3s;
    // &.top-fixed {
    //   box-shadow: none;
    //   background: rgba(255, 255, 255, 0.9);
    //   backdrop-filter: blur(2px);
    // }
  }

  h1 {
    flex: 1 1 auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: normal;
    text-align: center;
    padding: 0 1.3rem;
  }
}
.button[class*='head-'] {
  position: relative;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  overflow: hidden;
  flex-shrink: 0;
  @include bg-etc(2.4rem auto);
  .btn-click-in {
    display: none;
  }
  + [class*='head-'] {
    margin-left: 0.4rem;
  }
}
.head-left,
.head-right {
  display: flex;
  width: auto;
  height: auto;
}
.head-right {
  margin-left: auto !important;
}
.head-back {
  // background-image: url(../images/icon/btn-back-24.png);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5303 3.46967C16.8232 3.76256 16.8232 4.23744 16.5303 4.53033L9.23741 11.8232C9.13978 11.9209 9.13978 12.0791 9.23741 12.1768L16.5303 19.4697C16.8232 19.7626 16.8232 20.2374 16.5303 20.5303C16.2374 20.8232 15.7625 20.8232 15.4696 20.5303L8.17675 13.2374C7.49333 12.554 7.49333 11.446 8.17675 10.7626L15.4696 3.46967C15.7625 3.17678 16.2374 3.17678 16.5303 3.46967Z' fill='%23121619'/%3E%3C/svg%3E");
}
.head-close {
  margin-right: 0.2rem;
  // background-image: url(../images/icon/btn-close-24.png);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.98954 4.67878C5.69665 4.38588 5.22178 4.38588 4.92888 4.67878C4.63599 4.97167 4.63599 5.44654 4.92888 5.73944L10.9395 11.75L4.92884 17.7606C4.63594 18.0535 4.63594 18.5284 4.92884 18.8213C5.22173 19.1142 5.6966 19.1142 5.9895 18.8213L12.0001 12.8107L18.0104 18.8209C18.3033 19.1138 18.7781 19.1138 19.071 18.8209C19.3639 18.528 19.3639 18.0531 19.071 17.7603L13.0608 11.75L19.071 5.73981C19.3639 5.44692 19.3639 4.97204 19.071 4.67915C18.7781 4.38626 18.3032 4.38626 18.0103 4.67915L12.0001 10.6893L5.98954 4.67878Z' fill='%23222222'/%3E%3C/svg%3E");
}
.head-gnb {
  i {
    @include text-blind;
    display: block;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background: #333;
    top: 1.7rem;
    right: 0.8rem;
    transition: background 0.3s 0s;
    &:before {
      display: block;
      position: absolute;
      width: 2rem;
      height: 0.2rem;
      background: #333;
      content: '';
      transition: width 0.2s 0.4s, top 0.2s 0.2s, transform 0.2s 0s;
      top: -0.7rem;
      right: 0;
      width: 1.2rem;
    }
    &:after {
      display: block;
      position: absolute;
      width: 2rem;
      height: 0.2rem;
      background: #333;
      content: '';
      transition: width 0.2s 0.4s, bottom 0.2s 0.2s, transform 0.2s 0s;
      bottom: -0.7rem;
      right: 0;
      width: 1.2rem;
    }
  }
  &.on {
    i {
      width: 2rem;
      background: transparent;
      // transition: background 0s 0s;
      &:before {
        transition: width 0.2s 0s, top 0.2s 0.2s, transform 0.2s 0.4s;
        right: 0;
        top: 0;
        width: 2rem;
        transform: rotate(45deg);
      }
      &:after {
        transition: width 0.2s 0s, bottom 0.2s 0.2s, transform 0.2s 0.4s;
        bottom: 0;
        width: 2rem;
        transform: rotate(-45deg);
      }
    }
  }
}

.scl-title-hide {
  opacity: 0;
  transform: translateY(100%);
}
#gnb {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 120;
  & > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include dimm;
    transition: 0.45s cubic-bezier(0.22, 0.61, 0.2, 1) 0.15s;
  }
  & > .gnb-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.45s cubic-bezier(0.22, 0.61, 0.2, 1);
    overflow: hidden;
    transform: translate3d(120%, 0, 0);
  }
  &.show {
    visibility: visible;
    & > .bg {
      opacity: 1;
      transition-delay: 0s;
    }
    & > .gnb-inner {
      transition-delay: 0.15s;
      transform: translate3d(0, 0, 0);
    }
  }
}
.gnb-header {
  position: relative;
  display: flex;
  height: 6rem;
  align-items: center;
  background: #fff;
  flex-shrink: 0;
  border-bottom: 0.1rem solid #eee;
  h1 {
    padding: 0 4rem;
    margin: 0;
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    font-weight: normal;
  }
  [class*='gnb-'] {
    position: relative;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .gnb-close {
    position: absolute;
    right: 1.7rem;
    top: 50%;
    margin-top: -1.2rem;
    @include bg-etc;
    // background-image: url(../images/icon/btn-close-24.png);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.98954 4.67878C5.69665 4.38588 5.22178 4.38588 4.92888 4.67878C4.63599 4.97167 4.63599 5.44654 4.92888 5.73944L10.9395 11.75L4.92884 17.7606C4.63594 18.0535 4.63594 18.5284 4.92884 18.8213C5.22173 19.1142 5.6966 19.1142 5.9895 18.8213L12.0001 12.8107L18.0104 18.8209C18.3033 19.1138 18.7781 19.1138 19.071 18.8209C19.3639 18.528 19.3639 18.0531 19.071 17.7603L13.0608 11.75L19.071 5.73981C19.3639 5.44692 19.3639 4.97204 19.071 4.67915C18.7781 4.38626 18.3032 4.38626 18.0103 4.67915L12.0001 10.6893L5.98954 4.67878Z' fill='%23222222'/%3E%3C/svg%3E");
  }
}
.gnb-content {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  .gnb-dep1 {
    position: relative;
    width: 10rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include scroll-hide;
    > ul {
      > li {
        > a {
          border-bottom: 0.1rem solid #eee;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
          height: 9.2rem;
          > strong {
            display: block;
            margin-top: 0.5rem;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 2rem;
          }
        }
        &.open {
          > a {
            background: var(--primary-color);
            color: #fff;
            z-index: 1;
          }
        }
      }
      & + .btn {
        margin-top: 2.8rem;
      }
    }
  }
  li.open > .gnb-dep2 {
    display: block;
  }
  .gnb-dep2 {
    display: none;
    position: fixed;
    left: 10rem;
    right: 0;
    top: 0;
    height: 100%;
    border-left: 0.1rem solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
    @include scroll-hide;
    > ul {
      > li {
        border-bottom: 0.1rem solid #eee;
        > a {
          position: relative;
          display: block;
          padding: 1.4rem 2rem;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 2.2rem;
          transition: 0.3s;
          &.is-toggle {
            padding-right: 5rem;
            &:after {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              position: absolute;
              top: 1.2rem;
              right: 2.4rem;
              background: url(../images/common/gnb-toggle@3x.png) no-repeat center center / contain;
              transform: rotate3d(1, 0, 0, 0deg);
              transition: 0.3s;
            }
          }
        }
        &.open > a:after {
          transform: rotate3d(1, 0, 0, 180deg);
        }
        &.active > a {
          font-weight: bold;
          color: var(--primary-color);
        }
      }
    }
  }
  .gnb-dep3 {
    background: #f8f8f8;
    > ul {
      > li {
        border-top: 0.1rem solid #eee;
        > a {
          display: block;
          padding: 1.2rem 2rem 1.2rem 3.2rem;
          font-size: 1.2rem;
          line-height: 1.6rem;
          transition: 0.3s;
        }
        &.active > a {
          font-weight: bold;
          color: var(--primary-color);
        }
      }
    }
  }
}
[class*='gnb-ico-'] {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  @include bg-etc;
}
.gnb-ico-1 {
  background-image: url(../images/common/gnb-ico-1-off@3x.png);
}
.open .gnb-ico-1 {
  background-image: url(../images/common/gnb-ico-1-on@3x.png);
}
.gnb-ico-2 {
  background-image: url(../images/common/gnb-ico-2-off@3x.png);
}
.open .gnb-ico-2 {
  background-image: url(../images/common/gnb-ico-2-on@3x.png);
}
.gnb-ico-3 {
  background-image: url(../images/common/gnb-ico-3-off@3x.png);
}
.open .gnb-ico-3 {
  background-image: url(../images/common/gnb-ico-3-on@3x.png);
}
.gnb-ico-4 {
  background-image: url(../images/common/gnb-ico-4-off@3x.png);
}
.open .gnb-ico-4 {
  background-image: url(../images/common/gnb-ico-4-on@3x.png);
}
.gnb-ico-5 {
  background-image: url(../images/common/gnb-ico-5-off@3x.png);
}
.open .gnb-ico-5 {
  background-image: url(../images/common/gnb-ico-5-on@3x.png);
}
.gnb-ico-6 {
  background-image: url(../images/common/gnb-ico-6-off@3x.png);
}
.open .gnb-ico-6 {
  background-image: url(../images/common/gnb-ico-6-on@3x.png);
}
.gnb-ico-7 {
  background-image: url(../images/common/gnb-ico-7-off@3x.png);
}
.open .gnb-ico-7 {
  background-image: url(../images/common/gnb-ico-7-on@3x.png);
}

#container,
.page-body {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // height: 100%;
  > section,
  > div {
    width: 100%;
  }
  > .section {
    &:first-child {
      padding-top: var(--base-padding);
    }
    &:last-child {
      padding-bottom: var(--base-padding);
    }
  }
  > div:first-child:not(.section) + .section {
    padding-top: var(--base-padding);
  }
}
.center-contents {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
  }
}
.bottom-contents {
  margin-top: auto;
}
.section {
  padding: 0 var(--base-padding);
  @include web-center;
  &.first {
    padding-top: var(--base-padding);
  }
  &.last {
    padding-bottom: 6rem;
  }
}
.bottom-fixed-space {
  flex-shrink: 0;
}

.floating-btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  right: 2.4rem;
  width: auto !important;
  z-index: 50;
  transition: padding 0.3s, bottom 0.3s;
  &.top-on {
    padding-bottom: 5.6rem;
  }
  .btn {
    position: relative;
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    z-index: 1;
    font-size: 1rem;
    line-height: 1.33;
    color: var(--strong-txt-color);
    + .btn {
      margin-top: 0.8rem;
    }
    &.btn-page-top {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      opacity: 0;
      right: -15rem;
      z-index: 0;
      transition: opacity 0.3s, right 0s 0.3s;
      background-color: #fff;
      // @include bg-etc(2.4rem auto);
      // background-image: url("data:image/svg+xml,%3Csvg id='icon-arrow-up' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Cpath id='선_42' data-name='선 42' class='cls-2' transform='translate(12 5)' d='M0 14V0'/%3E%3Cpath id='패스_18' data-name='패스 18' class='cls-2' d='m5 12 7-7 7 7'/%3E%3C/svg%3E");
      &.on {
        opacity: 1;
        right: 0;
        transition-delay: 0s, 0s;
      }
    }
    &.btn-quick {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      color: #fff;
      img {
        @include img-fit(true);
      }
    }
  }
}

//gnb
.folding-list.gnb-list {
  border-width: 0;
  > li {
    border-top-width: 0;
    &:before {
      content: '';
      display: block;
      height: 0.1rem;
      margin: 0 2rem;
      background: #eee;
    }
  }
  .folding-head {
    font-size: 1.6rem;
    a {
      padding: 2rem 5.4rem 2rem 5.2rem;
      i {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 2rem;
        top: 2rem;
        background: #000;
      }
    }
  }
  .folding-panel {
    padding-top: 0;
    padding-left: 5.2rem;
    padding-bottom: 2.6rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 50%;
        > a {
          display: block;
          padding: 0.6rem 0;
          font-size: 1.4rem;
        }
      }
    }
  }
}

$refresh-offset: 187;
$refresh-duration: 1.4s;
.page-refresh {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  > .ico {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: scale(0);
    &.ing {
      transition: 0.2s;
      .svg-path {
        transition: stroke-dashoffset 0.2s;
      }
    }
  }
  .ico-in {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/page-refresh.png) no-repeat center center / contain;
  }
  .svg {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    stroke: #fff;
  }
  .svg-path {
    stroke-dasharray: $refresh-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
  }

  html.refreshing & {
    .svg {
      animation: refresh-rotator $refresh-duration linear infinite;
    }
    .svg-path {
      animation: refresh-dash $refresh-duration ease-in-out infinite, refresh-colors ($refresh-duration * 4) ease-in-out infinite;
    }
  }
}

@keyframes refresh-rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes refresh-colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes refresh-dash {
  0% {
    stroke-dashoffset: $refresh-offset;
  }
  50% {
    stroke-dashoffset: $refresh-offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $refresh-offset;
    transform: rotate(450deg);
  }
}
