#wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 320px;
}
#header{
  position: sticky;
  top: 0;
  height: 68px;
  flex: 0 0 68px;
  z-index: 50;
  transition: z-index 0s 0.3s;
  >div{
    position: relative;
    display: flex;
    height: 68px;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    background: #fff;
    transition: 0.3s;
    @include web-center;
  }
  &.top__fixed{
    >div{
      // position: fixed;
      // left: 0;
      // top: 0;
      // width: 100%;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    }
  }
  &.no-shadow{
    >div{
      box-shadow: none !important;
    }
  }
  h1 {
    flex: 1 1 auto;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 38px;
    &.last,
    &:last-child{
      margin-right: 38px;
    }
    &.logo{
      @include text-blind;
      width: 53px;
      height: 36px;
      background: url(../images/common/head-logo@3x.png) no-repeat center center / contain;
      flex: 0 0 auto;
      margin-left: 0;
    }
  }
  [class*=head-]{
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .head-right{
    display: flex;
    width: auto;
    margin-left: auto;
  }
  .head-back{
    width: 32px;
    flex: 0 0 32px;
    background: url(../images/icon/head-back@3x.png) no-repeat center center / contain;
    + h1{
      margin-left: 6px;
    }
  }
  .head-search {
    flex: 0 0 32px;
    margin-right: 6px;
    background: url(../images/icon/head-search@3x.png) no-repeat center center / 24px 24px;
  }
  .head-cart {
    flex: 0 0 32px;
    margin-right: 6px;
    background: url(../images/icon/head-cart@3x.png) no-repeat center center / 24px 24px;
  }
  .head-home {
    flex: 0 0 32px;
    margin-right: 6px;
    background: url(../images/icon/head-home@3x.png) no-repeat center center / 24px 24px;
  }
  .head-close {
    flex: 0 0 32px;
    margin-right: 6px;
    background: url(../images/icon/head-close@3x.png) no-repeat center center / 24px 24px;
  }
  .head-gnb{
    width: 32px;
    flex: 0 0 32px;
    i {
      @include text-blind;
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      background: #333;
      top: 20px;
      right: 6px;
      transition: background 0.3s 0s;
      &:before {
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: #333;
        content: '';
        transition: width 0.2s 0.4s, top 0.2s 0.2s, transform 0.2s 0s;
        top: -7px;
        right: 0;
        width: 12px;
      }
      &:after {
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: #333;
        content: '';
        transition: width 0.2s 0.4s, bottom 0.2s 0.2s, transform 0.2s 0s;
        bottom: -7px;
        right: 0;
        width: 12px;
      }
    }
    &.on {
      i {
        width: 20px;
        background: transparent;
        // transition: background 0s 0s;
        &:before {
          transition: width 0.2s 0s, top 0.2s 0.2s, transform 0.2s 0.4s;
          right: 0;
          top: 0;
          width: 20px;
          transform: rotate(45deg);
        }
        &:after {
          transition: width 0.2s 0s, bottom 0.2s 0.2s, transform 0.2s 0.4s;
          bottom: 0;
          width: 20px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .btn-category{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 16px 20px 16px 0;
    > sub{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding-right: 20px;
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      font-weight: normal;
    }
    &:after{
      content:'';
      display: block;
      position: absolute;
      right: 0;
      top: 20px;
      width: 16px;
      height: 16px;
      transition: 0.3s;
      background: url(../images/icon/ico-category-arr@3x.png) no-repeat center center / contain;
    }
  }
  .category-wrap{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #f8f8f8;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    ul{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #ddd;
      &:before{
        content:'';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #ddd;
      }
      li{
        position: relative;
        border-bottom: 1px solid #ddd;
        width: 50%;
        &:nth-child(odd){
          border-right: 1px solid #ddd;
        }
        a{
          display: flex;
          height: 44px;
          padding: 0 10px;
          font-size: 14px;
          line-height: 22px;
          align-items: center;
          justify-content: center;
          word-break: break-all;
          div{
            @include ellipsis(2)
          }
        }
      }
    }
  }
  &.is-category-open{
    z-index: 60;
    transition-delay: 0s;
    >div{
      box-shadow: none;
    }
    .btn-category{
      &:after{
        transform:rotate3d(1,0,0,180deg);
      }
    }
    .category-wrap{
      visibility: visible;
      max-height: 100vh;
    }
  }
}

#gnb{
  visibility:hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index:120;
  &>.bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background:rgba(0,0,0,.7);
    backdrop-filter: blur(1px);
    transition:0.45s cubic-bezier(0.22,0.61,0.2,1) 0.15s;
  }
  &>.gnb-inner{
    display:flex;
    flex-direction:column;
    position:relative;
    width:100%;height:100%;
    background-color:#fff;
    transition:0.45s cubic-bezier(0.22,0.61,0.2,1);
    overflow:hidden;
    transform:translate3d(-120%,0,0);
  }
  &.show{
    visibility:visible;
    &>.bg{
      opacity:1;
      transition-delay:0s;
    }
    &>.gnb-inner{
      transition-delay:0.15s;
      transform:translate3d(0,0,0);
    }
  }
}
.gnb-header{
  position: relative;
  display: flex;
  height: 68px;
  align-items: center;
  background: #fff;
  flex-shrink: 0;
  border-bottom: 1px solid #eee;
  h1 {
    padding: 0 40px;
    margin: 0;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  [class*=gnb-]{
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .gnb-close {
    position: absolute;
    right: 16px;
    top: 18px;
    background: url(../images/icon/head-close@3x.png) no-repeat center center / 24px 24px;
  }
}
.gnb-content{
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  transform:translate3d(0,0,0);
  .gnb-dep1{
    position:relative;
    width:100px;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    @include scroll-hide;
    >ul{
      >li{
        >a{
          border-bottom: 1px solid #eee;
          display:flex;
          flex-direction: column;
          align-items:center;
          justify-content: center;
          padding:0;
          height:92px;
          >strong{
            display: block;
            margin-top: 5px;
            font-size:13px;
            font-weight:bold;
            line-height:20px;
          }
        }
        &.open{
          >a{
            background:var(--theme-color);color:#fff;z-index:1;
          }
        }
      }
      &+.btn{
        margin-top:28px;
      }
    }
  }
  li.open>.gnb-dep2{
    display:block;
  }
  .gnb-dep2{
    display:none;
    position:fixed;
    left:100px;
    right:0;
    top:0;
    height:100%;
    border-left:1px solid #ddd;
    overflow-x:hidden;
    overflow-y:auto;
    transform:translate3d(0,0,0);
    -webkit-overflow-scrolling:touch;
    @include scroll-hide;
    >ul{
      >li{
        border-bottom:1px solid #eee;
        >a{
          position: relative;
          display: block;
          padding:14px 20px;
          font-weight:500;
          font-size:14px;
          line-height: 22px;
          transition: 0.3s;
          &.is-toggle{
            padding-right: 50px;
            &:after{
              content:'';
              display: block;
              width: 24px;
              height: 24px;
              position: absolute;
              top: 12px;
              right: 20px;
              background: url(../images/common/gnb-toggle@3x.png) no-repeat center center / contain;
              transform:rotate3d(1,0,0,0deg);
              transition: 0.3s;
            }
          }
        }
        &.open > a:after{
          transform:rotate3d(1,0,0,180deg);
        }
        &.active > a{
          font-weight: bold;
          color: var(--theme-color);
        }
      }
    }
  }
  .gnb-dep3{
    background: #f8f8f8;
    >ul{
      >li{
        border-top:1px solid #eee;
        >a{
          display: block;
          padding:12px 20px 12px 32px;
          color: #666;
          font-size:12px;
          line-height: 16px;
          transition: 0.3s;
        }
        &.active > a{
          font-weight: bold;
          color: var(--theme-color);
        }
      }
    }
  }
}
[class*=gnb-ico-]{
  display: block;
  width: 32px;
  height: 32px;
  background: no-repeat center center / contain;
}
.gnb-ico-1{background-image: url(../images/common/gnb-ico-1-off@3x.png);}
.open .gnb-ico-1{background-image: url(../images/common/gnb-ico-1-on@3x.png);}
.gnb-ico-2{background-image: url(../images/common/gnb-ico-2-off@3x.png);}
.open .gnb-ico-2{background-image: url(../images/common/gnb-ico-2-on@3x.png);}
.gnb-ico-3{background-image: url(../images/common/gnb-ico-3-off@3x.png);}
.open .gnb-ico-3{background-image: url(../images/common/gnb-ico-3-on@3x.png);}
.gnb-ico-4{background-image: url(../images/common/gnb-ico-4-off@3x.png);}
.open .gnb-ico-4{background-image: url(../images/common/gnb-ico-4-on@3x.png);}
.gnb-ico-5{background-image: url(../images/common/gnb-ico-5-off@3x.png);}
.open .gnb-ico-5{background-image: url(../images/common/gnb-ico-5-on@3x.png);}
.gnb-ico-6{background-image: url(../images/common/gnb-ico-6-off@3x.png);}
.open .gnb-ico-6{background-image: url(../images/common/gnb-ico-6-on@3x.png);}
.gnb-ico-7{background-image: url(../images/common/gnb-ico-7-off@3x.png);}
.open .gnb-ico-7{background-image: url(../images/common/gnb-ico-7-on@3x.png);}

#container{
  position: relative;
  flex: 1 1 auto;
}
#contents{
  position: relative;
  >.section:last-child{
    padding-bottom: 60px;
  }
}
.section { 
  padding:0 20px; 
  @include web-center;
  &.last{
    padding-bottom: 60px;
  }
  &.top-line{
    position: relative;
    &:before{
      content:'';
      display: block;
      @include line;
      @include outer;
    }
  }
}
// @media (min-width:1024px) {
//   #container{
//     max-width: 1024px;
//   }
// }

#footer{
  border-top: 1px solid #f4f4f4;
  padding: 23px 0 32px;
  .foot-call{
    dt{
      font-size: 14px;
      font-weight: bold;
      line-height: 1.29;
      color: #222;
    }
    dd{
      margin-top: 4px;
      font-size: 12px;
      line-height: 1.5;
      color: #666;
      div+div{
        margin-top: 4px;
      }
    }
  }
  .foot-menu{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
    color: #666;
    strong{
      color: #222;
    }
    li{
      position: relative;
      padding: 0 9px 0 8px;
      &:after{
        content:'';
        display: block;
        position: absolute;
        right: 0;
        top: 4px;
        width: 1px;
        height: 10px;
        background: #666;
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
        &:after{
          content: none;
        }
      }
    }
  }
  .foot-info,
  .foot-copy{
    font-size: 10px;
    line-height: 15px;
    color: 999;
    color: #999;
    > div{
      display: flex;
      flex-wrap: wrap;
      > div{
        position: relative;
        padding: 0 9px 0 8px;
        &:after{
          content:'';
          display: block;
          position: absolute;
          right: 0;
          top: 4px;
          width: 1px;
          height: 10px;
          background: #999;
        }
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
          &:after{
            content: none;
          }
        }
      }
      +div{
        margin-top: 4px;
      }
    }
  }
  .foot-info{
    margin-top: 16px;
  }
  .foot-copy{
    margin-top: 12px;
  }
}

.floating-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 68px;
  z-index: 50;
  transition: 0.3s;
  background: #fff;
  box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.08);
  > ul{
    display: flex;
    height: 100%;  
    overflow: hidden;
    @include web-center;
    > li{
      width: 100%;
    }
    .button{
      width: 100%;
      padding: 0;
      height: 100%;
      text-align: center;
      flex-direction: column;
      [class*=i-ico-]{
        margin-right: 0;
      }
      div{
        margin-top: 1px;
        font-size: 10px;
        line-height: 1.6;
        color: #666;
      }
    }
  }
  .floating-btn{
    position: absolute;
  }
  &.off{
    transform:translateY(100%);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  &.end{
    > ul{
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}
.floating-btn{
  display:flex;
  flex-direction:column;
  position:fixed;
  bottom:20px;
  right:20px;
  z-index:50;
  transition:padding 0.3s;
  &.top-on{
    padding-bottom:56px;
  }
  .btn{
    position:relative;
    display:block;
    width:48px;
    height:48px;
    background-color:#fff;
    border-radius:50%;
    overflow: hidden;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    transition:0.3s;
    z-index: 1;
    +.btn{
      margin-top: 8px
    }
    &.btn-page-top{
      position: absolute;
      bottom: 0;
      opacity:0;
      right:-150px;
      z-index: 0;
      transition:opacity 0.3s,right 0s 0.3s;
      background: rgba(255,255,255,0.9) url("data:image/svg+xml,%3Csvg id='icon-arrow-up' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Cpath id='선_42' data-name='선 42' class='cls-2' transform='translate(12 5)' d='M0 14V0'/%3E%3Cpath id='패스_18' data-name='패스 18' class='cls-2' d='m5 12 7-7 7 7'/%3E%3C/svg%3E") no-repeat center center;
      background-size: 24px auto;
      backdrop-filter: blur(3px);
      &.on{
        opacity:1;
        right:0;
        transition-delay:0s,0s;
      }
    }
    &.btn-history{
      img{
        position: relative;
        @include img-fit(false);
      }
      &.off:before{
        content:'최근 본 상품';
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        color: #fff;
        font-size: 10px;
        line-height: 1.33;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}