/* @mixin */
@use "sass:selector";
/// 간단한 선택자 내포 API를 제공하는 헬퍼 믹스인
/// @param {String} $selector - 선택자
@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin mediaMinWidth($size) {
  @media (min-width:#{$size}px) {
    @content;
  }
}
@mixin mediaMaxWidth($size) {
  @media (max-width:#{$size}px) {
    @content;
  }
}
@mixin mediaMinHeight($size) {
  @media (min-height:#{$size}px) {
    @content;
  }
}
@mixin mediaMaxHeight($size) {
  @media (max-height:#{$size}px) {
    @content;
  }
}
@mixin sticky {
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    @content;
  }
}

@mixin text-blind() {
  font-size: 3px;
  color: transparent;
}

@mixin ellipsis($line: 1) {
  overflow: hidden;
  @if($line==1) {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin clear-fix {
  content: '';
  display: block;
  clear: both;
}

@mixin img-fit($isAbsolute: false, $type: cover) {
  @if $isAbsolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  width: 100%;
  height: 100%;
  object-fit: $type;
}

@mixin outer($isPadding: false) {
  margin-left: -20px;
  margin-right: -20px;
  @if $isPadding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin ff-pps($weight: 600) {
  font-family: 'Poppins';
  font-weight: $weight;
}

@mixin scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

@mixin scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin line {
  height: 8px;
  border-top: 1px solid #dbdbdb;
  background: #f4f4f4;
}

@mixin web-center {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}