/* @mixin */
@use 'sass:selector';
// $base-color: #606060;
// $strong-color: #212121;
// $strong-color2: #424242;

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin media-min-width($size) {
  @media (min-width:#{$size}px) {
    @content;
  }
}
@mixin media-max-width($size) {
  @media (max-width:#{$size}px) {
    @content;
  }
}
@mixin media-min-height($size) {
  @media (min-height:#{$size}px) {
    @content;
  }
}
@mixin media-max-height($size) {
  @media (max-height:#{$size}px) {
    @content;
  }
}
@mixin sticky-supports {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    @content;
  }
}

@mixin text-blind {
  font-size: 0.3rem;
  color: transparent;
}

@mixin ellipsis($line: 1) {
  overflow: hidden;
  @if ($line==1) {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin clear-fix {
  content: '';
  display: block;
  clear: both;
}
@mixin bg-etc($size: contain, $position: center center) {
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin img-fit($isAbsolute: false, $type: cover) {
  @if $isAbsolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  width: 100%;
  height: 100%;
  object-fit: $type;
}

@mixin outer($isPadding: false) {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  @if $isPadding {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

@mixin ff-pps($weight: 600) {
  font-family: 'Poppins';
  font-weight: $weight;
}

@mixin scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

@mixin scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin web-center {
  max-width: 102.4rem;
  margin-left: auto;
  margin-right: auto;
}

@mixin dimm {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}

@mixin ios-top($key, $value: 0, $miuns: false) {
  // #{$key}: $value;
  @if ($miuns) {
    #{$key}: -iosConstant($value, true, true);
    #{$key}: -iosEnv($value, true, true);
  } @else {
    #{$key}: -iosConstant($value, true, false);
    #{$key}: -iosEnv($value, true, false);
  }
}
@mixin ios-bottom($key, $value: 0, $miuns: false) {
  // #{$key}: $value;
  @if ($miuns) {
    #{$key}: -iosConstant($value, false, true);
    #{$key}: -iosEnv($value, false, true);
  } @else {
    #{$key}: -iosConstant($value, false, false);
    #{$key}: -iosEnv($value, false, false);
  }
}
