//badge
.badge {
  display: inline-flex;
  font-size: 1.4rem;
  height: 2.4rem;
  padding: 0 0.8rem;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  border-radius: 0.6rem;

  &.gray {
    background: var(--line-color);
    color: #979797;
  }
  &.red {
    background: #ffebee;
    color: #e43333;
  }
  &.green {
    background: #e5f5ed;
    color: #15b071;
  }
  &.black {
    background: var(--strong-txt-color);
    color: #fff;
  }

  &.line {
    background: #fff;
    color: var(--strong-txt-color);
    border-radius: 0;
    border: 0.1rem solid #eee;
  }
  &.round {
    border-radius: 1.5rem;
  }
}
