// 메인 배너
.main-banner-swiper {
  position: relative;
  .section & {
    @include outer;
  }
  .swiper {
    background: none;
    padding: 0 1rem;
  }
  .main-banner-img {
    margin: 0 1rem;
  }
  .swiper-util {
    position: absolute;
    bottom: 1.6rem;
    right: 4rem;
    left: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 2;
    .left {
      display: flex;
      align-items: center;
      .btn-swiper-autoplay {
        margin-left: 0.8rem;
      }
    }
    .swiper-pagination {
      margin-top: 0;
      color: rgba(255, 255, 255, 0.6);
      .swiper-pagination-current {
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .swiper-auto-ctl {
    &:before,
    &:after {
      border-color: #fff;
    }
  }
}
.btn-banner-more {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--primary-color);
}
.main-banner-img {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem;
  &:before {
    content: '';
    display: block;
    // padding-top: 90.625%;
    height: 29rem;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  img {
    @include img-fit(true);
    max-width: none;
    pointer-events: none;
  }
  .cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 2.4rem 5.6rem;
    font-size: 1.4rem;
    color: #fff;
    z-index: 1;
    .tit {
      font-weight: bold;
      font-size: 2.6rem;
      line-height: 1.23;
    }
    div + div {
      margin-top: 0.4rem;
    }
  }
}
.main-banner-wrap {
  .main-banner-img + .main-banner-img {
    margin-top: 2rem;
  }
}

//탑배너
.top-banner {
  text-align: left;
  .section {
    padding: 0;
  }
  .inner {
    position: relative;
    display: block;
    height: 6rem;
    overflow: hidden;
    img {
      @include img-fit;
    }
  }
  .top-banner-close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 3.6rem;
    height: 3.6rem;
    background: url(../images/contents/top-banner-close@3x.png) no-repeat center center / contain;
  }
}

// 메인이벤트 팝업
.pop-event {
  .pop-wrap {
    border-top-width: 0 !important;
  }
  .pop-body {
    padding-top: 0 !important;
  }
  .pop-foot {
    line-height: 1.1;
    > div {
      padding: 2.2rem 2.4rem;
    }
  }
  .btn-today {
    i {
      margin-right: 1.5rem;
    }
  }
  .btn-close {
    font-weight: 500;
    color: var(--strong-txt-color);
    border-bottom: 1px solid var(--strong-txt-color);
  }
}
