// 테스트
.match-animation {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  height: -vh(100);
  > * {
    position: relative;
    height: 50%;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .text-box {
    position: relative;
    text-align: center;
    padding-top: 5.6rem;
    .name {
      font-size: 16px;
      color: #fff;
      opacity: 0;
    }
    .number-random {
      opacity: 0;
      .number {
        font-size: 46px;
      }
      .number:after,
      .number:before,
      span {
        font-size: 46px;
        color: #fff;
      }
      .percent {
        font-size: 38px;
        color: #fff;
        opacity: 0.6;
      }
    }
  }

  .img {
    position: absolute;
    top: 13.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    span {
      opacity: 0;
      display: block;
      height: 100%;
    }

    img {
      height: 100%;
    }
  }

  .top {
    transform: translateY(-100%);
  }
  .down {
    transform: translateY(100%);

    &.influencer {
      .name {
        &:before {
          content: '';
          display: inline-block;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 0.5rem;
          margin-top: -0.5rem;
          vertical-align: middle;
          background: url('../images/match/ico_star.png') no-repeat center center / 100%;
        }
      }
      .img {
        padding-top: 3rem;
        span {
          position: relative;
          width: 15rem;
          height: 15rem;
        }
        span:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 19rem;
          height: 19rem;
          border-radius: 50%;
          border: 0.1rem solid #fff;
          transform: translate(-50%, -50%) rotate(-30deg);
          background: url('../images/match/ico_influencer.png') no-repeat center center / 24.5rem;
        }
        img {
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
          border: 0.1rem solid #fff;
        }
      }
    }
  }
  .vs {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 5.8rem;
    height: 4.6rem;
    text-align: center;
    transform: translate(-50%, -50%);
    span {
      opacity: 0;
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      color: #fff;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #757575 0%, #363636 100%);
      box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
      border-radius: 2.8rem;
    }
  }
  .progressbar {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 0%;
    height: 0.3rem;
    background: #363636;
    transform: translateY(-50%);
    transition: all 3s linear 2s;
  }

  &.action {
    > * {
      .text-box {
        .name {
          animation: fadeInDown 0.5s ease 1s both;
        }
        .number-random {
          animation: fadeIn 0.8s ease 1.2s both;
        }
      }
      .img {
        animation: matchImg 1s ease infinite alternate both;
        span {
          animation: fadeInUp 0.5s ease 0.8s both;
        }
      }
    }
    .top {
      transform: translateY(0);
    }
    .down {
      transform: translateY(0);
    }
    .vs {
      animation: vsShake 1.5s ease-in-out infinite both;
      span {
        animation: bounceIn 0.5s ease 0.6s both;
      }
    }
    .progressbar {
      width: 100%;
    }
  }

  &.action.end {
    pointer-events: none;
    .top {
      overflow: hidden;
      transform: translateY(-101%);
      transition: all 0.5s ease-in-out;
    }
    .down {
      overflow: hidden;
      transform: translateY(101%);
      transition: all 0.5s ease-in-out;
    }
    .vs,
    .progressbar {
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
}

@keyframes vsShake {
  10%,
  90% {
    transform: translate(-50%, -50%) translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate(-50%, -50%) translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-50%, -50%) translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate(-50%, -50%) translate3d(0, 4px, 0);
  }
}

@keyframes matchImg {
  0% {
    transform: translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(1.05);
  }
}

.match-animation-result {
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: none;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  background: #42ccab;

  .top-text-motion {
    padding-top: 8.8rem;
    text-align: center;
    font-size: 0;
    display: flex;
    .slide {
      display: flex;
      animation: topTextMotion 10s linear infinite both;
    }
    span {
      display: inline-block;
      flex: 0 0 auto;
      &:after {
        content: '우와우와우와우와우와우와우와우와';
        font-size: 1.4rem;
        color: #fff;
        letter-spacing: 1.4rem;
      }
    }
  }
  .result-info {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5.1rem 0;
    text-align: center;
    .tit {
      position: relative;
      &:before {
        content: '승리';
        display: block;
        font-size: 8rem;
        color: #fff;
        font-weight: bold;
        line-height: 1;
      }
    }
    .number {
      margin-top: 2.4rem;
      font-size: 4.6rem;
      color: #fff;
      line-height: 1;
      span {
        margin-left: 0.5rem;
        font-size: 3.8rem;
        font-weight: bold;
        line-height: 1;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .img-result-box {
      position: relative;
      margin-top: 4.8rem;
      .img {
        position: relative;
        width: 9.6rem;
        height: 9.6rem;
        margin: 0 auto 0.8rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        font-size: 16px;
        color: #fff;
      }

      &:before {
        content: 'WOW';
        display: block;
        position: absolute;
        top: 0%;
        left: 50%;
        font-size: 12.4rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.1);
        line-height: 0.7;
        transform: translateX(-50%) rotate(-15deg);
      }
    }
  }
  .loss-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    padding: 3.5rem 0rem 3rem;
    border-top: 1px dashed rgba(255, 255, 255, 0.5);
    .img {
      width: 6rem;
      height: 6rem;
      img {
        width: 100%;
        height: 100%;
        filter: grayscale(100);
      }
    }
    .text-box {
      margin-left: 1rem;
      .name {
        color: gba(0, 0, 0, 0.5);
        font-size: 1.2rem;
      }
      .number {
        color: gba(0, 0, 0, 0.5);
        font-size: 1.8rem;
      }
    }
  }

  .btn-wrap {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }

  &.loss {
    background: #606060;
    .top-text-motion {
      span {
        &:after {
          content: '~!@#$%^&*()~!@#$%^&*()';
          color: #e8d52a;
        }
      }
    }
    .result-info {
      .tit {
        &:before {
          content: '패배';
        }
      }
      .img-result-box {
        .img {
          img {
            filter: grayscale(100);
          }
        }

        &:before {
          content: '딥빡';
          font-size: 8.4rem;
          color: rgba(255, 255, 255, 0.05);
          transform: translate(0%, -50%) rotate(-90deg);
          top: 50%;
          left: 0;
        }
        &:after {
          content: '아오';
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          font-size: 8.4rem;
          color: rgba(255, 255, 255, 0.05);
          transform: translate(0%, -50%) rotate(90deg);
          font-weight: bold;
        }
      }
    }

    .loss-info {
      .img {
        img {
          filter: grayscale(0);
        }
      }
      .text-box {
        .name {
          color: rgba(255, 255, 255, 0.5);
        }
        .number {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  &.draw {
    background: #d6dbe1;
    .top-text-motion {
      span {
        &:after {
          content: '헐헐헐헐헐헐헐헐헐헐헐헐헐헐';
          color: #606060;
        }
      }
    }
    .result-info {
      .tit {
        &:before {
          content: '무승부';
          color: #424242;
        }
      }
      .number {
        color: #606060;
        span {
          color: rgba(96, 96, 96, 0.6);
        }
      }
      .img-result-box {
        &:before {
          display: none;
        }
        .text {
          color: #424242;
        }
      }
    }

    .loss-info {
      border-top: 1px dashed rgba(0, 0, 0, 0.3);
      .img {
        img {
          filter: grayscale(0);
        }
      }
      .text-box {
        .name {
          color: #424242;
        }
        .number {
          color: #424242;
        }
      }
    }
  }

  &.show {
    display: flex;

    .result-info {
      .tit {
        animation: bounceIn 0.8s ease 0.4s both;
      }
      .number {
        animation: fadeInUp 0.8s ease 0.6s both;
      }
      .img-result-box {
        .img {
          animation: fadeInUp 0.8s ease 0.8s both;
        }

        .text {
          animation: fadeInUp 0.8s ease 0.8s both;
        }

        &:before,
        &:after {
          animation: fadeIn 0.8s ease 1s both;
        }
      }
    }
    .loss-info {
      .img {
        animation: fadeInLeft 0.8s ease 1.2s both;
      }
      .text-box {
        animation: fadeInRight 0.8s ease 1.4s both;
      }
    }

    .btn-wrap {
      animation: fadeInUp 0.8s ease 2.2s both;
    }
  }
}

@keyframes topTextMotion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.match-animation-wrap {
  #header {
    position: fixed;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  .match-result-wrap {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    padding-top: 4rem;
    height: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    .section {
      padding-top: var(--base-padding);
      padding-bottom: var(--base-padding);
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #606060;
    }
  }
  .btn-wrap {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}

.match-animation-wrap.action {
  #header {
    position: sticky;
    transform: translateY(0%);
    opacity: 1;
    z-index: 11;
    visibility: visible;
    transition: all 0.3s ease 0.3s;
  }

  .match-result-wrap {
    z-index: 10;
    opacity: 1;
    visibility: visible;
  }
}

/* 매치현황 */
.my-match-info {
  margin-top: 1.4rem;
  ul {
    padding: 2.4rem;
    border-radius: 1.6rem;
    background: #fafafa;
    li {
      display: flex;
      align-items: center;
      i {
        margin-right: 1.2rem;
      }
      span {
        padding: 0 0.4rem;
      }
      + li {
        margin-top: 2.4rem;
      }
      .updown {
        margin-left: 0.4rem;
        font-size: 1.2rem;
        vertical-align: middle;

        &:before {
          content: '';
          display: inline-block;
          font-size: 1.2rem;
          vertical-align: middle;
          line-height: 1;
          margin-top: -0.2rem;
        }
        &.up {
          &:before {
            content: '▲';
          }
          color: #3887fd;
        }
        &.down {
          &:before {
            content: '▼';
          }
          color: #eb5757;
        }
      }
    }
  }
}

.match-score-box {
  padding: 2.4rem;
  margin-top: 1.2rem;
  border-radius: 1.6rem;
  background: #fafafa;
  .tit-box {
    display: flex;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ebebeb;
    .tit {
      font-size: 1.6rem;
      strong {
        font-weight: bold;
      }
    }
    .time {
      flex: 0 0 auto;
      margin-left: auto;
      padding-top: 0.2rem;
      font-size: 1.2rem;
      color: #606060;
    }
  }
  .score-list {
    margin-top: 2.4rem;
    .record {
      display: flex;
      justify-content: space-between;
      & > div {
        display: flex;
        align-items: center;
        .img-box {
          width: 6rem;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: -0.6rem;
            left: 50%;
            width: 3rem;
            height: 1.9rem;
            background: url('../images/icon/ico_crown.png') no-repeat center center / 100%;
            transform: translateX(-50%);
          }
        }
        .text {
          margin: 0 0.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #424242;
        }

        &:nth-child(2) {
          flex-flow: row-reverse;
          .img-box {
            img {
              filter: grayscale(100);
            }
            &:after {
              display: none;
            }
          }
          .text {
            color: #979797;
          }
        }
      }
    }
    .point-box {
      margin-top: 0.8rem;
      span {
        display: flex;
        align-items: center;
        color: #424242;
        &:before {
          content: '';
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin-right: 0.6rem;
          vertical-align: middle;
          background: url('../images/icon/ico-point-small.png') no-repeat center center / 100%;
        }
        + span {
          margin-top: 0.5rem;
        }
      }
    }
  }

  &.loss {
    .score-list {
      .record {
        & > div {
          &:nth-child(1) {
            .img-box {
              img {
                filter: grayscale(100);
              }
              &:after {
                display: none;
              }
            }
            .text {
              color: #979797;
            }
          }
          &:nth-child(2) {
            .img-box {
              img {
                filter: grayscale(0);
              }
              &:after {
                display: block;
              }
            }
            .text {
              color: #424242;
            }
          }
        }
      }
    }
  }

  &.draw {
    .score-list {
      .record {
        & > div {
          &:nth-child(1) {
            .img-box {
              img {
                filter: grayscale(0);
              }
              &:after {
                display: none;
              }
            }
            .text {
              color: #424242;
            }
          }
          &:nth-child(2) {
            .img-box {
              img {
                filter: grayscale(0);
              }
              &:after {
                display: none;
              }
            }
            .text {
              color: #424242;
            }
          }
        }
      }
    }
  }
}

.top-100-box {
  margin: 0 -2.4rem;
  > a {
    display: flex;
    padding: 1.8rem 0 1.8rem 0;
    margin: 0 2.4rem 0 1.4rem;
    align-items: center;
    border-bottom: 0.1rem solid #f2f4f6;
    .number {
      display: block;
      flex: 0 0 auto;
      width: 5rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      color: #212121;
    }
    .img-box {
      flex: 0 0 auto;
      width: 4.4rem;
      margin: 0 1.2rem 0 0.7rem;
    }
    .text-box {
      overflow: hidden;
      flex: 1 1 auto;
      .name {
        overflow: hidden;
        font-size: 1.6rem;
        color: #424242;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .score {
        margin-top: 0.3rem;
        font-size: 1.2rem;
        color: #979797;
      }
    }
  }
}

.fight-user-info {
  .user-img {
    position: absolute;
    top: -4rem;
    left: 50%;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    transform: translateX(-50%);
  }

  .info-total-box {
    display: flex;
    position: relative;
    margin-top: 1.6rem;
    padding: 1.6rem 0;
    border-radius: 1.2rem;
    background: #fafafa;
    > div {
      position: relative;
      width: 50%;
      text-align: center;
      font-size: 0;

      &:nth-child(2):after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.1rem;
        height: 7.2rem;
        background: #ebebeb;
        transform: translateY(-50%);
      }
    }
  }

  .hashtag-box {
    overflow: hidden;
    display: flex;
    margin-top: 1.2rem;
    p {
      overflow: hidden;
      flex: 1 1 auto;
      display: flex;
      height: 2.4rem;
      padding: 0.6rem 1.2rem;
      align-items: center;
      background: #fafafa;
      border-radius: 1.3rem;
      max-width: 33.333%;
      span {
        overflow: hidden;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;

        &:before {
          content: '#';
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.2rem;
          font-size: 1.2rem;
          color: #f134c8;
          line-height: 1;
          margin-top: -0.5rem;
        }
      }

      + p {
        margin-left: 0.5rem;
      }
    }
  }

  .circle-info-box {
    position: relative;
    display: flex;
    margin-top: 1.8rem;
    align-items: center;
    justify-content: space-around;
    > .label-text {
      text-align: center;
      .tit {
        font-size: 1.2rem;
        i {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          margin-top: -0.4rem;
          margin-right: 0.4rem;
          vertical-align: middle;
        }
      }
      .number {
        padding-left: 0.4rem;
        font-size: 1.8rem;
        color: #424242;
        font-weight: 500;
      }
    }
  }

  .stock-list-box {
    display: flex;

    .list {
      flex: 1 1 auto;
      margin-top: 1.6rem;
      text-align: center;
      .tit {
        padding-bottom: 0.8rem;
        margin-bottom: 1.6rem;
        border-bottom: 0.1rem solid #ebebeb;
        font-size: 1.2rem;
        color: #424242;
        span {
          color: #b0b0b0;
        }
      }

      ol {
        li {
          line-height: 1;
          &:nth-child(1) {
            font-size: 1.4rem;
          }
          &:nth-child(2) {
            font-size: 1.2rem;
          }
          &:nth-child(3) {
            font-size: 1rem;
          }
          + li {
            margin-top: 1.2rem;
          }
        }
      }

      + .list {
        margin-left: 1.2rem;
      }
    }
  }

  .total-cash {
    margin: 2.4rem 0 0.8rem;
    font-size: 1.6rem;
    text-align: center;
    span {
      font-size: 2.4rem;
      filter: blur(0.8rem);
    }
  }
}
