//버튼
.button {
  position: relative;
  display: inline-flex;
  height: 4.8rem;
  line-height: inherit;
  padding: 0 1.2rem;
  border: 0 solid transparent;
  text-align: center;
  font-size: inherit;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0.8rem;
  -webkit-appearance: none;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  vertical-align: middle;
  transition: opacity 0.3s;
  // white-space:nowrap;
  &.disabled,
  &:disabled {
    opacity: 0.2;
    // -webkit-tap-highlight-color: transparent;
  }

  &.icon {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    [class*='i-ico-'] {
      margin: 0 !important;
    }
    &.share {
      width: 3.6rem;
      height: 3.6rem;
      border: 0.1rem solid #ddd;
      border-radius: 50%;
    }
  }
  &.small {
    height: 3.2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &.h34 {
    height: 3.4rem;
    font-size: 1.3rem;
    &.round {
      font-weight: normal;
      padding: 0 1.6rem;
    }
  }
  .popup.modal .pop-foot &,
  &.h56 {
    height: 5.6rem;
    font-size: 1.6rem;
    border-radius: 1rem;
  }
  .pop-foot &,
  &.h60 {
    height: 6rem;
    font-size: 1.8rem;
    border-radius: 1.2rem;
  }

  &.round {
    border-radius: 3rem;
  }
  &.full {
    display: flex;
    width: 100%;
  }

  &.primary {
    background: var(--primary-color);
    color: #fff;
  }
  &.secondary {
    background: #f5045e;
    color: #fff;
  }
  &.triad {
    background: #fee525;
  }

  &.gray {
    background: #f2f4f6;
    color: #222;
  }
  &.gray2 {
    background: #f6f6f6;
    color: #666;
  }
  &.black {
    background: #000;
    color: #fff;
  }

  &.line {
    border-width: 0.1rem;
    border-color: #eee;
    color: #777;
    background: #fff;
    &.primary,
    &.green {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
    &.secondary,
    &.red {
      border-color: #f5045e;
      color: #f5045e;
    }
    &.gray {
      border-color: #eee;
    }
  }
  &.checked {
    opacity: 1;
    background: #f8f8f8;
    border-color: #eee;
  }
  .i-ico-checked {
    margin-right: 0.8rem;
  }

  // [class*="i-ico-"]{
  // 	margin-left: 0.8rem;
  // 	&:first-child{
  // 		margin-left: 0;
  // 		margin-right: 0.8rem;
  // 	}
  // 	&:last-child{
  // 		margin-right: 0;
  // 	}
  // }

  &.search {
    padding: 0 0.4rem;
    [class*='i-ico-'] {
      margin: 0;
    }
  }
  &.more {
    span {
      font-weight: normal;
      font-size: 1.3rem;
      color: #888;
      margin-left: 0.4rem;
    }
  }
}
.btn-txt {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.button,
.ui-folding-btn,
.ui-folding .folding-head .folding-btn,
a.btn-click,
button.btn-click {
  -webkit-tap-highlight-color: transparent;
}
.btn-click,
.ui-folding-btn {
  position: relative;
  overflow: hidden;
}
.btn-clicking-active {
  overflow: hidden;
}
.btn-click-in {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transform: scale(0);
  &.animate {
    animation: btnClickEf 0.65s linear;
  }
  &.white {
    background: rgba(255, 255, 255, 0.2);
  }
}
@keyframes btnClickEf {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.btn-wrap {
  margin-top: 0.8rem;
  text-align: center;
  clear: both;
  > .button + .button {
    margin-top: 0.8rem;
  }
  .button {
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  &.group {
    .button {
      border-radius: 0;
      &.line {
        & + .button.line {
          margin-left: -0.1rem;
          width: calc(100% + 0.1rem);
        }
        &.checked {
          border-color: var(--primary-color);
          color: var(--primary-color);
          z-index: 1;
        }
      }
    }
    .checkbox.btn,
    .radio.btn {
      > .lbl {
        border-radius: 0;
      }
      & + .checkbox.btn,
      & + .radio.btn {
        margin-left: -0.1rem;
        width: calc(100% + 0.1rem);
      }
    }
    .flex {
      & + .flex {
        margin-top: -0.1rem;
      }
      > * {
        width: 100%;
        + * {
          margin-left: 0;
        }
      }
      &:first-child {
        .button:first-child,
        .checkbox.btn:first-child > .lbl,
        .radio.btn:first-child > .lbl {
          border-top-left-radius: 0.4rem;
        }
        .button:last-child,
        .checkbox.btn:last-child > .lbl,
        .radio.btn:last-child > .lbl {
          border-top-right-radius: 0.4rem;
        }
      }
      &:last-child {
        .button:first-child,
        .checkbox.btn:first-child > .lbl,
        .radio.btn:first-child > .lbl {
          border-bottom-left-radius: 0.4rem;
        }
        .button:last-child,
        .checkbox.btn:last-child > .lbl,
        .radio.btn:last-child > .lbl {
          border-bottom-right-radius: 0.4rem;
        }
      }
    }
    &.out {
      @include outer;
      .button:first-child {
        border-left-width: 0;
      }
      .button:last-child {
        border-right-width: 0;
      }
    }
  }
  &.vertical {
    > div {
      flex-direction: column;
      > * + * {
        margin-left: 0;
        margin-top: 0.8rem;
      }
    }
  }

  + .input,
  + .select,
  + .textare,
  + .flex {
    margin-top: 0.8rem;
  }
  &.bottom-fixed {
    margin-top: 0;
    > div {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2.4rem;
      background-color: transparent;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 1.6rem, #fff 100%);
      transition: box-shadow 0.3s;
      z-index: 50;
      html.ios & {
        @include ios-bottom(padding-bottom, 2.4rem);
      }
    }
    &.no-shadow {
      > div {
        // box-shadow: none;
        background-color: #fff;
      }
    }
    &.fixed-none {
      > div {
        position: relative;
        box-shadow: none;
        z-index: auto;
        .section & {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
.btn-inline-wrap {
  .button {
    margin: 0 0.4rem 0.8rem 0;
  }
  &.search-ty {
    .button {
      border-color: #ddd;
      height: 3.6rem;
      padding: 0 1.6rem;
      font-size: 1.3rem;
      font-weight: normal;
      margin-right: 0.7rem;
    }
  }
}

// etc button
.button.arr-folding-btn {
  display: flex;
  padding: 0;
  text-align: center;
  height: auto;
  [class*='i-ico-'] {
    margin-right: 0;
    transition: 0.3s;
  }
  &.open {
    [class*='i-ico-'] {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
}
.button.add-address {
  height: 6.4rem;
  color: #666;
  font-weight: 500;
  border-color: #eee;
}
