.reverse-scroll-wrap {
  transform: rotate(180deg);
  direction: rtl;
  overflow: auto;
}
.reverse-scroll-inside {
  display: flex;
  flex-direction: column-reverse;
  direction: ltr;
  transform: rotate(-180deg);
}

.rolling-number {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  .rolling__in {
    position: relative;
    height: 100%;
    // line-height: 100%;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    > div {
      height: 100%;
    }
  }
  &:not(.is-active) {
    .rolling__in {
      top: 0 !important;
    }
  }
  &.is-active {
    .rolling__in {
      animation: rollingNumber 1.5s backwards;
    }
  }
}
@keyframes rollingNumber {
  from {
    top: 0;
  }
}

.animate__animated {
  &.paused {
    animation-play-state: paused;
  }
}

// round-box
.line-round-box {
  border: 0.1rem solid #eee;
  background: #fff;
  border-radius: 0.8rem;
  padding: 1.6rem;
  .title-bar:first-child {
    margin-top: 0;
  }
  .box-top-line {
    padding: 0.4rem 0 2rem;
    border-bottom: 0.1rem solid #eee;
    font-size: 1.5rem;
    + .txt-dl-list {
      padding: 1.2rem 0 0.4rem;
    }
  }
}
.gray-round-box {
  background: #f8f8f8;
  border-radius: 0.8rem;
  .box-item {
    display: flex;
    padding: 1.6rem 0;
    align-items: center;
    .th {
      font-size: 1.4rem;
      strong {
        font-weight: 500;
      }
      > div,
      p {
        margin-top: 0.2rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .td {
      margin-left: auto;
    }
    + .box-item,
    &.top-line {
      border-top: 0.1rem solid #eee;
    }
  }
}
.gray-round-dl {
  background: #eee;
  border-radius: 0.8rem;
  overflow: hidden;
  > .dt {
    padding: 0.9rem 1.6rem;
    background: #000;
    color: #fff;
    font-size: 1rem;
  }
  > .dd {
    padding: 1.6rem;
    font-size: 1rem;
    color: #666;
  }
}
.section .gray-form-wrap {
  @include outer;
}
.gray-form-wrap {
  padding: 2rem;
  background: #f8f8f8;
}
.gray-round-dl-box {
  background: #f8f8f8;
  border-radius: 0.8rem;
  padding: 0 2rem;
  .dt {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2rem 0;
    + .dd {
      border-top: 0.1rem solid #eee;
      padding-top: 1.2rem;
    }
  }
  .dd {
    padding: 2rem 0;
    ul > li {
      display: flex;
      font-size: 1.4rem;
      .th {
        font-size: 1.3rem;
        color: #666;
        width: 7.4rem;
        flex-shrink: 0;
      }
      .td {
        flex: 1 1 auto;
        word-break: break-all;
      }
      + li {
        margin-top: 0.8rem;
      }
    }
  }
}
