// folding
.section {
  .folding-list {
    @include outer;
  }
}
.folding-list {
  border: 0.1rem solid #eee;
  border-width: 0.1rem 0;
  overflow: hidden;
  &.line-none {
    border-width: 0;
  }
  &.line-bottom-none {
    border-bottom-width: 0;
  }
  > li,
  > .folding-head {
    position: relative;
    border-top: 0.1rem solid #eee;
    &:first-child {
      border-top-width: 0;
    }
  }
  .folding-head {
    background: #fff;
    font-size: 1.5rem;
    line-height: 1.47;
    a,
    .inner {
      display: block;
      position: relative;
      padding: 2.1rem 5.4rem 2.1rem 2rem;
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 2rem;
        right: 2.4rem;
        width: 2.4rem;
        height: 2.4rem;
        background: url(../images/icon/ico-arrow-down@3x.png) no-repeat center center / contain;
        transform: rotate3d(1, 0, 0, 0deg);
        transition: 0.3s;
      }
      &.disabled {
        background: #f0f0f0;
        color: #858585;
        &:after {
          border-color: #858585;
        }
      }
    }
    div.inner {
      padding-right: 2.4rem;
      &:after {
        content: none;
      }
    }
  }
  > li.open {
    .folding-head {
      a {
        font-weight: bold;
      }
    }
  }
  .folding-head a.open {
    font-weight: bold;
  }
  li.open .folding-head a:after,
  .folding-head a.open:after {
    transform: rotate3d(1, 0, 0, 180deg);
  }
  .folding-panel {
    display: none;
    position: relative;
    padding: 0 2rem 3rem;
  }
  &.folding-dl {
    .folding-panel {
      padding-top: 3rem;
      border-top: 0.1rem solid #eee;
    }
  }
}
