// folding
.section {
  .folding-list {
    @include outer;
  }
}
.folding-list {
  border: 0.1rem solid #eee;
  border-width: 0.1rem 0;
  overflow: hidden;
  &.line-none {
    border-width: 0;
  }
  &.line-bottom-none {
    border-bottom-width: 0;
  }
  > li,
  > .folding-head {
    position: relative;
    border-top: 0.1rem solid #eee;
    &:first-child {
      border-top-width: 0;
    }
  }
  .folding-head {
    background: #fff;
    font-size: 1.5rem;
    line-height: 1.47;
    .folding-btn {
      display: block;
      position: relative;
      padding: 2.1rem 5.3rem 2.1rem 2.4rem;
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 2rem;
        right: 2.4rem;
        width: 2.4rem;
        height: 2.4rem;
        @include bg-etc;
        // background-image: url(../images/icon/ico-arr-down-24.png);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.2929C19.0977 8.6834 19.0977 9.31658 18.707 9.70708L12.3428 16.0711C12.1426 16.2717 11.8774 16.3692 11.6147 16.3637C11.3521 16.3692 11.0869 16.2717 10.8867 16.0711L4.52246 9.70709C4.13184 9.31658 4.13184 8.6834 4.52246 8.2929C4.91309 7.90237 5.54639 7.90237 5.93652 8.2929L11.6147 13.9708L17.293 8.2929C17.6831 7.90237 18.3164 7.90237 18.707 8.2929Z' fill='%23666666'/%3E%3C/svg%3E");
        transform: rotate3d(1, 0, 0, 0deg);
        transition: 0.3s;
      }
      &.reverse-arr {
        &:after {
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }
      &.disabled {
        background: #f0f0f0;
        color: #858585;
        &:after {
          border-color: #858585;
        }
      }
    }
    div.folding-btn {
      padding-right: 2.4rem;
      &:after {
        content: none;
      }
    }
  }
  > li.open {
    .folding-head {
      .folding-btn {
        font-weight: bold;
      }
    }
  }
  .folding-head a.open {
    font-weight: bold;
  }
  li.open .folding-head .folding-btn:after,
  .folding-head .folding-btn.open:after {
    transform: rotate3d(1, 0, 0, 180deg);
  }
  li.open .folding-head .folding-btn.reverse-arr:after,
  .folding-head .folding-btn.reverse-arr.open:after {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  .folding-panel {
    display: none;
    position: relative;
    padding: 0 2.4rem 3rem;
  }
  &.notice-dl {
    border-top: 8px solid #f3f3f3;
    border-bottom-color: var(--line-color);
    .folding-head {
      border-top: 1px solid var(--line-color);
      .folding-btn {
        display: flex;
        align-items: center;
        padding-top: 2.9rem;
        padding-bottom: 2.9rem;
        font-size: 1.5rem;
        line-height: 2.2rem;

        &:after {
          top: 2.8rem;
        }
        [class*='i-ico-'] {
          &:first-child {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }
}
