// form
i.require {
  display: inline-flex;
  align-items: center;
  margin-left: 0.4rem;
  &:first-child {
    margin-left: 0;
    margin-right: 0.4rem;
  }
  &:after {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #f0431a;
  }
}
.form-lbl {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--strong-txt-color);
  > .left {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-items: center;
  }
  > .right {
    display: flex;
    flex: 0 0 auto;
    margin-left: 2rem;
    align-items: center;
    font-weight: normal;
  }
  + .form-item,
  + .validate-item {
    margin-top: 1.6rem;
  }
}
.form-item {
  position: relative;
  + .form-item,
  + .validate-item {
    margin-top: 1.6rem;
  }
}
.validate-item {
  &.is-error {
    // .input,
    // .textarea {
    //   border-color: var(--alert-txt-color);
    // }
    .input {
      input:not(:focus) {
        color: var(--alert-txt-color);
        // @include bg-etc(1.6rem auto, right 1.2rem center);
        // background-image: url(../images/icon/ico-error@3x.png);
      }
    }
    .select {
      // border-color: var(--alert-txt-color);
      select,
      .btn-select {
        // border-color: var(--alert-txt-color);
        color: var(--alert-txt-color);
      }
    }
    .textarea {
      textarea:not(:focus) {
        color: var(--alert-txt-color);
      }
    }
  }
  // &.is-success {
  //   .input,
  //   .select,
  //   .textarea {
  //     border-color: var(--primary-color);
  //   }
  // }
  + .form-item,
  + .validate-item {
    margin-top: 1.6rem;
  }
}
.validate-txt {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  &.is-error {
    color: var(--alert-txt-color);
  }
  &.is-success {
    color: var(--primary-color);
  }
  + .flex,
  + .input,
  + .select,
  + .textare {
    margin-top: 0.8rem;
  }
}
.help-txt {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.33;
}
