// select
.select select,
.btn-select {
  position: relative;
  width: 100%;
  line-height: 36px;
  padding: 5px 41px 5px 11px;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #222;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border 0.3s;
  border-radius: 4px;
  height: 48px;
  white-space: nowrap;
  background-color: #fff;
  overflow: hidden;
  &.off {
    color: var(--placeholder-txt-color);
  }
  option {
    color: #222;
  }
}
.select {
  display: flex;
  position: relative;
  width: 100%;
  select {
    background: #fff url(../images/icon/ico-arrow-down@3x.png) no-repeat right 12px center / 24px auto;
  }
  &:not(.inline) {
    select:disabled,
    select:disabled ~ .btn-select {
      color: var(--placeholder-txt-color);
      background-color: #f8f8f8;
    }
    select:disabled {
      display: block !important;
      ~ .btn-select {
        display: none;
      }
    }
  }
  &.focus {
    select,
    .btn-select {
      border-color: #222;
    }
  }
  &.disabled {
    select,
    .btn-select {
      color: var(--placeholder-txt-color);
      background-color: #f8f8f8;
    }
  }
  &.is-error {
    select,
    .btn-select {
      border-color: #dc512f;
    }
  }
  &.is-success {
    select,
    .btn-select {
      border-color: var(--theme-color);
    }
  }
  &.option-open {
    .option-wrap {
      display: block;
    }
  }
  .option-wrap {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    min-width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    background: #fff;
    z-index: 100;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    .option {
      display: block;
      padding: 4px 20px 4px 16px;
      font-size: 13px;
      line-height: 20px;
      color: #666;
      &.selected {
        color: var(--theme-color);
      }
    }
  }

  & + .flex,
  & + .input,
  & + .select,
  & + .textarea {
    margin-top: 6px;
  }

  &.inline {
    display: inline-flex;
    width: auto;
    select,
    .btn-select {
      border: 0 none;
      height: 24px;
      font-size: 14px;
      padding: 0 20px 0 0;
      &.fz-15 {
        padding-right: 28px;
      }
    }
    .btn-select {
      &:after {
        width: 16px;
        height: 16px;
        right: 0;
        margin-top: -8px;
        background-image: url(../images/icon/ico-arrow-down-24@3x.png);
      }
      &.fz-15:after {
        width: 24px;
        height: 24px;
        margin-top: -12px;
      }
    }
    select:disabled ~ .btn-select {
      opacity: 0.4;
    }
    .option-wrap {
      margin-top: 10px;
    }
    + .select.inline {
      margin-top: 0;
      margin-left: 12px;
    }
  }
  &.inline select,
  .btn-select + select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }
}
.btn-select {
  display: inline-flex;
  align-items: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    transform: rotate3d(1, 0, 0, 0deg);
    transition: 0.3s;
    background: url(../images/icon/ico-arrow-down@3x.png) no-repeat center center / contain;
  }
  &.open,
  &.pop__focused {
    &:after {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
}
@media (max-width: 320px) {
  .select select,
  .btn-select {
    padding-right: 36px;
  }
  .select {
    select {
      background-position: right 7px center;
    }
  }
  .btn-select {
    &:after {
      right: 7px;
    }
  }
}
