// select
.select select,
.btn-select {
  position: relative;
  width: 100%;
  line-height: 3.6rem;
  padding: 0.5rem 4.1rem 0.5rem 1.1rem;
  border: 0.1rem solid #ddd;
  font-size: 1.5rem;
  color: var(--strong-txt-color);
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border 0.3s;
  border-radius: 1rem;
  height: 4.8rem;
  white-space: nowrap;
  background-color: #fff;
  overflow: hidden;
  &.off {
    color: var(--placeholder-txt-color);
  }
  option {
    color: var(--strong-txt-color);
  }
}
.select {
  display: flex;
  position: relative;
  width: 100%;
  select {
    background: #fff no-repeat right 1.2rem center / 2.4rem auto;
    // background-image: url(../images/icon/ico-arr-down-24.png);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.2929C19.0977 8.6834 19.0977 9.31658 18.707 9.70708L12.3428 16.0711C12.1426 16.2717 11.8774 16.3692 11.6147 16.3637C11.3521 16.3692 11.0869 16.2717 10.8867 16.0711L4.52246 9.70709C4.13184 9.31658 4.13184 8.6834 4.52246 8.2929C4.91309 7.90237 5.54639 7.90237 5.93652 8.2929L11.6147 13.9708L17.293 8.2929C17.6831 7.90237 18.3164 7.90237 18.707 8.2929Z' fill='%23666666'/%3E%3C/svg%3E");
  }
  &:not(.inline) {
    select:disabled,
    select:disabled ~ .btn-select {
      color: var(--placeholder-txt-color);
      background-color: #f8f8f8;
    }
    select:disabled {
      display: block !important;
      ~ .btn-select {
        display: none;
      }
    }
  }
  &.focus,
  &.focused {
    select,
    .btn-select {
      border-color: var(--primary-color);
    }
  }
  &.disabled {
    select,
    .btn-select {
      color: var(--placeholder-txt-color);
      background-color: #f8f8f8;
    }
  }
  &.is-error {
    select,
    .btn-select {
      border-color: var(--alert-txt-color);
    }
  }
  &.is-success {
    select,
    .btn-select {
      border-color: var(--primary-color);
    }
  }
  &.option-open {
    .option-wrap {
      display: block;
    }
  }
  .option-wrap {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    min-width: 100%;
    padding: 1.2rem 0;
    border-radius: 0.8rem;
    background: #fff;
    z-index: 100;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    .option {
      display: block;
      padding: 0.4rem 2rem 0.4rem 1.6rem;
      font-size: 1.3rem;
      line-height: 2rem;

      &.selected {
        color: var(--primary-color);
      }
    }
  }

  & + .flex,
  & + .input,
  & + .select,
  & + .textarea {
    margin-top: 0.8rem;
  }

  &.inline {
    display: inline-flex;
    width: auto;
    select,
    .btn-select {
      border: 0 none;
      height: 2.4rem;
      font-size: 1.4rem;
      padding: 0 2rem 0 0;
      &.fz-15 {
        padding-right: 2.8rem;
      }
    }
    .btn-select {
      &:after {
        width: 1.6rem;
        height: 1.6rem;
        right: 0;
        margin-top: -0.8rem;
      }
      &.fz-15:after {
        width: 2.4rem;
        height: 2.4rem;
        margin-top: -1.2rem;
      }
    }
    select:disabled ~ .btn-select {
      opacity: 0.4;
    }
    .option-wrap {
      margin-top: 1rem;
    }
    + .select.inline {
      margin-top: 0;
      margin-left: 1.2rem;
    }
  }
  &.inline select,
  .btn-select + select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

  &.line-lbl-inp {
    border-width: 0;
    border-bottom: 0.2rem solid #d6dbe1;
    border-radius: 0;
    padding-top: 1.6rem;
    select,
    .btn-select {
      height: 3.6rem;
      padding: 0.6rem 3rem 0.6rem 0;
      font-size: 2rem;
      line-height: 2.4rem;
      // color: #818892;
      border-width: 0;
      border-radius: 0;
      transition: color 0.3s ease;
      &.off {
        color: transparent;
      }
      &:not(.off) ~ .lbl {
        top: 0;
        font-size: 1rem;
        color: #818892;
      }
    }
    select {
      background-position: right center;
    }
    .btn-select {
      &:after {
        right: 0;
      }
    }
  }
}
.btn-select {
  display: inline-flex;
  align-items: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    width: 2.4rem;
    height: 2.4rem;
    margin-top: -1.2rem;
    transform: rotate3d(1, 0, 0, 0deg);
    transition: 0.3s;
    @include bg-etc;
    // background-image: url(../images/icon/ico-arr-down-24.png);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.2929C19.0977 8.6834 19.0977 9.31658 18.707 9.70708L12.3428 16.0711C12.1426 16.2717 11.8774 16.3692 11.6147 16.3637C11.3521 16.3692 11.0869 16.2717 10.8867 16.0711L4.52246 9.70709C4.13184 9.31658 4.13184 8.6834 4.52246 8.2929C4.91309 7.90237 5.54639 7.90237 5.93652 8.2929L11.6147 13.9708L17.293 8.2929C17.6831 7.90237 18.3164 7.90237 18.707 8.2929Z' fill='%23666666'/%3E%3C/svg%3E");
  }
  &.open,
  &.pop__focused {
    &:after {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
}
@media (max-width: 32rem) {
  .select select,
  .btn-select {
    padding-right: 3.6rem;
  }
  .select {
    select {
      background-position: right 0.7rem center;
    }
  }
  .btn-select {
    &:after {
      right: 0.7rem;
    }
  }
}
