// input
.input {
  position: relative;
  display: flex;
  width: 100%;
  background: #fff;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  color: #222;
  align-items: center;
  transition: border 0.3s;
  &.readonly,
  &.disabled {
    background: #f8f8f8;
  }
  &.focus {
    border-color: #222;
  }
  &.is-error {
    border-color: #dc512f;
    &:not(.focus) {
      input {
        background-image: url(../images/icon/ico-error@3x.png);
        background-repeat: no-repeat;
        background-position: right 1.2rem center;
        background-size: 1.6rem auto;
      }
    }
  }
  // &.is-success {
  //   border-color: var(--primary-color);
  // }
  &.disabled {
    border-color: #eee;
    background-color: #f8f8f8;
  }
  &.date {
    input {
      background-image: url(../images/icon/ico-calendar@3x.png);
      background-repeat: no-repeat;
      background-position: right 1.6rem center;
      background-size: 2.4rem auto;
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
    }
  }
  input:-internal-autofill-selected {
    background: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    width: 100%;
    flex: 1 1 auto;
    height: 4.6rem;
    padding: 0 0.8rem;
    font-size: 1.5rem;
    border: 0 none;
    color: inherit;
    background: none;
    -webkit-appearance: none;
    border-radius: 0.4rem;
    outline: none;
    &:first-child {
      padding-left: 1.6rem;
    }
    &:last-child {
      padding-right: 1.6rem;
    }

    &:disabled {
      color: var(--placeholder-txt-color);
    }
    &.t-right {
      &::placeholder {
        text-align: left;
      }
    }
  }
  &.disabled input,
  // input[readonly],
  input:disabled {
    background: #f8f8f8;
  }

  &.small {
    input {
      height: 3rem;
      font-size: 1.4rem;
      &:first-child {
        padding-left: 0.8rem;
      }
      &:last-child {
        padding-right: 0.8rem;
      }
    }
  }
  &.disabled {
    input {
      background: #f8f8f8;
    }
  }
  > div:last-child {
    margin-right: 1.2rem;
  }
  .button {
    flex: 0 0 auto;
  }
  > .button:last-child {
    margin-right: 0.8rem;
  }
  .timer {
    color: #f0431a;
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: bold;
    margin-right: 1.2rem;
  }
  .btn-inp-del {
    @include text-blind;
    position: relative;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    flex: 0 0 1.6rem;
    margin-right: 0.8rem;
    overflow: hidden;
    background: url(../images/icon/ico-input-del@3x.png) no-repeat center center / contain;
    &:last-child {
      margin-right: 1.2rem;
    }
    // + .btn-inp-pwd{
    // 	margin-left: 0.8rem;
    // }
  }
  .btn-inp-pwd {
    @include text-blind;
    position: relative;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    flex: 0 0 1.6rem;
    margin-right: 1.6rem;
    overflow: hidden;
    background: url(../images/icon/Ico-eye-off@3x.png) no-repeat center center / contain;
  }

  input[type='text'] ~ .btn-inp-pwd {
    background-image: url(../images/icon/Ico-eye-on@3x.png);
  }

  & + .flex,
  & + .input,
  & + .select,
  & + .textarea {
    margin-top: 0.8rem;
  }
}

.datepicker-time {
  display: flex;
  > div {
    + div {
      margin-top: 0 !important;
      margin-left: 0.4rem;
    }
  }
  .input {
    flex: 0 0 45%;
  }
}
@media (max-width: 359px) {
  .datepicker-time {
    display: flex;
    flex-wrap: wrap;
    .input {
      flex: 0 0 100%;
      margin-bottom: 0.8rem;
      + .select {
        margin-left: 0;
      }
    }
    .select {
      width: calc(50% - 0.2rem);
    }
  }
}
