//checkbox, radio
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
}
.radio.block,
.checkbox.block,
div.radio,
div.checkbox {
  display: block;
  margin-right: 0;
  + .radio.block,
  + .checkbox.block,
  + div.radio,
  + div.checkbox {
    margin-top: 1.8rem;
  }
}
.checkbox.ty2.block,
div.checkbox.ty2 {
  + .checkbox.ty2.block,
  + div.checkbox.ty2 {
    margin-top: 1.6rem;
  }
}
.radio,
.checkbox {
  position: relative;
  display: inline-block;
  min-width: 2.4rem;
  min-height: 2.4rem;
  vertical-align: middle;
  margin-right: 2.4rem;
  &:last-child {
    margin-right: 0;
  }
  > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.4rem;
    height: 2.4rem;
    opacity: 0;
    margin: 0;
    z-index: 2;
    &:checked + i {
      border-color: var(--primary-color);
    }
    &:disabled + i {
      opacity: 0.3;
      + .lbl {
        opacity: 0.5;
      }
    }
  }
  > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border: 0.1rem solid #ccc;
    box-sizing: border-box;
    border-radius: 50%;
    vertical-align: top;
    transition: 0.3s;
    z-index: 1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
    + .lbl {
      margin-left: 2.4rem;
      padding-left: 0.8rem;
    }
  }
  > .lbl {
    position: relative;
    display: block;
    line-height: 2.2rem;
    font-size: 1.4rem;
    padding: 0.1rem 0;
    &:first-child {
      margin-right: 2.4rem;
      padding-right: 1rem;
      ~ input,
      ~ i {
        left: auto;
        right: 0;
      }
    }
    [class*='i-ico-'] {
      vertical-align: top;
      margin-top: 0.4rem;
    }
  }
  &.small:not(.btn, .switch) {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
    > input {
      width: 2rem;
      height: 2rem;
    }
    > i {
      width: 2rem;
      height: 2rem;
      + .lbl {
        margin-left: 2rem;
        padding-left: 0.6rem;
      }
    }
    > .lbl {
      line-height: 2rem;
      font-size: 1.4rem;
      padding: 0;
      &:first-child {
        margin-right: 2rem;
        padding-left: 0.4rem;
      }
    }
  }
  &.btn {
    > input {
      width: 100%;
      height: 100%;
      &:disabled ~ .lbl {
        // opacity: 0.3;
        background: #f8f8f8;
        color: var(--placeholder-txt-color);
      }
      &:checked ~ .lbl {
        // font-weight: bold;
        border-color: var(--primary-color);
        color: var(--strong-txt-color);
      }
      &:checked:not(:disabled) ~ .lbl {
        z-index: 1;
      }
    }
    > i {
      display: none;
    }
    .lbl {
      position: relative;
      display: flex;
      width: 100%;
      height: 4.8rem;
      line-height: inherit;
      padding: 0 0.3rem;
      text-align: center;
      font-size: inherit;
      white-space: normal;
      text-decoration: none;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 0.8rem;
      -webkit-appearance: none;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      vertical-align: middle;
      margin: 0;
      border: 0.1rem solid #ebebeb;
      color: var(--strong-txt-color);
      background: #fff;
      transition: 0.3s;
      font-size: 1.4rem;
    }

    + .btn {
      margin-top: 0;
    }

    &.h44 {
      .lbl {
        height: 4.4rem;
        font-size: 1.4rem;
      }
    }
  }
  &.switch {
    min-width: 4.2rem;
    min-height: 2.4rem;
    > input {
      width: 4.2rem;
      height: 2.4rem;
      // top:0;
      &:checked {
        + i {
          &:after {
            left: 2rem;
            animation: none;
          }
          + .lbl {
            .off {
              display: none;
            }
            .on {
              display: inline;
            }
          }
        }
      }
    }
    > i {
      width: 4.2rem;
      height: 2.4rem;
      border: 0 none;
      border-radius: 1.2rem;
      background-color: #ccc;
      transition: background 0.3s ease;
      &:after {
        width: 2rem;
        height: 2rem;
        margin: 0;
        border: 0 none;
        left: 0.2rem;
        top: 0.2rem;
        border-radius: 50%;
        background: #fff;
        transition: left 0.3s ease;
        transform: none;
      }
      + .lbl {
        margin-left: 4.2rem;
        // white-space:nowrap;
      }
    }
    .lbl {
      &:first-child {
        margin-right: 4.2rem;
      }
    }
    &.small {
      min-width: 2.8rem;
      min-height: 1.6rem;
      > input {
        width: 2.8rem;
        height: 1.6rem;
        &:checked {
          + i {
            &:after {
              left: 1.4rem;
            }
          }
        }
      }
      > i {
        width: 2.8rem;
        height: 1.6rem;
        &:after {
          width: 1.2rem;
          height: 1.2rem;
        }
        + .lbl {
          margin-left: 2.8rem;
        }
      }
      .lbl {
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding-top: 0;
        padding-bottom: 0;
        &:first-child {
          margin-right: 2.8rem;
        }
      }
    }
  }
}
.checkbox {
  > i {
    &:after {
      width: 100%;
      height: 100%;
      @include bg-etc(1.4rem auto);
      // background-image: url(../images/icon/ico-check-off.png);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6486 0.331936C14.0965 0.795514 14.1192 1.57218 13.6993 2.06666L5.744 11.6121C5.53385 11.8596 5.24028 12 4.933 12C4.62573 12 4.33216 11.8596 4.122 11.6121L0.300667 7.11211C-0.119242 6.61763 -0.096548 5.84097 0.351354 5.37739C0.799257 4.91381 1.50276 4.93886 1.92266 5.43335L4.933 8.97832L12.0773 0.387894C12.4972 -0.106589 13.2007 -0.131642 13.6486 0.331936Z' fill='%23D6DBE1'/%3E%3C/svg%3E");
    }
  }
  > input:checked + i {
    background: var(--primary-color);
    &:after {
      // background-image: url(../images/icon/ico-check-on.png);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6486 0.331936C14.0965 0.795514 14.1192 1.57218 13.6993 2.06666L5.744 11.6121C5.53385 11.8596 5.24028 12 4.933 12C4.62573 12 4.33216 11.8596 4.12201 11.6121L0.300667 7.11211C-0.119242 6.61763 -0.096548 5.84097 0.351354 5.37739C0.799257 4.91381 1.50276 4.93886 1.92266 5.43335L4.933 8.97832L12.0773 0.387894C12.4972 -0.106589 13.2007 -0.131642 13.6486 0.331936Z' fill='white'/%3E%3C/svg%3E");
      animation: chkeckboxAni 0.25s linear;
    }
  }
  &.small:not(.btn, .switch) {
    > i {
      &:after {
        background-size: 1rem auto;
      }
    }
  }
  &.ty2 {
    > i {
      border-width: 0;
    }
    > input:checked + i {
      background-color: transparent;
      &:after {
        // background-image: url(../images/icon/ico-check-2-on.png);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6486 0.331936C14.0965 0.795514 14.1192 1.57218 13.6993 2.06666L5.744 11.6121C5.53385 11.8596 5.24028 12 4.933 12C4.62573 12 4.33216 11.8596 4.12201 11.6121L0.300667 7.11211C-0.119242 6.61763 -0.096548 5.84097 0.351354 5.37739C0.799257 4.91381 1.50276 4.93886 1.92266 5.43335L4.933 8.97832L12.0773 0.387894C12.4972 -0.106589 13.2007 -0.131642 13.6486 0.331936Z' fill='%23FE7D65'/%3E%3C/svg%3E");
      }
    }
  }
}
.radio {
  > i {
    &:after {
      left: 50%;
      top: 50%;
      border-radius: 50%;
      background-color: #ccc;
      width: 1.2rem;
      height: 1.2rem;
      margin: -0.6rem 0 0 -0.6rem;
    }
  }
  > input:checked + i {
    &:after {
      background-color: var(--primary-color);
      animation: radioAni 0.25s linear forwards;
    }
  }
  &.small:not(.btn, .switch) {
    > i {
      &:after {
        width: 1rem;
        height: 1rem;
        margin: -0.5rem 0 0 -0.5rem;
      }
    }
  }
}
@keyframes chkeckboxAni {
  0% {
    clip: rect(0, 0, 2.4rem, 0);
  }
  100% {
    clip: rect(0, 2.4rem, 2.4rem, 0);
  }
}
@keyframes radioAni {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.chk-item-list {
  .chk-item + .chk-item {
    margin-top: 0.8rem;
  }
}
.chk-item {
  border: 0.1rem solid #eee;
  border-radius: 1.2rem;
  transition: border 0.3s;
  &.checked {
    border-color: var(--primary-color);
  }
  > .checkbox,
  > .radio {
    display: block;
    > input,
    > i {
      left: 1.6rem;
      top: 1.4rem;
    }
    > .lbl {
      padding: 1.4rem 2rem 1.4rem 4.6rem;
      margin-left: 0;
      line-height: 2.4rem;
      font-size: 1.5rem;
      color: #424242;
      + .lbl-child {
        border-top-width: 0.1rem;
        border-bottom-width: 0;
      }
    }
    + .lbl-child {
      border-top-width: 0.1rem;
      border-bottom-width: 0;
    }
  }
  .lbl-child {
    padding: 1.4rem 0;
    margin: 0 1.6rem;
    color: #333;
    border: 0px solid #eee;
    border-bottom-width: 0.1rem;
  }
  &.ty2 {
    > .checkbox,
    > .radio {
      i {
        display: none;
      }
      .lbl {
        padding: 2rem 1.6rem;
      }
    }
    + .chk-item {
      margin-top: 1.2rem;
    }
  }
  &.folding {
    > .checkbox,
    > .radio {
      > .lbl {
        padding-right: 4.6rem;
      }
      .ui-folding-btn {
        display: block;
        padding-top: 1.4rem;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-right: 1.6rem;
      }
    }
  }
  .folding-panel {
    display: none;
  }
}
.chk-wrap {
  padding: 0.8rem 0;
  margin-top: 0.8rem;
  &:first-child {
    margin-top: 0;
  }
  .radio,
  .checkbox {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}
.btn-wrap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  .button {
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}
.checkbox-wrap {
  .radio,
  .checkbox {
    + .radio,
    + .checkbox {
      margin-top: 1.6rem;
    }
  }
}
.agree-dl {
  .agree-dt {
    padding: 2rem 0;
    + .agree-dd {
      border-top: 0.1rem solid #ebebeb;
      padding-top: 2rem;
    }
  }
  .checkbox {
    .lbl {
      padding-right: 3rem;
    }
    .i-ico-arr-right-16 {
      position: absolute;
      top: 0.4rem;
      right: 0;
      margin-top: 0;
    }
  }
  &.folding {
    .agree-dt {
      .ui-folding-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
.ui-folding-btn {
  i {
    display: block;
    transform: rotate3d(1, 0, 0, 0);
    transition: 0.3s;
  }
  &.open {
    i {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
}
