//checkbox, radio
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
}
div.radio,
div.checkbox {
  display: block;
  margin-right: 0;
  + div.radio,
  + div.checkbox {
    margin-top: 1.8rem;
  }
}
div.checkbox.ty2 + div.checkbox.ty2 {
  margin-top: 1.6rem;
}
.radio,
.checkbox {
  position: relative;
  display: inline-block;
  min-width: 2.4rem;
  min-height: 2.4rem;
  vertical-align: middle;
  margin-right: 2.4rem;
  &:last-child {
    margin-right: 0;
  }
  > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.4rem;
    height: 2.4rem;
    opacity: 0;
    margin: 0;
    z-index: 2;
    &:checked + i {
      background: #222;
      border-color: #222;
    }
    &:disabled + i {
      background-color: #f8f8f8;
      // +.lbl{color:#666;}
    }
    &:checked:disabled + i {
      background: #222;
      border-color: #222;
      opacity: 0.3;
      // &:after{
      // 	border-color:#fff;
      // }
    }
  }
  > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border: 0.1rem solid #ccc;
    box-sizing: border-box;
    border-radius: 0.4rem;
    vertical-align: top;
    transition: 0.3s;
    z-index: 1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      border-style: solid;
    }
    + .lbl {
      margin-left: 2.4rem;
      padding-left: 0.8rem;
    }
  }
  > .lbl {
    position: relative;
    display: block;
    line-height: 2.2rem;
    font-size: 1.5rem;
    padding: 0.1rem 0;
    &:first-child {
      margin-right: 2.4rem;
      padding-right: 0.8rem;
      ~ input,
      ~ i {
        left: auto;
        right: 0;
      }
    }
    [class*='i-ico-'] {
      vertical-align: top;
      margin-top: 0.4rem;
    }
  }
  &.small:not(.btn, .switch) {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
    > input {
      width: 2rem;
      height: 2rem;
    }
    > i {
      width: 2rem;
      height: 2rem;
      + .lbl {
        margin-left: 2rem;
        padding-left: 0.6rem;
      }
    }
    > .lbl {
      line-height: 2rem;
      font-size: 1.4rem;
      padding: 0;
      &:first-child {
        margin-right: 2rem;
        padding-left: 0.4rem;
      }
    }
  }
  &.btn {
    > input {
      width: 100%;
      height: 100%;
      &:disabled ~ .lbl {
        // opacity: 0.3;
        background: #f8f8f8;
        color: var(--placeholder-txt-color);
      }
      &:checked ~ .lbl {
        // font-weight: bold;
        border-color: var(--primary-color);
        color: #222;
      }
      &:checked:not(:disabled) ~ .lbl {
        z-index: 1;
      }
    }
    > i {
      display: none;
    }
    .lbl {
      position: relative;
      display: flex;
      width: 100%;
      height: 4.8rem;
      line-height: inherit;
      padding: 0 0.3rem;
      text-align: center;
      font-size: inherit;
      white-space: normal;
      text-decoration: none;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 0.8rem;
      -webkit-appearance: none;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      vertical-align: middle;
      margin: 0;
      border: 0.1rem solid #ebebeb;
      color: #222;
      background: #fff;
      transition: 0.3s;
      font-size: 1.4rem;
    }

    + .btn {
      margin-top: 0;
    }

    &.h44 {
      .lbl {
        height: 4.4rem;
        font-size: 1.4rem;
      }
    }
  }
  &.switch {
    min-width: 4.2rem;
    min-height: 2.4rem;
    > input {
      width: 4.2rem;
      height: 2.4rem;
      // top:0;
      &:checked {
        + i {
          &:after {
            left: 2rem;
            animation: none;
          }
          + .lbl {
            .off {
              display: none;
            }
            .on {
              display: inline;
            }
          }
        }
      }
    }
    > i {
      width: 4.2rem;
      height: 2.4rem;
      border: 0 none;
      border-radius: 1.2rem;
      background-color: #ccc;
      transition: background 0.3s ease;
      &:after {
        width: 2rem;
        height: 2rem;
        border: 0 none;
        left: 0.2rem;
        top: 0.2rem;
        border-radius: 50%;
        background: #fff;
        transition: left 0.3s ease;
        transform: none;
      }
      + .lbl {
        margin-left: 4.2rem;
        // white-space:nowrap;
      }
    }
    .lbl {
      &:first-child {
        margin-right: 4.2rem;
      }
    }
    &.small {
      min-width: 2.8rem;
      min-height: 1.6rem;
      > input {
        width: 2.8rem;
        height: 1.6rem;
        &:checked {
          + i {
            &:after {
              left: 1rem;
            }
          }
        }
      }
      > i {
        width: 2.8rem;
        height: 1.6rem;
        &:after {
          width: 1.2rem;
          height: 1.2rem;
        }
        + .lbl {
          margin-left: 2.8rem;
        }
      }
      .lbl {
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding-top: 0;
        padding-bottom: 0;
        &:first-child {
          margin-right: 2.8rem;
        }
      }
    }
  }
}
.checkbox {
  > i {
    &:after {
      // width:1.1rem;
      // height:0.6rem;
      width: 1.46rem;
      height: 0.8rem;
      border-width: 0 0 0.2rem 0.2rem;
      border-color: #ccc;
      transform: translate(-50%, -70%) rotate(-45deg) scale(0.75);
    }
  }
  > input:checked + i:after {
    border-color: #fff;
    animation: chkeckboxAni 0.25s linear;
  }
  &.small:not(.btn, .switch) {
    > i {
      &:after {
        width: 1.2rem;
        height: 0.6rem;
      }
    }
  }
  &.ty2 {
    min-width: 2rem;
    min-height: 2rem;
    > input {
      width: 2rem;
      height: 2rem;
    }
    > i {
      width: 2rem;
      height: 2rem;
      border-width: 0;
      &:after {
        transform: translate(-50%, -70%) rotate(-45deg) scale(0.9);
      }
      + .lbl {
        margin-left: 2rem;
      }
    }
    > input:checked + i {
      // border-color: #000;
      background-color: transparent;
      &:after {
        border-color: #222;
      }
    }
    .lbl {
      line-height: 2rem;
      padding-top: 0;
      padding-bottom: 0;
      [class*='i-ico-'] {
        margin-top: 0.2rem;
      }
    }
    &.small {
      min-width: 1.6rem;
      min-height: 1.6rem;
      > input {
        width: 1.6rem;
        height: 1.6rem;
      }
      > i {
        width: 1.6rem;
        height: 1.6rem;
        + .lbl {
          margin-left: 1.6rem;
        }
      }
      .lbl {
        line-height: 1.6rem;
      }
    }
  }
}
.radio {
  > i {
    border-radius: 50%;
    &:after {
      left: 50%;
      top: 50%;
      border-radius: 50%;
      background-color: #ccc;
      border-color: #ccc;
      border-width: 0.6rem;
      margin: -0.6rem 0 0 -0.6rem;
    }
  }
  > input:checked + i {
    &:after {
      background-color: #fff;
      border-color: #fff;
      animation: radioAni 0.25s linear forwards;
    }
  }
  &.small:not(.btn, .switch) {
    > i {
      &:after {
        border-width: 0.5rem;
        margin: -0.5rem 0 0 -0.5rem;
      }
    }
  }
}
@keyframes chkeckboxAni {
  0% {
    clip: rect(0, 0.3rem, 0, 0);
  }
  50% {
    clip: rect(0, 0.3rem, 1rem, 0);
  }
  100% {
    clip: rect(0, 1.5rem, 1rem, 0);
  }
}
@keyframes radioAni {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0.76);
  }
}
.chk-item-list {
  .chk-item + .chk-item {
    margin-top: 0.6rem;
  }
}
.chk-item {
  border: 0.1rem solid #eee;
  border-radius: 0.4rem;
  transition: border 0.3s;
  &.checked {
    border-color: #222;
  }
  > .checkbox,
  > .radio {
    display: block;
    > input,
    > i {
      left: 1.6rem;
      top: 1.4rem;
    }
    > i + .lbl {
      padding: 1.2rem 2rem 1.2rem 4.6rem;
      margin-left: 0;
      line-height: 2.4rem;
    }
    .lbl-child {
      padding: 1.4rem 0;
      margin: 0 1.6rem;
      border-top: 0.1rem solid #ccc;
      line-height: 1.5;
      font-size: 1.2rem;
      color: #333;
    }
  }
  &.ty2 {
    > .checkbox,
    > .radio {
      i {
        display: none;
      }
      .lbl {
        padding: 2rem 1.6rem;
      }
    }
    + .chk-item {
      margin-top: 1.2rem;
    }
  }
}
.chk-wrap {
  padding: 0.8rem 0;
  margin-top: 0.8rem;
  &:first-child {
    margin-top: 0;
  }
  .radio,
  .checkbox {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}
.btn-wrap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  .button {
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}
.checkbox-wrap {
  .radio,
  .checkbox {
    + .radio,
    + .checkbox {
      margin-top: 1.6rem;
    }
  }
}
.agree-item {
  .checkbox,
  &.checkbox {
    > input:checked ~ .lbl {
      .agree-arr {
        &:before {
          content: none;
        }
      }
    }
    .agree-arr {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
      }
    }
  }
  &.checkbox {
    .agree-arr {
      &:before {
        left: -2rem;
      }
    }
  }
}
