// select
.select select,
.btn-select {
  position: relative;
  width: 100%;
  line-height: 3.6rem;
  padding: 0.5rem 4.1rem 0.5rem 1.1rem;
  border: 0.1rem solid #ddd;
  font-size: 1.5rem;
  color: #222;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  transition: border 0.3s;
  border-radius: 0.4rem;
  height: 4.8rem;
  white-space: nowrap;
  background-color: #fff;
  overflow: hidden;
  &.off {
    color: var(--placeholder-txt-color);
  }
  option {
    color: #222;
  }
}
.select {
  display: flex;
  position: relative;
  width: 100%;
  select {
    background: #fff url(../images/icon/ico-arrow-down@3x.png) no-repeat right 1.2rem center / 2.4rem auto;
  }
  &:not(.inline) {
    select:disabled,
    select:disabled ~ .btn-select {
      color: var(--placeholder-txt-color);
      background-color: #f8f8f8;
    }
    select:disabled {
      display: block !important;
      ~ .btn-select {
        display: none;
      }
    }
  }
  &.focus {
    select,
    .btn-select {
      border-color: #222;
    }
  }
  &.disabled {
    select,
    .btn-select {
      color: var(--placeholder-txt-color);
      background-color: #f8f8f8;
    }
  }
  &.is-error {
    select,
    .btn-select {
      border-color: #dc512f;
    }
  }
  &.is-success {
    select,
    .btn-select {
      border-color: var(--primary-color);
    }
  }
  &.option-open {
    .option-wrap {
      display: block;
    }
  }
  .option-wrap {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    min-width: 100%;
    padding: 1.2rem 0;
    border-radius: 0.8rem;
    background: #fff;
    z-index: 100;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    .option {
      display: block;
      padding: 0.4rem 2rem 0.4rem 1.6rem;
      font-size: 1.3rem;
      line-height: 2rem;
      color: #666;
      &.selected {
        color: var(--primary-color);
      }
    }
  }

  & + .flex,
  & + .input,
  & + .select,
  & + .textarea {
    margin-top: 0.8rem;
  }

  &.inline {
    display: inline-flex;
    width: auto;
    select,
    .btn-select {
      border: 0 none;
      height: 2.4rem;
      font-size: 1.4rem;
      padding: 0 2rem 0 0;
      &.fz-15 {
        padding-right: 2.8rem;
      }
    }
    .btn-select {
      &:after {
        width: 1.6rem;
        height: 1.6rem;
        right: 0;
        margin-top: -0.8rem;
        background-image: url(../images/icon/ico-arr-down-24.png);
      }
      &.fz-15:after {
        width: 2.4rem;
        height: 2.4rem;
        margin-top: -1.2rem;
      }
    }
    select:disabled ~ .btn-select {
      opacity: 0.4;
    }
    .option-wrap {
      margin-top: 1rem;
    }
    + .select.inline {
      margin-top: 0;
      margin-left: 1.2rem;
    }
  }
  &.inline select,
  .btn-select + select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }
}
.btn-select {
  display: inline-flex;
  align-items: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    width: 2.4rem;
    height: 2.4rem;
    margin-top: -1.2rem;
    transform: rotate3d(1, 0, 0, 0deg);
    transition: 0.3s;
    background: url(../images/icon/ico-arrow-down@3x.png) no-repeat center center / contain;
  }
  &.open,
  &.pop__focused {
    &:after {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
}
@media (max-width: 32rem) {
  .select select,
  .btn-select {
    padding-right: 3.6rem;
  }
  .select {
    select {
      background-position: right 0.7rem center;
    }
  }
  .btn-select {
    &:after {
      right: 0.7rem;
    }
  }
}
