// icon
[class*="i-ico-"],
[class*="i-bar-"],
[class*="i-pay-"],
[class*="i-logo-"] {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  flex-shrink: 0;
}
[class*="i-logo-"] {
  width: 32px;
  height: 32px;
}
.i-logo-bc {
  background-image: url(../images/icon/logo-bc@3x.png);
}
.i-logo-citi {
  background-image: url(../images/icon/logo-citi@3x.png);
}
.i-logo-hana {
  background-image: url(../images/icon/logo-hana@3x.png);
}
.i-logo-hyundai {
  background-image: url(../images/icon/logo-hyundai@3x.png);
}
.i-logo-jb {
  background-image: url(../images/icon/logo-jb@3x.png);
}
.i-logo-kb {
  background-image: url(../images/icon/logo-kb@3x.png);
}
.i-logo-lotte {
  background-image: url(../images/icon/logo-lotte@3x.png);
}
.i-logo-nh {
  background-image: url(../images/icon/logo-nh@3x.png);
}
.i-logo-samsung {
  background-image: url(../images/icon/logo-samsung@3x.png);
}
.i-logo-shinhan {
  background-image: url(../images/icon/logo-shinhan@3x.png);
}
.i-logo-woori {
  background-image: url(../images/icon/logo-woori@3x.png);
}
[class*="i-pay-"] {
  width: 60px;
  height: 28px;
}
.i-pay-card {
  background-image: url(../images/icon/pay-creditcard@3x.png);
}
.i-pay-banking {
  background-image: url(../images/icon/pay-banking@3x.png);
}
.i-pay-zero {
  background-image: url(../images/icon/pay-zero@3x.png);
}
.i-pay-kakao {
  background-image: url(../images/icon/pay-kakao@3x.png);
}
.i-pay-payco {
  background-image: url(../images/icon/pay-payco@3x.png);
}
.i-pay-naver {
  background-image: url(../images/icon/pay-naver@3x.png);
}
.i-pay-samsung {
  background-image: url(../images/icon/pay-samsung@3x.png);
}
.i-pay-lpay {
  background-image: url(../images/icon/pay-lpay@3x.png);
}
.i-pay-onnuri {
  background-image: url(../images/icon/pay-onnuri@3x.png);
}

.i-ico-checked {
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #222;
    width: 14.6px;
    height: 8px;
    flex: 0 0 auto;
    transform: translate(-50%, -70%) rotate(-45deg) scale(0.9);
  }
}
.i-bar-menu {
  background-image: url(../images/icon/bar-menu@3x.png);
}
.i-ico-search,
.i-ico-search-16,
.i-bar-search {
  background-image: url(../images/icon/ico-search@3x.png);
}
.i-ico-search-w,
.i-ico-search-w-16 {
  background-image: url(../images/icon/ico-search-w@3x.png);
}
.i-ico-search-16,
.i-ico-search-w-16 {
  width: 16px;
  height: 16px;
}
.i-bar-home {
  background-image: url(../images/icon/bar-home@3x.png);
}
.i-bar-user {
  background-image: url(../images/icon/bar-user@3x.png);
}
.i-bar-login {
  background-image: url(../images/icon/bar-login@3x.png);
}
.i-bar-cart {
  background-image: url(../images/icon/bar-cart@3x.png);
}
.i-ico-naver {
  width: 48px;
  height: 48px;
  background-image: url(../images/icon/sns-naver@3x.png);
}
.i-ico-kakao {
  width: 48px;
  height: 48px;
  background-image: url(../images/icon/sns-kakao@3x.png);
}
.i-ico-facebook {
  width: 48px;
  height: 48px;
  background-image: url(../images/icon/sns-facebook@3x.png);
}
.i-ico-twitter {
  width: 48px;
  height: 48px;
  background-image: url(../images/icon/sns-twitter@3x.png);
}
.i-ico-urlcopy {
  width: 48px;
  height: 48px;
  background-image: url(../images/icon/sns-urlcopy@3x.png);
}
.i-ico-welcome {
  width: 60px;
  height: 60px;
  background-image: url(../images/icon/icon-welcome@3x.png);
}
.i-ico-list-bar {
  background-image: url(../images/icon/ico-list-bar@3x.png);
}
.i-ico-list-grid {
  background-image: url(../images/icon/ico-list-grid@3x.png);
}
.i-ico-star {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-star-off@3x.png);
  &.on {
    background-image: url(../images/icon/ico-star-on@3x.png);
  }
  &.size24 {
    width: 24px;
    height: 24px;
  }
}

.i-ico-lock {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-lock@3x.png);
}

.i-ico-spinner-minus {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-spinner-minus@3x.png);
}
.i-ico-spinner-plus {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-spinner-plus@3x.png);
}
.i-ico-round-close {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/ico-round-close@3x.png);
}
.i-ico-arrow-right-16 {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-arrow-right-16@3x.png);
}
.i-ico-arrow-down-16 {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-arrow-down-16@3x.png);
}
.i-ico-share {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/ico-share@3x.png);
}
.i-ico-cart-empty {
  width: 60px;
  height: 60px;
  background-image: url(../images/icon/ico-cart-empty@3x.png);
}
.i-ico-my-order {
  background-image: url(../images/icon/ico-my-order@3x.png);
}
.i-ico-my-1to1 {
  background-image: url(../images/icon/ico-my-1to1@3x.png);
}
.i-ico-my-address {
  background-image: url(../images/icon/ico-my-address@3x.png);
}
.i-ico-my-bank {
  background-image: url(../images/icon/ico-my-bank@3x.png);
}
.i-ico-my-cancel {
  background-image: url(../images/icon/ico-my-cancel@3x.png);
}
.i-ico-my-cart {
  background-image: url(../images/icon/ico-my-cart@3x.png);
}
.i-ico-my-drop {
  background-image: url(../images/icon/ico-my-drop@3x.png);
}
.i-ico-my-info {
  background-image: url(../images/icon/ico-my-info@3x.png);
}
.i-ico-my-password {
  background-image: url(../images/icon/ico-my-password@3x.png);
}
.i-ico-my-point {
  background-image: url(../images/icon/ico-my-point@3x.png);
}
.i-ico-my-qna {
  background-image: url(../images/icon/ico-my-qna@3x.png);
}
.i-ico-my-review {
  background-image: url(../images/icon/ico-my-review@3x.png);
}
.i-ico-my-sns {
  background-image: url(../images/icon/ico-my-sns@3x.png);
}
.i-ico-my-pay {
  background-image: url(../images/icon/ico-my-pay@3x.png);
}
.i-ico-point {
  width: 36px;
  height: 36px;
  background-image: url(../images/icon/ico-point-36@3x.png);
}
.i-ico-zeropay {
  width: 36px;
  height: 36px;
  background-image: url(../images/icon/ico-zeropay@3x.png);
}
.i-ico-pay {
  width: 36px;
  height: 36px;
  background-image: url(../images/icon/ico-pay@3x.png);
}
.i-ico-banking {
  width: 36px;
  height: 36px;
  background-image: url(../images/icon/ico-banking@3x.png);
}
.i-ico-creditcard {
  width: 36px;
  height: 36px;
  background-image: url(../images/icon/ico-creditcard@3x.png);
}

.i-ico-camera {
  background-image: url(../images/icon/ico-camera@3x.png);
}
.i-ico-file {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/ico-file@3x.png);
}
.i-ico-cs-info {
  background-image: url(../images/icon/ico-cs-info@3x.png);
}
.i-ico-cs-policy {
  background-image: url(../images/icon/ico-cs-policy@3x.png);
}
.i-ico-cs-terms {
  background-image: url(../images/icon/ico-cs-terms@3x.png);
}
.i-ico-trash-16 {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/ico-trash-16@3x.png);
}
.i-ico-filter {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/ico-filter@3x.png);
}

[class*="i-ico-error-"] {
  width: 100px;
  height: 80px;
}
.i-ico-error-warning {
  background-image: url(../images/icon/ico-error-warning@3x.png);
}
.i-ico-error-404 {
  background-image: url(../images/icon/ico-error-404@3x.png);
}
.i-ico-error-user {
  background-image: url(../images/icon/ico-error-user@3x.png);
}

.i-ico-success,
.i-ico-warning {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
  }
  &:before {
    opacity: 0.2;
    animation: icoAniBg1 2s ease-in-out;
  }
  &:after {
    animation: icoAniBg2 2s ease-in-out forwards;
  }
}
.i-ico-success {
  &:before,
  &:after {
    background: var(--theme-color);
    border: 1px solid var(--theme-color);
  }
  i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-width: 0 0 5px 5px;
    border-style: solid;
    border-color: #fff;
    width: 28px;
    height: 16px;
    border-radius: 2px;
    transform: translate(-50%, -70%) rotate(-45deg);
    z-index: 1;
    animation: icoSuccess 2s ease-in-out;
  }
}
.i-ico-warning {
  &:before,
  &:after {
    background: #f5045e;
    border: 1px solid #f5045e;
  }
  &.gray {
    &:before,
    &:after {
      background: #ddd;
      border: 1px solid #ddd;
    }
  }
  i {
    display: block;
    position: absolute;
    top: 12px;
    bottom: 12px;
    width: 8px;
    left: 50%;
    margin-left: -4px;
    z-index: 1;
    &:before,
    &:after {
      content: '';
      display: block;
      background: #fff;
      border-radius: 4px;
    }
    &:before {
      margin: 0 1px;
      height: calc(100% - 11px);
      animation: icoWarning1 2s ease-in-out;
    }
    &:after {
      margin-top: 3px;
      width: 8px;
      height: 8px;
      animation: icoWarning2 2s ease-in-out;
    }
  }
}
@keyframes icoAniBg1 {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  25% {
    transform: scale(1);
    opacity: 0.2;
  }
  65% {
    transform: scale(1);
    background: transparent;
    opacity: 1;
  }
  95% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.25);
    background: transparent;
    opacity: 0;
  }
}
@keyframes icoAniBg2 {
  0%,
  15% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icoSuccess {
  0%,
  45% {
    clip: rect(0, 5px, 0, 0);
  }
  50% {
    clip: rect(0, 5px, 16px, 0);
  }
  65%,
  100% {
    clip: rect(0, 26px, 16px, 0);
  }
}
@keyframes icoWarning1 {
  0%,
  35% {
    height: 0;
    opacity: 0;
  }
  40% {
    height: 0;
    opacity: 1;
  }
  65%,
  100% {
    height: calc(100% - 11px);
  }
}
@keyframes icoWarning2 {
  0%,
  35% {
    opacity: 0;
    margin-top: -6px;
  }
  40% {
    opacity: 1;
    margin-top: -6px;
  }
  70%,
  100% {
    margin-top: 3px;
  }
}