// icon
[class*="i-ico-"],
[class*="i-bar-"],
[class*="i-pay-"],
[class*="i-logo-"]{
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	flex-shrink: 0;
}
[class*="i-logo-"]{
	width: 32px;
	height: 32px;
}
.i-logo-bc{
	background-image: url(../images/icon/logo-bc@3x.png);
}
.i-logo-citi{
	background-image: url(../images/icon/logo-citi@3x.png);
}
.i-logo-hana{
	background-image: url(../images/icon/logo-hana@3x.png);
}
.i-logo-hyundai{
	background-image: url(../images/icon/logo-hyundai@3x.png);
}
.i-logo-jb{
	background-image: url(../images/icon/logo-jb@3x.png);
}
.i-logo-kb{
	background-image: url(../images/icon/logo-kb@3x.png);
}
.i-logo-lotte{
	background-image: url(../images/icon/logo-lotte@3x.png);
}
.i-logo-nh{
	background-image: url(../images/icon/logo-nh@3x.png);
}
.i-logo-samsung{
	background-image: url(../images/icon/logo-samsung@3x.png);
}
.i-logo-shinhan{
	background-image: url(../images/icon/logo-shinhan@3x.png);
}
.i-logo-woori{
	background-image: url(../images/icon/logo-woori@3x.png);
}
[class*="i-pay-"]{
	width: 60px;
	height: 28px;
}
.i-pay-card{
	background-image: url(../images/icon/pay-creditcard@3x.png);
}
.i-pay-banking{
	background-image: url(../images/icon/pay-banking@3x.png);
}
.i-pay-zero{
	background-image: url(../images/icon/pay-zero@3x.png);
}
.i-pay-kakao{
	background-image: url(../images/icon/pay-kakao@3x.png);
}
.i-pay-payco{
	background-image: url(../images/icon/pay-payco@3x.png);
}
.i-pay-naver{
	background-image: url(../images/icon/pay-naver@3x.png);
}
.i-pay-samsung{
	background-image: url(../images/icon/pay-samsung@3x.png);
}
.i-pay-lpay{
	background-image: url(../images/icon/pay-lpay@3x.png);
}

.i-ico-checked{
	&:after{
		content:'';
		display:block;
		position:absolute;
		left:50%;
		top:50%;
		border-width:0 0 2px 2px;
		border-style:solid;
		border-color:#222;
		width:14.6px;
		height:8px;
		flex: 0 0 auto;
		transform: translate(-50%, -70%) rotate(-45deg) scale(0.9);
	}
}
.i-bar-menu{
	background-image: url(../images/icon/bar-menu@3x.png);
}
.i-ico-search,
.i-bar-search{
	background-image: url(../images/icon/ico-search@3x.png);
}
.i-bar-home{
	background-image: url(../images/icon/bar-home@3x.png);
}
.i-bar-user{
	background-image: url(../images/icon/bar-user@3x.png);
}
.i-bar-login{
	background-image: url(../images/icon/bar-login@3x.png);
}
.i-bar-cart{
	background-image: url(../images/icon/bar-cart@3x.png);
}
.i-ico-naver{
	width: 48px;
	height: 48px;
	background-image: url(../images/icon/sns-naver@3x.png);
}
.i-ico-kakao{
	width: 48px;
	height: 48px;
	background-image: url(../images/icon/sns-kakao@3x.png);
}
.i-ico-facebook{
	width: 48px;
	height: 48px;
	background-image: url(../images/icon/sns-facebook@3x.png);
}
.i-ico-twitter{
	width: 48px;
	height: 48px;
	background-image: url(../images/icon/sns-twitter@3x.png);
}
.i-ico-urlcopy{
	width: 48px;
	height: 48px;
	background-image: url(../images/icon/sns-urlcopy@3x.png);
}
.i-ico-welcome{
	width: 60px;
	height: 60px;
	background-image: url(../images/icon/icon-welcome@3x.png);
}
.i-ico-list-bar{
	background-image: url(../images/icon/ico-list-bar@3x.png);
}
.i-ico-list-grid{
	background-image: url(../images/icon/ico-list-grid@3x.png);
}
.i-ico-star{
	width: 16px;
	height: 16px;
	background-image: url(../images/icon/ico-star-off@3x.png);
	&.on{
		background-image: url(../images/icon/ico-star-on@3x.png);
	}
	&.size24{
		width: 24px;
		height: 24px;
	}
}

.i-ico-lock{
	width: 16px;
	height: 16px;
	background-image: url(../images/icon/ico-lock@3x.png);
}

.i-ico-spinner-minus{
	width: 16px;
	height: 16px;
	background-image: url(../images/icon/ico-spinner-minus@3x.png);
}
.i-ico-spinner-plus{
	width: 16px;
	height: 16px;
	background-image: url(../images/icon/ico-spinner-plus@3x.png);
}
.i-ico-round-close{
	width: 20px;
	height: 20px;
	background-image: url(../images/icon/ico-round-close@3x.png);
}
.i-ico-arrow-right-16{
	width: 16px;
	height: 16px;
	background-image: url(../images/icon/ico-arrow-right-16@3x.png);
}
.i-ico-arrow-down-16{
	width: 16px;
	height: 16px;
	background-image: url(../images/icon/ico-arrow-down-16@3x.png);
}
.i-ico-share{
	width: 20px;
	height: 20px;
	background-image: url(../images/icon/ico-share@3x.png);
}
.i-ico-cart-empty{
	width: 60px;
	height: 60px;
	background-image: url(../images/icon/ico-cart-empty@3x.png);
}
.i-ico-warning{
	width: 60px;
	height: 60px;
	background-image: url(../images/icon/ico-warning@3x.png);
}
.i-ico-my-order{
	background-image: url(../images/icon/ico-my-order@3x.png);
}
.i-ico-my-1to1{
	background-image: url(../images/icon/ico-my-1to1@3x.png);
}
.i-ico-my-address{
	background-image: url(../images/icon/ico-my-address@3x.png);
}
.i-ico-my-bank{
	background-image: url(../images/icon/ico-my-bank@3x.png);
}
.i-ico-my-cancel{
	background-image: url(../images/icon/ico-my-cancel@3x.png);
}
.i-ico-my-cart{
	background-image: url(../images/icon/ico-my-cart@3x.png);
}
.i-ico-my-drop{
	background-image: url(../images/icon/ico-my-drop@3x.png);
}
.i-ico-my-info{
	background-image: url(../images/icon/ico-my-info@3x.png);
}
.i-ico-my-password{
	background-image: url(../images/icon/ico-my-password@3x.png);
}
.i-ico-my-point{
	background-image: url(../images/icon/ico-my-point@3x.png);
}
.i-ico-my-qna{
	background-image: url(../images/icon/ico-my-qna@3x.png);
}
.i-ico-my-review{
	background-image: url(../images/icon/ico-my-review@3x.png);
}
.i-ico-my-sns{
	background-image: url(../images/icon/ico-my-sns@3x.png);
}
.i-ico-point{
	width: 36px;
	height: 36px;
	background-image: url(../images/icon/ico-point-36@3x.png);
}
.i-ico-zeropay{
	width: 36px;
	height: 36px;
	background-image: url(../images/icon/ico-zeropay@3x.png);
}
.i-ico-pay{
	width: 36px;
	height: 36px;
	background-image: url(../images/icon/ico-pay@3x.png);
}
.i-ico-banking{
	width: 36px;
	height: 36px;
	background-image: url(../images/icon/ico-banking@3x.png);
}
.i-ico-creditcard{
	width: 36px;
	height: 36px;
	background-image: url(../images/icon/ico-creditcard@3x.png);
}

.i-ico-camera{
	background-image: url(../images/icon/ico-camera@3x.png);
}
.i-ico-file{
	width: 20px;
	height: 20px;
	background-image: url(../images/icon/ico-file@3x.png);
}
.i-ico-cs-info{
	background-image: url(../images/icon/ico-cs-info@3x.png);
}
.i-ico-cs-policy{
	background-image: url(../images/icon/ico-cs-policy@3x.png);
}
.i-ico-cs-terms{
	background-image: url(../images/icon/ico-cs-terms@3x.png);
}