.section .line-list-1 {
  @include outer;
}
.line-list-1 {
  > li + li {
    border-top: 0.1rem solid #eee;
  }
  .item {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    min-height: 6rem;
  }
}
.ico-line-list {
  .item {
    display: flex;
    align-items: center;
    > div {
      padding-left: 1.6rem;
      flex: 1 1 auto;
    }
  }
}
.list-empty {
  padding: 10rem 0;
  text-align: center;
  [class*='i-ico-'] {
    margin-bottom: 1.6rem;
  }
  p {
    font-size: 1.4rem;
    color: #666;
  }
}
.file-list {
  > li + li {
    margin-top: 0.8rem;
  }
  .btn-txt {
    padding: 0;
    word-break: break-all;
  }
}
.section .line-list-2 {
  @include outer;
}
.line-list-2 {
  > li:after {
    content: '';
    display: block;
    height: 0.1rem;
    background: #eee;
    margin: 0 2rem;
  }
  &.no-last-line {
    > li:last-child:after {
      display: none;
    }
  }
}
.notice-item {
  display: block;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  .tit {
    @include ellipsis;
  }
  .date {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    color: #666;
  }
}
.list-count-bar {
  font-size: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.1rem solid #eee;
}
.list-view {
  padding-top: 1.2rem;
  word-break: break-all;
  img {
    max-width: 100%;
  }
  .list-view-tit {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .list-view-info {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #666;
    margin-top: 1.2rem;
    .right {
      margin-left: auto;
    }
  }
  .list-view-cont {
    padding-top: 2.4rem;
    margin-top: 2rem;
    border-top: 0.1rem solid #eee;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #666;
    min-height: 20.1rem;
  }
}
.faq-list.folding-list {
  border-width: 0;
  > li {
    border-top-width: 0;
    &:after {
      content: '';
      display: block;
      height: 0.1rem;
      background: #eee;
      margin: 0 2rem;
    }
  }
  &.no-last-line {
    > li:last-child:after {
      display: none;
    }
  }
  .folding-head {
    font-size: 1.4rem;
    line-height: 2.2rem;
    a {
      padding-left: 4rem;
      &:before {
        content: 'Q';
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 1.6rem;
        color: #666;
        font-weight: 500;
      }
      &:after {
        top: 50%;
        margin-top: -1.2rem;
        background-image: url(../images/icon/ico-arrow-down-24@3x.png);
      }
    }
  }
  .folding-panel {
    background: #f6f6f6;
    padding: 2rem 2rem 2rem 4rem;
    &:before {
      content: 'A';
      position: absolute;
      top: 1.9rem;
      left: 2rem;
      font-size: 1.6rem;
      color: var(--primary-color);
      font-weight: 500;
    }
  }
}
