.list-empty {
  padding: 10rem 0;
  text-align: center;
  [class*='i-ico-'] {
    vertical-align: top;
    margin-bottom: 1.2rem;
  }
  p {
    color: #999;
  }
}

.logo-info-txt {
  display: flex;
  align-items: center;
  strong {
    font-weight: 500;
  }
  .ico-logo {
    margin-right: 0.8rem;
    + .txt-name,
    + div {
      flex: 1 1 auto;
    }
  }
  > .txt-wrap {
    flex: 1 1 auto;
    line-height: 1;
    .txt-sub {
      + .txt-name {
        margin-top: 4px;
      }
    }
  }
  .txt-sub {
    font-size: 1.2rem;
    color: #979797;
  }
  .txt-name {
    display: block;
    font-size: 1.6rem;
    color: var(--strong-txt-color);
    @include ellipsis(1);
  }
}
.round-box-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 1.4rem;
  background: #fafafa;
  > div:first-child {
    flex: 1 1 auto;
  }
  > .right {
    margin-left: auto;
    padding-left: 10px;
    font-size: 1.4rem;
    .btn-txt {
      color: var(--primary-color);
      padding: 0 0.8rem;
      text-decoration: underline;
    }
  }
  + .round-box-item {
    margin-top: 0.8rem;
  }
}

.section .line-list-1 {
  @include outer;
}
.line-list-1 {
  > li + li {
    border-top: 0.1rem solid #eee;
  }
  .item {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    min-height: 6rem;
  }
}
.ico-line-list {
  .item {
    display: flex;
    align-items: center;
    > div {
      padding-left: 1.6rem;
      flex: 1 1 auto;
    }
  }
}

.file-list {
  > li + li {
    margin-top: 0.8rem;
  }
  .btn-txt {
    padding: 0;
    word-break: break-all;
  }
}
.section .line-list-2 {
  @include outer;
}
.line-list-2 {
  > li:after {
    content: '';
    display: block;
    height: 0.1rem;
    background: #eee;
    margin: 0 2rem;
  }
  &.no-last-line {
    > li:last-child:after {
      display: none;
    }
  }
}
.notice-item {
  display: block;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  .tit {
    @include ellipsis;
  }
  .date {
    margin-top: 0.4rem;
    font-size: 1.2rem;
  }
}
.list-count-bar {
  font-size: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.1rem solid #eee;
}
.list-view {
  padding-top: 1.2rem;
  word-break: break-all;
  img {
    max-width: 100%;
  }
  .list-view-tit {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .list-view-info {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.6rem;

    margin-top: 1.2rem;
    .right {
      margin-left: auto;
    }
  }
  .list-view-cont {
    padding-top: 2.4rem;
    margin-top: 2rem;
    border-top: 0.1rem solid #eee;
    font-size: 1.4rem;
    line-height: 2.2rem;

    min-height: 20.1rem;
  }
}
.faq-list.folding-list {
  border-width: 0;
  > li {
    border-top-width: 0;
    &:after {
      content: '';
      display: block;
      height: 0.1rem;
      background: #eee;
      margin: 0 2rem;
    }
  }
  &.no-last-line {
    > li:last-child:after {
      display: none;
    }
  }
  .folding-head {
    font-size: 1.4rem;
    line-height: 2.2rem;
    a {
      padding-left: 4rem;
      &:before {
        content: 'Q';
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 1.6rem;

        font-weight: 500;
      }
      &:after {
        top: 50%;
        margin-top: -1.2rem;
        // background-image: url(../images/icon/ico-arr-down-24.png);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.2929C19.0977 8.6834 19.0977 9.31658 18.707 9.70708L12.3428 16.0711C12.1426 16.2717 11.8774 16.3692 11.6147 16.3637C11.3521 16.3692 11.0869 16.2717 10.8867 16.0711L4.52246 9.70709C4.13184 9.31658 4.13184 8.6834 4.52246 8.2929C4.91309 7.90237 5.54639 7.90237 5.93652 8.2929L11.6147 13.9708L17.293 8.2929C17.6831 7.90237 18.3164 7.90237 18.707 8.2929Z' fill='%23666666'/%3E%3C/svg%3E");
      }
    }
  }
  .folding-panel {
    background: #f6f6f6;
    padding: 2rem 2rem 2rem 4rem;
    &:before {
      content: 'A';
      position: absolute;
      top: 1.9rem;
      left: 2rem;
      font-size: 1.6rem;
      color: var(--primary-color);
      font-weight: 500;
    }
  }
}

.qna-list {
  line-height: 1.33;
  > ul {
    > li {
      border-bottom: 0.1rem solid #eee;
      &.no-line {
        border-bottom-width: 0;
      }
    }
  }
  &.no-last-line {
    > ul {
      > li:last-child {
        border-bottom-width: 0;
      }
    }
  }
  &.ty2 {
    > ul {
      > li {
        border-bottom-width: 0;
        + li {
          margin-top: 2.4rem;
        }
      }
    }
    .qna-list-item {
      padding-bottom: 0;
    }
    .folding-panel {
      padding-top: 1.6rem;
      padding-bottom: 0;
    }
  }
  .product-info {
    padding: 1.6rem;
    border: 0.1rem solid #eee;
    border-radius: 0.8rem;
  }
  .qna-list-item {
    position: relative;
    display: block;
    padding: 1.6rem 0;
    overflow: hidden;
    .info {
      display: flex;
      align-items: center;
      font-size: 1.2rem;

      .badge {
        margin-right: 1.2rem;
      }
      > div {
        margin-right: 0.6rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .tit {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1.2rem;
      position: relative;
      color: var(--strong-txt-color);
      &.in-chk {
        padding-left: 3.2rem;
        line-height: 2.2rem;
        .checkbox {
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
        }
      }
    }
  }
  .qna-list-question {
    font-size: 1.5rem;
    line-height: 2.2rem;

    + .qna-list-answer {
      margin-top: 2rem;
    }
  }
  .qna-list-answer {
    padding: 1.6rem;
    border-radius: 0.4rem;
    background-color: #f6f6f6;
    .date {
      font-size: 1.2rem;

      margin-bottom: 1.2rem;
    }
  }
  .folding-head {
    .qna-list-item {
      &:before {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: 1.6rem;
        right: 0;
        @include bg-etc;
        // background-image: url(../images/icon/ico-arr-down-24.png);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.2929C19.0977 8.6834 19.0977 9.31658 18.707 9.70708L12.3428 16.0711C12.1426 16.2717 11.8774 16.3692 11.6147 16.3637C11.3521 16.3692 11.0869 16.2717 10.8867 16.0711L4.52246 9.70709C4.13184 9.31658 4.13184 8.6834 4.52246 8.2929C4.91309 7.90237 5.54639 7.90237 5.93652 8.2929L11.6147 13.9708L17.293 8.2929C17.6831 7.90237 18.3164 7.90237 18.707 8.2929Z' fill='%23666666'/%3E%3C/svg%3E");
        transition: 0.3s;
      }
      .info {
        padding-right: 2.5rem;
      }
    }
  }
  li.open {
    .folding-head {
      .qna-list-item:before {
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }
  .folding-panel {
    display: none;
    padding-bottom: 1.6rem;
  }
}
.qna-textarea {
  textarea {
    padding: 1.3rem 1.6rem;
    height: -vh(100, 20rem, true);
  }
}
