// range
.ui-slider {
  position: relative;
  padding: 6px 0;
  background: none;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    height: 8px;
    margin: 0 -10px;
    background: #bbb;
    border-radius: 4px;
    opacity: 0.2;
  }
  .ui-widget-header {
    background: none;
  }
}
.ui-slider-range {
  position: absolute;
  left: -10px;
  top: 6px;
  height: 8px;
  background: none;
  border-radius: 4px;
  padding: 0 10px;
  transition: 0.3s;
  box-sizing: content-box;
}
.ui-slider-handle {
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 5px solid var(--theme-color);
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  background: #fff;
  text-align: center;
  transition: 0.2s;
  i {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 0 10px;
    margin-bottom: 14px;
    font-size: 13px;
    color: #fff;
    background: var(--theme-color);
    line-height: 36px;
    border-radius: 4px;
    white-space: nowrap;
    transform: translateX(-50%);
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 100%;
      margin-left: -4px;
      border: 1px solid transparent;
      border-width: 5px 4px 0;
      border-top-color: var(--theme-color);
    }
  }
}
.range-slider {
  margin: 0 10px;
  padding-top: 45px;
  .list {
    margin-top: 6px;
    ul {
      display: flex;
      font-size: 13px;
    }
    li {
      flex: 1 1 auto;
      position: relative;
      width: 100%;
      height: 22px;
      &:first-child {
        flex: 0 0;
        width: 0;
      }
      & + li + li:before {
        content: '';
        display: block;
        width: 1px;
        height: 8px;
        position: absolute;
        left: 0;
        top: -20px;
        background: #dddddd;
        pointer-events: none;
      }
      span,
      a {
        display: inline-block;
        width: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        right: -15px;
        color: #666;
        z-index: 1;
      }
      &.on span,
      &.on a {
        font-weight: 500;
        color: #222;
      }
    }
  }
  &.multiple {
    .ui-slider .ui-slider-range {
      &:after {
        content: '';
        display: block;
        margin-right: 20px;
        height: 100%;
        background: var(--theme-color);
      }
    }
  }
}
