// íƒ­
.tab-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  .tab-line-moving & {
    transition: 0.3s;
  }
  &.ty2 {
    right: 100%;
    width: auto;
  }
}
.tab-inner {
  position: relative;
  @include scroll-x;
  @include scroll-hide;
  @include web-center;
}
.tab-list {
  position: relative;
  display: inline-flex;
  min-width: 100%;
  white-space: nowrap;
  text-align: center;
}
.tab-navi-menu {
  .section & {
    @include outer;
  }
  position: relative;
  height: 5rem;
  background: #fff;
  border-bottom: 0.1rem solid #ddd;
  transition: box-shadow 0.3s, transform 0.3s;
  @include web-center;
  &.tab-fixed,
  &.pop-fixed {
    position: sticky;
    top: 4rem;
    z-index: 10;
  }
  &.top-fixed,
  &.pop-top-fixed {
    border-bottom-width: 0;
    // box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.08);
    &:not(.no-shadow) {
      box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(255, 255, 255, 1);
    }
  }
  .tab-line {
    z-index: 1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 1.1rem;
      left: 50%;
      width: 0.4rem;
      height: 0.4rem;
      margin-left: -0.2rem;
      border-radius: 50%;
      background: var(--primary-color);
    }
  }
  .tab-list {
    padding: 0 1.2rem;
  }
  .tab {
    width: 100%;
    position: relative;
    text-align: center;
    & > a {
      position: relative;
      display: block;
      padding: 1rem 0.8rem 1.7rem;
      height: 5rem;
      text-align: center;
      color: #000;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.2rem;
      overflow: hidden;
      transition: 0.3s;
    }
    &.active > a {
      color: var(--primary-color);
    }
  }
  .tab-expand-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 3.4rem;
    height: calc(100% - 0.1rem);
    background: #fff;
    z-index: 1;
    // box-shadow: -1rem 0 1rem rgba(255,255,255,1);
    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      width: 2rem;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%, #fff 100%);
      pointer-events: none;
    }
    button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      &:before {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        margin-top: -0.5rem;
        background: url(../images/icon/tab-navi-arr@3x.png) no-repeat center center / contain;
        transform: rotate3d(1, 0, 0, 0deg);
        transition: 0.3s;
      }
      &.on {
        opacity: 1;
        &:before {
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }
    }
  }
  .tab-expand {
    position: absolute;
    top: 4.9rem;
    left: 0;
    width: 100%;
    border-top: 0.1rem solid #eee;
    background: #f7f7f7;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 1.6rem 1.8rem;
      li {
        padding: 0.4rem 0.6rem;
        a {
          font-size: 1.5rem;
          font-weight: 500;
          color: #000;
        }
        &.active {
          a {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  &.scroll-able {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      height: 100%;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%, #fff 100%);
      z-index: 1;
      pointer-events: none;
    }
    .tab-list {
      padding-right: 4.6rem;
    }
  }
}
.tab-panel {
  display: none;
  &.active {
    display: block;
    &.flex {
      display: flex;
    }
  }
}
.tab-swipe-panels {
  .section & {
    @include outer;
    .tab-panel {
      padding: 0 2.4rem;
    }
  }
  .tab-panel {
    display: block;
  }
  .swiper-pagination {
    display: none;
  }
}

.tab-box-menu {
  position: relative;
  .section & {
    @include outer;
  }
  .tab-line {
    border: 0.1rem solid #222;
    background: #fff;
    border-radius: 0.4rem;
    height: 100%;
    z-index: 1;
  }
  .tab-list {
    padding: 0 2.4rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 2.4rem;
      top: 0;
      right: 2.4rem;
      bottom: 0;
      border: 0.1rem solid #ddd;
      border-radius: 0.4rem;
      background: #f8f8f8;
      border-radius: 0.4rem;
    }
  }
  .tab {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
    & > a {
      position: relative;
      display: block;
      padding: 1.2rem 1rem;
      text-align: center;

      font-size: 1.5rem;
      line-height: 2.4rem;
      overflow: hidden;
      transition: color 0.3s;
    }
    &.active > a {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--strong-txt-color);
    }
  }
  .section &.scroll-able {
    @include outer;
  }
}

.tab-line-menu {
  .section & {
    @include outer;
  }
  position: relative;
  height: 5rem;
  background: #fff;
  transition: box-shadow 0.3s, transform 0.3s;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background: #f4f4f4;
  }
  &.tab-fixed,
  &.pop-fixed {
    position: sticky;
    top: 4rem;
    z-index: 10;
  }
  &.top-fixed,
  &.pop-top-fixed {
    border-top-color: #f4f4f4;
    // box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.08);
    z-index: 10;
    &:not(.no-shadow) {
      box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(255, 255, 255, 1);
    }
  }
  .tab-line {
    height: 0.1rem;
    background: #000;
  }
  .tab-list {
    justify-content: space-evenly;
    padding: 0 1.2rem;
  }
  .tab {
    position: relative;
    text-align: center;
    padding: 0 0.8rem;
    & > a {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 5rem;

      font-size: 1.4rem;
      line-height: 2rem;
      overflow: hidden;
      transition: 0.3s;
    }
    &.active > a {
      font-weight: bold;
      color: var(--strong-txt-color);
      &:after {
        left: 0;
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.tab-round-menu {
  .section & {
    @include outer;
  }
  .tab-list {
    padding: 0 1.7rem;
  }
  .tab {
    position: relative;
    padding: 0 0.3rem;
    & > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.4rem;
      padding: 0 2rem;
      background: #eee;
      border-radius: 2.2rem;
      color: var(--strong-txt-color);
      font-size: 1.4rem;
      overflow: hidden;
      transition: 0.3s;
    }
    &.active {
      > a {
        background: #000;
        color: #fff;
      }
    }
  }
}

.tab-txt-menu {
  display: flex;
  flex-wrap: wrap;
  > li {
    position: relative;
    padding-right: 0.1rem;
    margin: 0.4rem 0;
    &:after {
      content: '';
      display: block;
      width: 0.1rem;
      height: 1.2rem;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -0.6rem;
      background: #ddd;
    }
    &:first-child {
      a {
        padding-left: 0;
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
      a {
        padding-right: 0;
      }
    }
    > a {
      display: block;
      padding: 0 1.2rem;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #999;
      white-space: nowrap;
    }
    &.active {
      > a {
        color: var(--strong-txt-color);
      }
    }
  }
}
