// 타이틀
.title-bar {
  display: flex;
  margin-top: 2rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  > div:not(.right) {
    width: 100%;
    flex: 1 1 auto;
  }
  > .right {
    margin-left: 2rem;
    white-space: nowrap;
    align-self: flex-end;
  }
  &.line-gray {
    @include outer(true);
    background: #f8f8f8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
    .tit {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }
}
[class*='tit-'] {
  color: var(--strong-txt-color);
  line-height: 1.4;
  margin: 0;
}
.tit-h1 {
  font-size: 2.2rem;
  line-height: 3.2rem;
}
.tit-h2 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.tit-h3 {
  font-size: 1.5rem;
}
.line-title {
  position: relative;
  display: flex;
  align-items: center;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    flex: 1 1 auto;
    height: 0.1rem;
    background: #eee;
  }
  div {
    font-size: 1.4rem;
    line-height: 1.57;

    padding: 0 1.6rem;
    flex: 0 0 auto;
  }
}

// 스텝
.ico-step {
  position: relative;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    height: 0.1rem;
    position: absolute;
    top: 50%;
    left: 0.4rem;
    right: 0.4rem;
    background: #ddd;
  }
  li {
    @include text-blind;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
    background: #888;
    + li {
      margin-left: 1.2rem;
    }
    &.on {
      width: 2.4rem;
      height: 2.4rem;
      background: #000;
      font-size: 1.1rem;
      line-height: 2.4rem;
      text-align: center;
      color: #fff;
    }
  }
}

.txt-info-1 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-top: 0.8rem;
  > div,
  > p {
    margin-bottom: 0.4rem;
    &:first-child {
      margin-top: 0;
    }
  }
}
// 텍스트리스트
.txt-list {
  font-size: 1.4rem;
  color: #979797;
  line-height: 1.4286;
  & + .txt_list {
    margin-top: 1.5rem;
  }
  &.box {
    padding: 2rem;
    background: #f6f6f6;
    border-radius: 0.4rem;
  }
  & > *:first-child {
    margin-top: 0;
  }
  > ul > li,
  > li {
    margin-top: 0.858em;
    &:first-child {
      margin-top: 0;
    }
  }
  .small {
    font-size: 0.875em;
    padding: 0.5em 0;
    color: #888;
  }
  .dot,
  .dash {
    position: relative;
    padding-left: 1.2rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0.65em;
      background-color: #c2c2c2;
    }
  }
  .dot:before {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }
  .dash:before {
    width: 0.6rem;
    height: 0.1rem;
    margin-top: 0.1rem;
  }
  &.fz-14 {
    > ul > li,
    > li {
      margin-top: 1.2rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .txt-list {
    > ul > li,
    > li {
      margin-top: 0.4rem !important;
    }
  }
}
.txt-dl-list {
  font-size: 1.4rem;
  line-height: 2rem;
  &.top-line {
    padding-top: 2.4rem;
    border-top: 1px solid var(--line-color);
  }
  > li {
    display: flex;
    > .dt {
      width: 31.25%;
      max-width: 15rem;
      padding-right: 1rem;
      flex-shrink: 0;
    }
    > .dd {
      flex: 1 1 auto;
      text-align: right;
      color: var(--strong-txt-color);
    }
    + li {
      margin-top: 1.2rem;
    }
  }
}
.num-list-1 {
  color: var(--strong-txt-color2);
  font-size: 1.6rem;
  line-height: 2.3rem;
  > li {
    position: relative;
    padding-left: 3rem;
    > i {
      display: block;
      position: absolute;
      left: 0;
      top: 0.4rem;
      width: 1.8rem;
      height: 1.8rem;
      line-height: 1.8rem;
      font-size: 1.2rem;
      color: #fff;
      text-align: center;
      background: var(--strong-txt-color2);
      border-radius: 50%;
    }
    + li {
      margin-top: 1.2rem;
    }
  }
}
.terms-content {
  font-size: 1.4rem;
  color: var(--base-txt-color);

  ul,
  ol {
    margin-top: 0.8rem;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin-top: 1.6rem;
    &:first-child {
      margin-top: 0;
    }
  }
  strong {
    font-weight: 500;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: 3.2rem;
    color: var(--strong-txt-color2);
    &:first-child {
      margin-top: 0;
    }
    + h1,
    + h2,
    + h3,
    + h4 {
      margin-top: 1rem;
    }
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .txt-list {
    color: var(--base-txt-color);
    .dot:before,
    .dash:before {
      background-color: var(--base-txt-color);
    }
  }
  .terms-sub {
    font-size: 1.8rem;
    color: var(--strong-txt-color2);
    + p {
      margin-top: 2.4rem;
    }
  }
  .terms-box {
    margin-top: 0.8rem;
    border: 1px solid var(--line-color);
    border-radius: 1.2rem;
    padding: 2rem;
    h4:not(:first-child) {
      margin-top: 1.6rem;
    }
    p:not(:first-child) {
      margin-top: 0.8rem;
    }
  }
  .terms-dl {
    > dt {
      font-size: 1.6rem;
    }
    > dt,
    > dd {
      margin-top: 0.8rem;
    }
  }
  .chk-item {
    margin-top: 2.4rem;
    h4 + & {
      margin-top: 1.6rem;
    }
    + .chk-item {
      margin-top: 0.8rem;
    }
  }
}
