// 타이틀
.title-bar {
  display: flex;
  margin-top: 2rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  > div:not(.right) {
    width: 100%;
    flex: 1 1 auto;
  }
  > .right {
    margin-left: 2rem;
    white-space: nowrap;
    align-self: flex-end;
  }
  &.line-gray {
    @include outer(true);
    background: #f8f8f8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
    .tit {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }
}
[class*='tit-'] {
  color: #222;
  line-height: 1.4;
  margin: 0;
}
.tit-h1 {
  font-size: 2rem;
}
.tit-h2 {
  font-size: 1.8rem;
}
.tit-h3 {
  font-size: 1.5rem;
}
.line-title {
  position: relative;
  display: flex;
  align-items: center;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    flex: 1 1 auto;
    height: 0.1rem;
    background: #eee;
  }
  div {
    font-size: 1.4rem;
    line-height: 1.57;
    color: #666;
    padding: 0 1.6rem;
    flex: 0 0 auto;
  }
}

// 스텝
.ico-step {
  position: relative;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    height: 0.1rem;
    position: absolute;
    top: 50%;
    left: 0.4rem;
    right: 0.4rem;
    background: #ddd;
  }
  li {
    @include text-blind;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
    background: #888;
    + li {
      margin-left: 1.2rem;
    }
    &.on {
      width: 2.4rem;
      height: 2.4rem;
      background: #000;
      font-size: 1.1rem;
      line-height: 2.4rem;
      text-align: center;
      color: #fff;
    }
  }
}

.txt-info-1 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-top: 0.8rem;
  > div,
  > p {
    margin-bottom: 0.4rem;
    &:first-child {
      margin-top: 0;
    }
  }
}
// 텍스트리스트
.txt-list {
  font-size: 1.3rem;
  color: #666;
  line-height: 1.54;
  & + .txt_list {
    margin-top: 1.5rem;
  }
  &.box {
    padding: 2rem;
    background: #f6f6f6;
    border-radius: 0.4rem;
  }
  & > *:first-child {
    margin-top: 0;
  }
  > ul > li,
  > li {
    margin-top: 0.8rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .small {
    font-size: 0.875em;
    padding: 0.5em 0;
    color: #888;
  }
  .dot,
  .dash {
    position: relative;
    padding-left: 1rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0.7em;
      width: 0.3rem;
      height: 0.3rem;
      background-color: #666;
    }
  }
  .dot:before {
    border-radius: 50%;
  }
  .dash:before {
    width: 0.4rem;
    height: 0.1rem;
    margin-top: 0.1rem;
  }
  &.fz-14 {
    > ul > li,
    > li {
      margin-top: 1.2rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .txt-list {
    > ul > li,
    > li {
      margin-top: 0.4rem !important;
    }
  }
}
.txt-dl-list {
  font-size: 1.4rem;
  > li {
    display: flex;
    > .dt {
      width: 31.25%;
      max-width: 15rem;
      padding-right: 1rem;
      opacity: 0.65;
      flex-shrink: 0;
      font-size: 1.3rem;
      padding-top: 0.1rem;
    }
    > .dd {
      flex: 1 1 auto;
    }
    + li {
      margin-top: 0.8rem;
    }
  }
  .btn-txt {
    padding: 0.1rem 0;
  }
}
.text-content {
  font-size: 1.4rem;
  line-height: 1.57;
  h2 {
    margin: 3.2rem 0 0.8rem;
    font-size: 1.5rem;
    line-height: 1.47;
    &:first-child {
      margin-top: 0;
    }
  }
  .blind + h2 {
    margin-top: 0;
  }
}
.txt-info-dl {
  .dt {
    display: flex;
    align-items: center;
    .badge {
      margin-left: 0.8rem;
    }
    .button {
      margin-left: auto;
    }
  }
  .dd {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    word-break: break-all;
    p + p {
      margin-top: 0.4rem;
    }
  }
}
.txt-line-list-1 {
  > li {
    padding: 2.4rem 0;
    + li {
      border-top: 0.1rem solid #eee;
    }
  }
}

// 약관
.text-contents {
  padding: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #222;
  h1,
  h2,
  h3 {
    margin: 2.4rem 0 0.8rem;
    font-size: 1.6rem;
    &:first-child {
      margin-top: 0;
    }
  }
  div + div,
  li + li {
    margin-top: 0.8rem;
  }
  ul > li {
    padding-left: 0.75em;
    text-indent: -0.75em;
  }
}
