// tooltip
.tooltip-wrap {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  margin-left: 3px;
  align-items: center;
  .tooltip-btn {
    display: block;
  }
  .tooltip-cont {
    display: none;
    position: absolute;
    margin-top: 10px;
    left: 0px;
    top: 100%;
    width: 100px;
    min-width: 200px;
    min-height: 22px;
    padding: 13px 35px 15px 14px;
    border-radius: 4px;
    background: rgba(34, 34, 34, 0.85);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    box-sizing: border-box;
    z-index: 10;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    white-space: normal;
    word-break: normal;
    word-wrap: break-word;
    backdrop-filter: blur(2px);
    .tooltip-arr {
      position: absolute;
      top: -6px;
      margin-left: -5px;
      border: 1px solid transparent;
      border-width: 0 5px 6px;
      border-bottom-color: #333;
      opacity: 0.9;
    }
    .tooltip-close {
      display: block;
      position: absolute;
      right: 10px;
      top: 11px;
      width: 20px;
      height: 20px;
      background: url("data:image/svg+xml,%3Csvg id='icon-x' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:none;stroke:%23fff;stroke-linejoin:round;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Cpath id='선_295' data-name='선 295' class='cls-2' transform='translate(6 6)' d='M12 0 0 12'/%3E%3Cpath id='선_296' data-name='선 296' class='cls-2' transform='translate(6 6)' d='m0 0 12 12'/%3E%3C/svg%3E")
        no-repeat center center;
      background-size: contain;
    }
    &.bottom {
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: 10px;
      .tooltip-arr {
        top: auto;
        bottom: -6px;
        border-width: 6px 5px 0;
        border-top-color: #333;
        filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.05));
      }
    }
  }
}
.tooltip-btn {
  @include text-blind;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(../images/icon/ico-tooltip@3x.png) no-repeat center center / contain;
}
