/*가이드*/
[class*=gd__h]{
  color:#999;margin-bottom:1em;font-weight:bold;line-height:1.3;
  word-break: break-all;
  &:first-child,
  &.first{margin-top:0 !important;}
  &+ [class*=gd__h]{margin-top:1em !important;}
  &:before{content:'#';}
  &:after{content:'';display:block;height:0.4em;background:#eee;margin-top:-0.4em;z-index:-1;}
}
.gd__h0{text-align:center;font-size:3rem;color:#000;}
.gd__h1{
  font-size:2.4rem;color:#d00;margin-top:4em;
  &:after{background-color:rgba(221,0,0,0.1);}
}
.gd__h2{
  font-size:2rem;color:#157941;margin-top:3em;
  &:after{background-color:rgba(21,121,65,0.1);}
}
.gd__h3{
  font-size:1.8rem;color:#111;margin-top:2em;
  &:after{background-color:rgba(21,21,21,0.1);}
}
.gd__h4{margin-top:2em;}
.gd__wrap{overflow:hidden;}
.gd__box{
  margin:20px auto;display:flex;width:150px;height:150px;background:#eee;align-items:center;justify-content:center;
  transition: 0.5s;
  &.on{background:#d00;color:#fff;}
  &.active{background:blue;color:#fff;}
  &.checked{background:green;color:#fff;}
  &.selected{background:orange;color:#fff;}

  //@extend 샘플
  &-2{
    @extend .gd__box;
    border: 4px solid red;
    //at-root 샘플
    @include unify-parent("section"){
      background-color: blue;
    }
    @include when-inside('.gd__wrap2'){
      border-color: #000;
    }
  }
}
.gd__img{
  @include outer;
  background:red;
  >div{position:relative;}
  img{width:100%;top:0;transform:translateY(0);transition:top 0.3s;}
  &.fixed{
    .inner{position:fixed;top:56px;left:0;width:100%;height:100px;overflow:hidden;z-index:10;}
    img{position:relative;top:50%;transform:translateY(-50%);}
  }
  &.ty2{
    overflow:hidden;
  }
}
.gd__tbl{
  overflow-x: auto;
  overflow-y: hidden;
  th, td{
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
}
.gd__code {
  margin:10px 0; padding:15px;padding-top: 0; background:#f3f3f3; font-size:12px;white-space: pre-line;
}
.gd__theme_color{
  position: fixed;
  left: 0px;
  bottom: 20px;
  text-align: center;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: 10;
  &.open{
    left: 20px;
    transform: translateX(0);
    .gd__theme_btn{
      i{
        transform: rotate3d(0, 1, 0, 180deg);
      }
    }
    dl{
      margin-right: 0;
    }
  }
  .gd__theme_btn{
    position: absolute;
    left: 100%;
    bottom: 0;
    display: flex;
    width: 25px;
    height:30px;
    border-radius: 0 8px 8px 0;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    i{
      transform: rotate3d(0, 1, 0, 0deg);
      transition: 0.3s;
    }
  }
  dl{
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px 8px 0 8px;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  dd{
    margin-top: 10px;
    > div{
      margin-top: 3px;
      display: flex;
      font-size: 12px;
      align-items: center;
      .color{
        width: 100%;
        flex: 1 1 auto;
        text-align: left;
      }
      .reset{
        button{
          border: 1px solid #ddd;
          padding: 0 5px;
          border-radius: 5px;
          background: #fff;
        }
      }
    }
  }
  input{
    width: 100%;
  }
}
.gd__lottie-box{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.gd__lottie-confetti,
.gd__lottie-complete{
  width: 300px;
  height: 100px;
  margin: 0 auto;
}