.main {
  #header {
    > div {
      padding: 0 20px;
    }
    .head-search-box {
      position: relative;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      margin-left: 22px;
      width: auto;
      height: 44px;
      padding-right: 12px;
      border-radius: 22px;
      overflow: hidden;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--theme-color);
        opacity: 0.1;
      }
      .input {
        position: relative;
        border: 0 none;
        height: 44px;
        background: transparent;
        input {
          padding: 0 0 0 16px;
        }
        .btn-inp-del {
          margin-right: 4px;
        }
      }
      .head-search {
        position: relative;
        margin-right: 0;
        background-image: url(../images/icon/icon-search-main@3x.png);
      }
    }
  }
  .tab-navi-menu {
    border-bottom-color: transparent;
  }
}
.section .main-banner-swiper {
  @include outer;
}
.main-banner-swiper {
  position: relative;
  .swiper {
    background: none;
    padding: 0 10px;
  }
  .main-banner-img {
    margin: 0 10px;
  }
  .swiper-util {
    position: absolute;
    bottom: 16px;
    right: 40px;
    left: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 2;
    .left {
      display: flex;
      align-items: center;
      .btn-swiper-autoplay {
        margin-left: 8px;
      }
    }
    .swiper-pagination {
      margin-top: 0;
      color: rgba(255, 255, 255, 0.6);
      .swiper-pagination-current {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
.btn-swiper-autoplay {
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background: url(../images/icon/ico-banner-play@3x.png) no-repeat center center / contain;
  &.stop {
    background: url(../images/icon/ico-banner-stop@3x.png) no-repeat center center / contain;
  }
}
.btn-banner-more {
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: url(../images/icon/ico-banner-more@3x.png) no-repeat center center / contain;
}
.main-banner-img {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  &:before {
    content: '';
    display: block;
    // padding-top: 90.625%;
    height: 290px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  img {
    @include img-fit(true);
    max-width: none;
    pointer-events: none;
  }
  .cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 24px 56px;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    .tit {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.23;
    }
    div + div {
      margin-top: 4px;
    }
  }
}
.main-banner-wrap {
  .main-banner-img + .main-banner-img {
    margin-top: 20px;
  }
}
.section .main-category {
  @include outer;
}
.main-category {
  margin-top: 24px;
  > ul {
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li {
      padding: 0 6px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
      a {
        display: block;
        width: 60px;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
      }
      img {
        width: 100%;
        pointer-events: none;
      }
      .txt {
        margin-top: 6px;
      }
    }
  }
}
.section .bar-banner {
  @include outer;
}
.bar-banner {
  margin-top: 14px;
  > div,
  > a {
    position: relative;
    display: block;
    &:before {
      content: '';
      display: block;
      // padding-top: 27.7778%;
      height: 80px;
    }
    img {
      @include img-fit(true);
      max-width: none;
      pointer-events: none;
    }
  }
}
.section .promotion-scl-list {
  @include outer;
}
.promotion-scl-list {
  margin-top: 20px;
  > ul {
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li {
      padding: 0 10px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }
}
.promotion-scl-item {
  display: block;
  width: 272px;
  .img {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      padding-top: 61.02941176%;
    }
    img {
      @include img-fit(true);
      max-width: none;
      pointer-events: none;
    }
  }
  .cont {
    margin-top: 15px;
    text-align: center;
    .txt {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      + .tit {
        margin-top: 4px;
      }
    }
    .tit {
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }
  }
}
.section .promotion-banner {
  @include outer;
}
.promotion-banner {
  margin-top: 48px;
  > a,
  > div {
    position: relative;
    display: block;
    height: 100px;
    text-align: right;
    overflow: hidden;
  }
  img {
    height: 100%;
  }
  .cont {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 100px 0 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    .sub {
      color: #4a506f;
      font-size: 12px;
      line-height: 14px;
    }
    .tit {
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
    }
  }
}
.main-notice {
  margin-top: 48px;
  @include outer;
  padding: 36px 20px 0;
  border-top: 1px solid #eee;
  .title-bar {
    margin-top: 0;
  }
  .main-notice-list {
    margin-top: 16px;
  }
}
.main-notice-list {
  li + li {
    margin-top: 12px;
  }
  a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    @include ellipsis();
  }
}

.top-banner {
  text-align: left;
  .section {
    padding: 0;
  }
  .inner {
    position: relative;
    display: block;
    height: 60px;
    overflow: hidden;
    img {
      @include img-fit;
    }
  }
  .top-banner-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    background: url(../images/contents/top-banner-close@3x.png) no-repeat center center / contain;
  }
}
.search-input {
  display: flex;
  padding: 12px 20px !important;
  > .input {
    flex: 1 1 auto;
    border-radius: 22px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    input {
      height: 42px;
      padding-left: 20px;
    }
    .button {
      margin-right: 12px;
    }
  }
  > .button {
    padding: 0;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 18px;
    flex-shrink: 0;
  }
}
.search-contents {
  padding: 12px 0;
}
.keyword-list {
  li {
    position: relative;
  }
  .button.keyword {
    display: block;
    width: 100%;
    padding: 8px 24px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 500;
    color: #666;
    strong {
      color: #000;
    }
  }
  &.recent-keyword {
    .button.keyword {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 16px;
        height: 16px;
        background: url(../images/icon/ico-clock-16@3x.png) no-repeat center center / contain;
      }
    }
    .button.delete {
      padding: 0;
      position: absolute;
      right: 0;
      top: 8px;
      width: 24px;
      height: 24px;
      background: url(../images/icon/ico-close-24@3x.png) no-repeat center center / contain;
    }
  }
  &.relate-keyword {
    .button.keyword {
      &:before,
      &:after {
        content: '';
        position: absolute;
      }
      &:before {
        left: 0;
        top: 12px;
        width: 16px;
        height: 16px;
        background: url(../images/icon/ico-search-16@3x.png) no-repeat center center / contain;
      }
      &:after {
        right: 0;
        top: 8px;
        width: 24px;
        height: 24px;
        background: url(../images/icon/ico-arrow-up-left@3x.png) no-repeat center center / contain;
      }
    }
  }
}
.search-opt-wrap {
  position: relative;
  z-index: 0;
  transition: 0.3s 0.3s;
  @include web-center;
  .bg {
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    transition: background 0.3s 0s, visibility 0s 0.3s, height 0s 0.3s;
  }
  .search-opt {
    display: flex;
    position: relative;
    padding: 0px 20px 7px;
    background: #fff;
    .btn-select {
      height: 44px;
    }
    > .button {
      margin-left: auto;
      height: 44px;
      padding: 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .search-opt-panel {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 8px 20px 12px;
    background: #fff;
  }
  &.expend {
    z-index: 2;
    transition-delay: 0s;
    .bg {
      visibility: visible;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      transition-delay: 0s, 0s, 0s;
    }
    .search-opt-panel {
      display: block;
    }
  }
}
.filter-list.folding-list {
  border-width: 0px;
  > li {
    border-top-width: 0px;
    + li {
      &:before {
        content: '';
        display: block;
        height: 1px;
        margin: 0 20px;
        background: #eee;
      }
    }
  }
  .folding-panel {
    padding-bottom: 20px;
  }
}
.col-flex-content {
  padding: 20px !important;
  min-height: -vh(100);
  display: flex;
  flex-direction: column;
  > .cont {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    [class*="i-ico-"] {
      + .tit {
        margin-top: 20px;
      }
    }
    .tit {
      font-size: 22px;
      line-height: 30px;
      font-weight: 500;
      margin: 0;
      + .txt {
        margin-top: 12px;
      }
    }
    .txt {
      color: #666;
      font-size: 13px;
      line-height: 20px;
    }
  }
  > .btn-wrap {
    margin-top: 0;
    flex-shrink: 0;
  }
}