// 메인 배너
.main-banner-swiper {
  position: relative;
  .section & {
    @include outer;
  }
  .swiper {
    background: none;
    padding: 0 10px;
  }
  .main-banner-img {
    margin: 0 10px;
  }
  .swiper-util {
    position: absolute;
    bottom: 16px;
    right: 40px;
    left: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 2;
    .left {
      display: flex;
      align-items: center;
      .btn-swiper-autoplay {
        margin-left: 8px;
      }
    }
    .swiper-pagination {
      margin-top: 0;
      color: rgba(255, 255, 255, 0.6);
      .swiper-pagination-current {
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .swiper-auto-ctl {
    &:before,
    &:after {
      border-color: #fff;
    }
  }
}
.btn-banner-more {
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: url(../images/icon/ico-banner-more@3x.png) no-repeat center center / contain;
}
.main-banner-img {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  &:before {
    content: '';
    display: block;
    // padding-top: 90.625%;
    height: 290px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  img {
    @include img-fit(true);
    max-width: none;
    pointer-events: none;
  }
  .cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 24px 56px;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    .tit {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.23;
    }
    div + div {
      margin-top: 4px;
    }
  }
}
.main-banner-wrap {
  .main-banner-img + .main-banner-img {
    margin-top: 20px;
  }
}

// 메인 프로모션 리스트
.promotion-scl-list {
  margin-top: 20px;
  .section & {
    @include outer;
  }
  > ul {
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li {
      padding: 0 10px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }
}
.promotion-scl-item {
  display: block;
  width: 272px;
  .img {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      padding-top: 61.02941176%;
    }
    img {
      @include img-fit(true);
      max-width: none;
      pointer-events: none;
    }
  }
  .cont {
    margin-top: 15px;
    text-align: center;
    .txt {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      + .tit {
        margin-top: 4px;
      }
    }
    .tit {
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }
  }
}

// 메인 공지
.main-notice {
  margin-top: 48px;
  @include outer;
  padding: 36px 20px 0;
  border-top: 1px solid #eee;
  .title-bar {
    margin-top: 0;
  }
  .main-notice-list {
    margin-top: 16px;
  }
}
.main-notice-list {
  li {
    font-size: 14px;
    line-height: 20px;
    a,
    div {
      display: block;
      @include ellipsis();
    }
    + li {
      margin-top: 12px;
    }
  }
}

//탑배너
.top-banner {
  text-align: left;
  .section {
    padding: 0;
  }
  .inner {
    position: relative;
    display: block;
    height: 60px;
    overflow: hidden;
    img {
      @include img-fit;
    }
  }
  .top-banner-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    background: url(../images/contents/top-banner-close@3x.png) no-repeat center center / contain;
  }
}

// 통합검색
.search-input {
  display: flex;
  padding: 12px 0;
  .pop-head & {
    padding: 0;
  }
  > .input {
    flex: 1 1 auto;
    border-radius: 22px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    input {
      height: 42px;
      padding-left: 20px;
    }
    .button {
      margin-right: 12px;
    }
  }
  > .button {
    padding: 0;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 18px;
    flex-shrink: 0;
  }
}
.search-contents {
  padding: 12px 0;
}
.keyword-list {
  li {
    position: relative;
  }
  .button.keyword {
    display: block;
    width: 100%;
    padding: 8px 0 8px 24px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 500;
    color: #666;
    strong {
      color: #000;
    }
  }
  &.recent-keyword {
    .button.keyword {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 16px;
        height: 16px;
        background: url(../images/icon/ico-clock-16@3x.png) no-repeat center center / contain;
      }
    }
    .button.delete {
      padding: 0;
      position: absolute;
      right: 0;
      top: 8px;
      width: 24px;
      height: 24px;
      background: url(../images/icon/ico-close-24@3x.png) no-repeat center center / contain;
    }
  }
  &.relate-keyword {
    .button.keyword {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 16px;
        height: 16px;
        background: url(../images/icon/ico-search-16@3x.png) no-repeat center center / contain;
      }
    }
  }
}
.search-opt-wrap {
  position: relative;
  z-index: 0;
  transition: 0.3s 0.3s;
  @include web-center;
  .bg {
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    transition: background 0.3s 0s, visibility 0s 0.3s, height 0s 0.3s;
  }
  .search-opt {
    display: flex;
    position: relative;
    padding: 0px 20px 7px;
    background: #fff;
    .btn-select {
      height: 44px;
    }
    > .button {
      margin-left: auto;
      height: 44px;
      padding: 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .search-opt-panel {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 8px 20px 12px;
    background: #fff;
  }
  &.expend {
    z-index: 2;
    transition-delay: 0s;
    .bg {
      visibility: visible;
      height: 100%;
      @include dimm;
      transition-delay: 0s, 0s, 0s;
    }
    .search-opt-panel {
      display: block;
    }
  }
}

// 오류안내
.col-flex-content {
  padding: 20px !important;
  min-height: -vh(100);
  display: flex;
  flex-direction: column;
  > .cont {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    [class*='i-ico-'] {
      + .tit {
        margin-top: 20px;
      }
    }
    .tit {
      font-size: 22px;
      line-height: 30px;
      font-weight: 500;
      margin: 0;
      + .txt {
        margin-top: 12px;
      }
    }
    .txt {
      color: #666;
      font-size: 13px;
      line-height: 20px;
    }
  }
  > .btn-wrap {
    margin-top: 0;
    flex-shrink: 0;
  }
}

//test
.match-profile {
  position: sticky;
  top: 60px;
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 40px;
  color: #fff;
  background: linear-gradient(135deg, rgba(255, 169, 118, 0.5) 0%, rgba(255, 121, 112, 0.5) 100%);
  .img-box {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
  .cont {
    flex: 1 1 auto;
    margin-left: 18px;
  }
}
.match-content {
  position: relative;
  background: #fff;
  margin-top: -40px;
  padding-top: 40px;
  border-radius: 40px 40px 0 0;
  .title-bar {
    position: sticky;
    top: 60px;
    @include outer;
    padding: 10px 20px;
    background: #fff;
  }
  &.ty2 {
    .title-bar {
      top: 110px;
    }
  }
}
.match-content-top {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  z-index: 1;
  &.top-fixed {
    position: fixed;
    top: 60px;
    background: linear-gradient(90deg, rgba(255, 169, 118, 1) 0%, rgba(255, 121, 112, 1) 100%);
    pointer-events: none;
  }
  &:before {
    content: '';
    display: block;
    height: 40px;
    border-radius: 40px 40px 0 0;
    background: #fff;
  }
  &:after {
    content: '';
    display: block;
    width: 44px;
    height: 6px;
    background: #e5e5e5;
    position: absolute;
    left: 50%;
    top: 18px;
    margin-left: -22px;
    border-radius: 3px;
  }
}
