.point-item {
  padding: 1.6rem 0;
  display: flex;
  font-size: 1.4rem;
  .sub {
    font-size: 1.2rem;
  }
  .th {
    flex: 1 1 auto;
    .sub {
      margin-top: 0.4rem;
    }
  }
  .td {
    text-align: right;
    white-space: nowrap;
    flex-shrink: 0;
    padding-left: 1rem;
  }
  + .point-item {
    border-top: 0.1rem solid #eee;
  }
}
