.mapage-info-wrap{
  border: 1px solid #222;
  border-radius: 8px;
  overflow: hidden;
  .count{
    display: flex;
    text-align: center;
    padding: 16px 5px;
    dl,
    .dl{
      width: 100%;
      dt,
      .dt{
        font-size: 12px;
        line-height: 16px;
        color: #666;
      }
      dd,
      .dd{
        margin-top: 10px;
        strong{
          font-size: 24px;
          @include ff-pps;
        }
      }
    }
  }
  .address{
    border-top: 1px solid #eee;
    margin: 0 16px;
    padding: 17px 0;
    > li{
      +li{
        margin-top: 16px;
      }
    }
    .dt{
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #666;
      .btn-txt{
        margin-left: auto;
        font-size: 13px;
      }
    }
    .dd{
      font-size: 13px;
      line-height: 22px;
      margin-top: 7px;
    }
  }
  .etc{
    background: #f8f8f8;
    display: flex;
    >li{
      width: 100%;
    }
    .item{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      .dt{
        color: #666;
        margin-right: 7px;
      }
      .dd{
        font-size: 13px;
        strong{
          font-weight: 500;
        }
      }
    }
  }
}

.order-list{
  >li{
    + li{
      margin-top: 24px;
    }
  }
}
.order-date-info{
  display: flex;
  align-items: center;
  .number{
    font-size: 11px;
    font-weight: normal;
    margin-left: auto;
  }
}
.order-list-item{
  .order-date-info + .order-line-box{
    margin-top: 12px;
  }
  .btn-wrap{
    margin-top: 8px;
  }
}
.order-line-box{
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  + .order-line-box{
    margin-top: 8px;
  }
  .items{
    .item{
      position: relative;
      + .item{
        margin-top: 16px;
        border-top: 1px solid #eee;
        padding-top: 16px;
      }
    }
  }
  .order-state-wrap{
    margin-top: 8px;
  }
  &.ty2{
    padding: 20px 0;
    border-radius: 0;
    border-width:0;
    +.order-line-box{
      margin-top: 0;
      border-top-width: 1px;
    }
  }
}
.order-state-wrap{
  display: flex;
  align-items: flex-end;
  .order-util-btn{
    margin-left: auto;
  }
}
.order-state{
  .sub{
    font-size: 11px;
    color: #555;
    margin-bottom: 2px;
  }
  strong{
    color: #222;
  }
}
.point-item{
  padding: 16px 0;
  display: flex;
  font-size: 14px;
  .sub{
    font-size: 12px;
    color: #666;
  }
  .th{
    flex: 1 1 auto;
    .sub{
      margin-top: 4px;
    }
  }
  .td{
    text-align: right;
    white-space: nowrap;
    flex-shrink: 0;
    padding-left: 10px;
  }
  +.point-item{
    border-top: 1px solid #eee;
  }
}

/* 장영석 */

.sns-connect {
  > div { 
    display:flex; 
    padding:16px; 
    border:1px solid #eee;
    background:#fff; 
    align-items: center;
    border-radius: 8px;
    [class*="i-ico-"] { 
      margin-right:12px;
    }
    .button { 
      margin-left:auto;
    }
    & + div { 
      margin-top:12px;
    }
  }
}
