.check-line-list{
  margin-top: 12px;
  > .head{
    display: flex;
    padding: 16px 0;
    align-items: center;
    .left{
      flex:1 1 auto;
    }
    .right{
      margin-left: 20px;
    }
  }
  &:not([style*="display: none"]):not([style*="display:none"]) +.check-line-list{
    margin-top: 24px;
    &:before{
      content:'';
      display: block;
      @include outer;
      @include line;
    }
  }
}
.check-line-item{
  position: relative;
  border-top: 1px solid #eee;
  padding: 20px 0;
  min-height: 60px;
  > .checkbox{
    position: absolute;
    top: 20px;
    left: 0;
    +.cont{
      padding-left: 28px;
    }
  }
  .product-opt-list{
    margin-top: 12px;
  }
}
.check-line-bundle{
  @include outer;
  text-align: center;
  padding: 20px;
  background: #eee;
  color: #222;
}
.bundle-price{
  font-size: 13px;
  strong{
    @include ff-pps;
    font-size: 16px;
  }
  +.bundle-price-info{
    margin-top: 8px;
  }
}
.bundle-price-info{
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
.total-price-wrap{
  margin-top: 20px;
  .item{
    display: flex;
    .dt{
      flex: 1 1 auto;
      padding-right: 20px;
    }
    +.item{
      margin-top: 6px;
    }
  }
  .dt{
    font-size: 14px;
    color: #666;
  }
  .dd{
    color: #222;
    white-space: nowrap;
    font-size: 13px;
    strong{
      font-size: 16px;
      @include ff-pps;
    }
  }
  .info{
    &:not([style*="display: none"]):not([style*="display:none"]) +.last{
      margin-top: 12px;
      border-top: 1px solid #eee;
      padding-top: 12px;
    }
  }
  .first,
  .last{
    
    .item{
      align-items: flex-end;
    }
    .dt{
      font-size: 14px;
      color: #222;
      font-weight: 500;
      padding-bottom: 5px;
    }
    .dd{
      font-weight: 500;
      font-size: 16px;
      strong{
        font-size: 22px;
      }
    }
  }
  .first{
    margin-bottom: 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
  }
  .last{
    padding-bottom: 8px;
  }
  .box{
    margin-top: 4px;
    padding: 16px;
    border-radius: 8px;
    background: #f6f6f6;
  }

  &.box{
    padding: 20px 16px;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #fff;
  }
}
.cart-empty{
  padding: 120px 0;
  text-align: center;
  p{
    font-size: 14px;
    color: #666;
  }
  +.btn-wrap{
    margin-top: 0;
  }
}
.folding-list.folding-dl.order-folding{
  border-bottom-width: 0;
  .folding-panel{
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
  }
}
.folding-list.folding-dl.total-folding{
  border-width: 0;
  .folding-head{
    a{
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
      height: 64px;
      align-items: center;
      background-color: #222;
      color: #fff;
      &:after{
        background-image: url(../images/icon/ico-arrow-down-white@3x.png);
      }
      .dt{
        font-size: 16px;
        flex: 1 1 auto;
      }
      .dd{
        font-size: 16px;
        white-space: nowrap;
        padding-left: 20px;
        strong{
          @include ff-pps;
          font-size: 22px;
        }
      }
    }
  }
  .folding-panel{
    padding-top: 20px;
    padding-bottom: 0px;
    border-top: 0 none;
  }
  .total-price-wrap{
    margin-top: 0;
  }
}
.check-btn-grid.pay-check-btn{
  .radio.btn{
    .lbl{
      background: #fff;
      height: 80px;
      padding: 0;
      flex-direction: column;
      div{
        margin-top: 6px;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
.user-txt-info{
  position: relative;
  .dt{
    padding-right: 85px;
    .button{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .dd{
    margin-top: 4px;
    font-size: 14px;
    word-break: break-all;
    p+p{
      margin-top: 4px;
    }
  }
}

.address-list-btn{
  display: flex;
  align-items: center;
  >.left{
    flex: 1 1 auto;
    padding-right: 20px;
  }
  >.right{
    margin-left: auto;
  }
}

.address-item{
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 20px 16px 16px;
  .txt-info-1{
    margin-top: 8px;
    color: #666;
  }
  .address-list-btn{  
    margin-top: 8px;
  }
  +.address-item{
    margin-top: 12px;
  }
}
.address-list{
  .chk-item.ty2>.checkbox .lbl{
    padding-bottom: 8px;
  }
  .chk-item{
    .address-list-btn{  
      padding: 0 16px 20px;
    }
  }
  
}

.complete-txt{
  padding: 40px 30px;
  text-align: center;
  .tit{
    margin: 0;
    font-size: 22px;
    line-height: 1.36;
  }
  .txt{
    margin-top: 8px;
    font-size: 13px;
    color: #666;
  }
}
.gift-card-img{
  padding-top: 77.5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.gift-card-msg{
  padding: 0 16px 16px;
}
.gift-card-txt{
  padding: 17px;
  border-radius: 8px;
  background: rgba(255,255,255,0.5);
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}
.gift-card{
  border-radius: 8px;
  background: #ededef;
  overflow: hidden;
  transition: 0.3s;
  &.ty-1{
    background: #ffec80;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-01@3x.png);
    }
  }
  &.ty-2{
    background: #f5ecd3;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-02@3x.png);
    }
  }
  &.ty-3{
    background: #adeaed;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-03@3x.png);
    }
  }
  &.ty-4{
    background: #fddddd;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-04@3x.png);
    }
  }
  &.ty-5{
    background: #dfdcf4;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-05@3x.png);
    }
  }
  &.ty-6{
    background: #efeff4;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-06@3x.png);
    }
  }
  &.ty-7{
    background: #79cbc7;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-07@3x.png);
    }
  }
  &.ty-8{
    background: #ffd456;
    .gift-card-img{
      background-image: url(../images/gift-card/img-gift-08@3x.png);
    }
  }
}
.section .gift-thumb-list{
  @include outer;
}
.gift-thumb-list{
  > ul{
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li{
      padding: 0 4px;
      &:first-child{
        padding-left: 20px;
      }
      &:last-child{
        padding-right: 20px;
      }
    }
  }
}
.gift-thumb{
  position: relative;
  display: inline-block;
  width: 72px;
  height: 48px;
  background: #ededef;
  border-radius: 4px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &:after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #000;
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s ease;
  }
  &.on{
    &:after{
      opacity: 1;
    }
  }
  &.ty-1{
    background-image: url(../images/gift-card/img-gift-01-s@3x.png);
  }
  &.ty-2{
    background-image: url(../images/gift-card/img-gift-02-s@3x.png);
  }
  &.ty-3{
    background-image: url(../images/gift-card/img-gift-03-s@3x.png);
  }
  &.ty-4{
    background-image: url(../images/gift-card/img-gift-04-s@3x.png);
  }
  &.ty-5{
    background-image: url(../images/gift-card/img-gift-05-s@3x.png);
  }
  &.ty-6{
    background-image: url(../images/gift-card/img-gift-06-s@3x.png);
  }
  &.ty-7{
    background-image: url(../images/gift-card/img-gift-07-s@3x.png);
  }
  &.ty-8{
    background-image: url(../images/gift-card/img-gift-08-s@3x.png);
  }
}
.simple-pay-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 140px;
  margin: 0 auto;
  padding: 20px 20px 16px 16px;
  border-radius: 8px;
  background: #f4f4f4;
  .logo{
    display: block;
    height: 24px;
    background-image: url(../images/pay/simple-pay-etc@3x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  .info{
    font-size: 13px;
    text-align: right;
    dt{
      font-size: 14px;
      font-weight: bold;
      +dd{
        margin-top: 4px;
      }
    }
  }
  .simple-pay-delete{
    position: absolute;
    top: 16px;
    right: 16px;
  }
  + .simple-pay-card{
    margin-top: 16px;
  }
  &.hyundai{
    background: #000000;
    color: #fff;
    .logo{
      background-image: url(../images/pay/simple-pay-hyundai@3x.png);
    }
  }
  &.kb{
    background: #ffce0b;
    .logo{
      background-image: url(../images/pay/simple-pay-kb@3x.png);
    }
  }
  &.shinhan{
    background: #b5ebff;
    .logo{
      background-image: url(../images/pay/simple-pay-shinhan@3x.png);
    }
  }
  &.samsung{
    background: #cbe0ff;
    .logo{
      background-image: url(../images/pay/simple-pay-samsung@3x.png);
    }
  }
  &.lotte{
    background: #6f6259;
    color: #fff;
    .logo{
      background-image: url(../images/pay/simple-pay-lotte@3x.png);
    }
  }
  &.woori{
    background: #aceff8;
    .logo{
      background-image: url(../images/pay/simple-pay-woori@3x.png);
    }
  }
  &.hana{
    background: #a6d8d1;
    .logo{
      background-image: url(../images/pay/simple-pay-hana@3x.png);
    }
  }
  &.bc{
    background: #e73e44;
    color: #fff;
    .logo{
      background-image: url(../images/pay/simple-pay-bc@3x.png);
    }
  }
  &.nh{
    background: #d6eaff;
    .logo{
      background-image: url(../images/pay/simple-pay-nh@3x.png);
    }
  }
  &.citi{
    background: #c9e3f4;
    .logo{
      background-image: url(../images/pay/simple-pay-citi@3x.png);
    }
  }
  &.kakao{
    background: #ffde21;
    .logo{
      background-image: url(../images/pay/simple-pay-kakao@3x.png);
    }
  }
  &.add{
    border: 1px solid #eee;
    background: #fff;
    padding: 0;
    .button{
      width: 100%;
      height: 100%;
      padding: 0;
      font-weight: normal;
      color: #666;
      font-size: 16px;
    }
  }
}
.simple-pay-delete{
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
}

.ui-swiper.simple-pay-swiper{
  @include outer;
  .swiper{
    background: none;
  }
  .swiper-slide{
    width: auto;
    height: 140px;
    padding: 0 10px;
    opacity: 0.3;
    transition: opacity 0.3s;
    &.swiper-slide-active{
      opacity: 1;
    }
  }
  .swiper-pagination{
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .swiper-pagination-current{
    font-weight: bold;
  }
}
.img-guide-list{
  > li{
    +li{
      margin-top: 40px;
    }
  }
  .dt{
    position: relative;
    background: #f6f6f6;
    border-radius: 8px;
    padding: 16px 20px 16px 58px;
    font-weight: 15px;
    line-height: 22px;
    strong{
      position: absolute;
      top: 16px;
      left: 20px;
    }
  }
  .dd{
    margin-top: 24px;
  }
}