
//swiper
.banner-swiper{
  @include web-center;
  .inner{
    display: block;
    position: relative;
    &:before{
      content:'';
      display: block;
      padding-top: 61.1111%;
    }
    img{
      @include img-fit(true);
    }
  }
}
.detail-img-swiper{
  @include web-center;
  .prd-timer{
    top: 12px;
    left: 12px;
  }
  .prd-badge.top{
    top: 12px;
    right: 12px;
  }
  .prd-badge.bottom{
    bottom: 12px;
    left: 12px;
  }
  .product-img:after{
    content: none;
  }
  .swiper-pagination{
    margin-top: 16px;
  }
}
.detail-tab-swiper{
  .swiper{
    background: none;
  }
  .swiper-pagination{
    display: none;
  }
}

//상품
.product-info{
  display: flex;
  align-items: flex-start;
  > div+div,
  > a+div{
    flex: 1 1 auto;
    padding-left: 12px;
  }
  .product-img{
    width: 60px;
    border-radius: 8px;
    flex-shrink: 0;
    &.soldout:after{
      font-size: 16px;
    }
    &.soldout:after{
      font-size: 16px;
    }
  }
  .state{
    margin-top: 4px;
    font-size: 11px;
    line-height: 20px;
    color: #666;
  }
  &.small{
    margin-top: 15px;
    .product-img{
      width: 40px;
      border-radius: 4px;
    }
  }
}
.product-img{
  position: relative;
  display: block;
  overflow: hidden;
  &:before{
		content:'';
		display: block;
		padding-top: 100%;
	}
  > img{
    pointer-events: none;
    @include img-fit(true);
  }
  &:after{
    content:'';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
  }
  &.soldout:after{
    content:'품절' !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
}
.prd-badge{
  position: absolute;
  pointer-events: none;
  z-index: 1;
  >img{
    max-width: 100%;
    max-height: 100%;
  }
  &.top{
    width: 60px;
    top: 8px;
    right: 8px;
  }
  &.bottom{
    height: 41px;
    left: 8px;
    bottom: 8px;
  }
}
.prd-timer{
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 10px 16px;
  border-radius: 8px;
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 1;
  dt{
    font-size: 10px;
    line-height: 12px;
    padding-left: 16px;
    background: url(../images/icon/ico-timer@3x.png) no-repeat left top / 12px auto;
  }
  dd{
    margin-top: 3px;
    color: #f0431a;
    font-size: 14px;
    line-height: 25px;
    strong{
      font-size: 17px;
      @include ff-pps;
    }
  }
}
.prd-chart{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 37.5%;
  min-height: 100px;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  pointer-events: none;
  z-index: 1;
  .prd-chart-dt{
    display: flex;
    align-items: center;
    font-size: 14px;
    .tit{
      font-weight: 500;
    }
    .per{
      font-size: 16px;
      color: var(--theme-color);
      margin-left: 6px;
    }
    .day{
      margin-left: 8px;
    }
    .cut{
      margin-left: auto;
      font-size: 12px;
    }
  }
  .prd-chart-dd{
    margin-top: 8px;
    .bar{
      background: #fff;
      height: 8px;
      border-radius: 4px;
      overflow: hidden;
      i{
        display: block;
        width: 0%;
        height: 100%;
        background: var(--theme-color);
      }
    }
  }
}
.product-name{
  @include ellipsis(2);
  font-size: 13px;
  line-height: 1.54;
  word-break: break-all;
}
.product-price{
  font-size: 13px;
  line-height: 23px;
  strong{
    @include ff-pps;
    font-size: 16px;
  }
  &.line-through{
    font-size: 10px;
    line-height: 17px;
    color: #888;
    strong{
      font-weight: normal;
      font-size: 12px;
    }
  }
}
.product-rating{
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 16px;
  > .i-ico-star{
    margin-right: 4px;
  }
  .ico-star-wrap{
    margin-right: 8px;
  }
}
.ico-star-wrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  i, button{
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icon/ico-star-on@3x.png) no-repeat center center / contain;
    +.i-ico-star{
      margin-left: 2px;
    }
  }
  @for $i from 0 through 5{
    &[data-on='#{$i}']{
      @if ($i == 0) {
        i, button{
          background-image: url(../images/icon/ico-star-off@3x.png);
        }
      } @else {
        i:nth-child(#{$i}) ~ i,
        button:nth-child(#{$i}) ~ button{
          background-image: url(../images/icon/ico-star-off@3x.png);
        }
      }
    }
  }
  .txt{
    width: 100%;
    margin-top: 8px;
    font-size: 13px;
    text-align: center;
  }
  &.size24{
    i, button{
      width: 24px;
      height: 24px;
    }
  }
  &.size40{
    justify-content: center;
    i, button{
      width: 40px;
      height: 40px;
      + i, 
      + button{
        margin-left: 4px;
      }
    }
  }
}

.product-badge{
  display: flex;
  flex-wrap: wrap;
  .badge{
    margin: 4px 4px 0 0;
  }
}
.section .scl-list-wrap{
  @include outer;
}
.scl-list-wrap {
  margin-top: 20px;
  > ul{
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li{
      padding: 0 8px;
      &:first-child{
        padding-left: 20px;
      }
      &:last-child{
        padding-right: 20px;
      }
    }
  }
}
.product-scl-item{
  display: block;
  width: 128px;
  .product-img{
    border-radius: 8px;
  }
  .product-name{
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    height: 36px;
  }
  .product-price{
    margin-top: 2px;
    line-height: 20px;
    strong{
      font-size: 14px;
    }
  }
}

.section .list-opt-bar{
  @include outer(true);
}
.list-opt-bar{
  display: flex;
  height: 56px;
  align-items: center;
  font-size: 14px;
  > .left{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-right: 10px;
  }
  > .right{
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .select + .list-type-btn{
    margin-left: 12px;
  }
  &.top-line{
    position: relative;
    box-sizing: content-box;
    padding-top: 9px;
    &:before{
      content:'';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include line;
    }
  }
}
.list-type-btn{
  display: flex;
  .button{
    &.active{
      opacity: 0.3;
    }
    + .button{
      margin-left: 4px;
    }
  }
}
.section .product-list:not(.in-grid-ty){
  @include outer;
}
.product-list-item{
  position: relative;
  display: block;
  .product-cont{
    position: relative;
  }
  .inner{
    display: block;
    padding: 12px 16px 0;
  }
  .product-name{
    line-height: 19px;
    height: 38px;
  }
  .product-price-wrap{
    position: relative;
    min-height:40px;
    margin-top: 6px;
    padding-right: 52px;
  }
  .product-rating{
    margin-top: 8px;
  }
  .product-badge{
    margin-top: 9px;
  }
  .btn-product-cart{
    position: absolute;
    right: 16px;
    top: 56px;
  }
  &.soldout:after{
    content:'품절' !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
  }
  &.round-line{
    overflow: hidden;
    border-radius: 12px;
    .product-img{
      border-radius: 12px 12px 0 0;
    }
    .prd-badge.top{
      top: 12px;
      right: 12px;
    }
    .product-cont{
      border: 1px solid #eee;
      border-top-width: 0px;
      border-radius: 0 0 12px 12px;
      .inner{
        padding: 20px 16px;
      }
    }
    .product-price-wrap{
      display: flex;
      min-height: auto;
      align-items: center;
      flex-wrap: wrap;
    }
    .product-price:not(.line-through){
      strong{
        font-size: 18px;
      }
      +.product-price{
        margin-left: 8px;
      }
    }
    
    .btn-product-cart{
      top: auto;
      bottom: 16px;
    }
    &.soldout:after{
      font-size: 40px;
    }
  }
}
.product-list{
  >ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 4px;
    >li{
      position: relative;
      overflow: hidden;
    }
  }
  .prd-badge{
    &.top{
      width: 48px;
    }
    &.bottom{
      height: 32px;
    }
  }
  &.bar-type{
    >ul{
      display: block;
      > li{
        +li{
          margin-top: 35px;
        }
      }
    }
    .prd-badge{
      &.top{
        width: 32px;
      }
      &.bottom{
        height: 22px;
      }
    }
    .product-list-item {
      display: flex;
      padding: 0 20px;
      align-items: flex-start;
      .product-img{
        width: 108px;
        flex-shrink: 0;
        border-radius: 8px;
      }
      .product-cont{
        flex: 1 1 auto;
      }
      .inner{
        min-height: 100%;
        padding: 0 0 0 20px;
      }
      .product-price-wrap{
        margin-top: 4px;
        padding-right: 0;
        min-height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .product-price{
          margin-right: 9px;
          &:last-child{
            margin-right: 0;
          }
          &.line-through{
            font-size: 13px;
            strong{
              font-size: 14px;
            }
          }
        }
      }
      .product-rating{
        margin-top: 2px;
        padding-right: 40px;
      }
      .product-badge{
        margin-top: 8px;
        padding-right: 40px;
      }
      .btn-product-cart{
        right: 0px;
        top: 72px;
      }
    }
  }

  &.in-grid-ty{
    >ul{
      gap: 32px 12px;
    }
    .product-list-item{
      .product-img{
        border-radius: 8px;
      }
      .inner{
        padding:12px 0 0;
      }
      .btn-product-cart{
        right: 0;
      }
    }
  }
}
.product-row-box-list{
  margin-top: 20px;
  >ul{
    > li{
      +li{
        margin-top: 20px;
      }
    }
  }
  .product-list-item {
    display: flex;
    box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    .product-img{
      width: 153px;
      flex-shrink: 0;
    }
    .product-cont{
      flex: 1 1 auto;
    }
    .inner{
      padding: 16px;
    }
    .product-price-wrap{
      margin-top: 8px;
      .product-price{
        &.line-through{
          font-size: 10px;
          strong{
            font-size: 12px;
          }
        }
      }
    }
    .product-badge{
      margin-top: 11px;
    }
  }
}
.section .product-col-box-list{
  @include outer;
}
.product-col-box-list{
  > ul{
    display: flex;
    padding: 20px 0 30px;
    @include scroll-x;
    @include scroll-hide;
    > li{
      padding: 0 10px;
      &:first-child{
        padding-left: 20px;
      }
      &:last-child{
        padding-right: 20px;
      }
    }
  }
  .product-list-item{
    width: 260px;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.08);
    .inner{
      padding: 20px 16px;
    }
    .product-price-wrap{
      margin-top: 6px;
      padding-right: 0;
      min-height: auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .product-price{
        margin-right: 4px;
        line-height: 25px;
        &:last-child{
          margin-right: 0;
        }
        strong{
          font-size: 18px;
        }
        &.line-through{
          font-size: 10px;
          strong{
            font-size: 12px;
          }
        }
      }
    }
    .btn-product-cart{
      top: auto;
      bottom: 16px;
    }
  }
}
.button.icon.btn-product-cart{
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url(../images/icon/btn-cart@3x.png) no-repeat center center / contain;
}
.section .product-scl-list{
  @include outer;
}
.product-scl-list{
  > ul{
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li{
      padding: 0 8px;
      &:first-child{
        padding-left: 20px;
      }
      &:last-child{
        padding-right: 20px;
      }
    }
  }
  .product-list-item{
    width: 200px;
    border-radius: 12px;
    overflow: hidden;
    .product-img{
      &:after{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 107%);
        opacity: 0.8;
      }
    }
    .product-cont{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
    }
    .inner{
      padding: 20px;
    }
    .product-name{
      height: auto;
    }
    .product-price-wrap{
      min-height: auto;
      margin-top: 8px;
    }
    .product-price{
      line-height: 25px;
      strong{
        font-size: 18px;
      }
    }
  }
}

.product-detail{
  margin-top: 26px;
  position: relative;
  padding-top: 8px;
  .product-seller{
    font-size: 13px;
    opacity: 0.7;
    padding-right: 40px;
  }
  .product-name{
    display: block;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.5;
    -webkit-line-clamp: inherit;
    padding-right: 40px;
    word-break: break-all;
  }
  .button.share{
    position: absolute;
    top: 0;
    right: 0;
  }
  .product-price-wrap{
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .product-price{
      line-height: 28px;
      margin-right: 12px;
      &:last-child{
        margin-right: 0;
      }
      &:not(.line-through){
        font-size: 15px;
        strong{
          font-size: 22px;
        }
      }
      &.line-through{
        font-size: 13px;
        strong{
          font-size: 14px;
        }
      }
    }
  }
  .product-rating{
    margin-top: 3px;
  }
  .product-badge{
    margin-top: 17px;
  }
}

.detail-procuct-image{
  position: relative;
  overflow: hidden;
  max-height: 1200px;
  img{
    width: 100%;
  }
  > .btn-wrap{
    margin: 0;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
  &.expanded{
    max-height: none;
    .btn-detail-expand:after{
      transform: rotate3d(1,0,0,180deg);
    }
  }
}
.btn-detail-expand{
  &:after{
    content:'';
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icon/ico-arrow-down-16@3x.png) no-repeat center center / contain;
    transition: 0.3s;
  }
}
.img-box-wrap {
  margin-top: 12px;
  display: flex;
  @include scroll-x;
  .img-box + .img-box{
    margin-left: 8px;
  }
  .img-box{
    width: 80px;
    flex-shrink: 0;
    border-radius: 4px;
    &:before{
      border: 1px solid #eee;
      border-radius: 4px;
      padding-top: calc(100% - 2px);
    }
  }
  &.ty2{
    padding-top: 4px;
    .img-box + .img-box{
      margin-left: 16px;
    }
  }
}

.review-list{
  font-size: 14px;
  line-height: 1.57;
  > ul{
    >li{
      border-bottom: 1px solid #eee;
      &.no-line{
        border-bottom-width: 0;
      }
    }
  }
  &.no-last-line{
    > ul{
      >li:last-child{
        border-bottom-width: 0;
      }
    }
  }
  
  .review-list-item{
    position: relative;
    display: block;
    padding: 16px 0;
    overflow: hidden;
    .info{
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #666;
      > div{
        margin-right: 6px;
      }
      .ico-star-wrap{
        margin-right: 0;
        margin-left: auto;
      }
    }
    .text{
      margin-top: 11px;
    }
    .btn{
      margin-top: 12px;
    }

    .product-info{
      margin-top: 12px;
      &.small{
        margin-top: 15px;
        .product-name{
          font-size: 13px;
        }
      }
    }
    .product-name{
      font-size: 14px;
    }
  }
}
.qna-list{
  line-height: 1.33;
  > ul{
    >li{
      border-bottom: 1px solid #eee;
      &.no-line{
        border-bottom-width: 0;
      }
    }
  }
  &.no-last-line{
    > ul{
      >li:last-child{
        border-bottom-width: 0;
      }
    }
  }
  &.ty2{
    > ul{
      >li{
        border-bottom-width: 0;
        + li{
          margin-top: 24px;
        }
      }
    }
    .qna-list-item{
      padding-bottom: 0;
    }
    .folding-panel{
      padding-top: 16px;
      padding-bottom: 0;
    }
  }
  .product-info{
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
  }
  .qna-list-item{
    position: relative;
    display: block;
    padding: 16px 0;
    overflow: hidden;
    .info{
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #666;
      .badge{
        margin-right: 12px;
      }
      > div{
        margin-right: 6px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .tit{
      font-size: 15px;
      line-height: 20px;
      margin-top: 12px;
      position: relative;
      color: #222;
      &.in-chk{
        padding-left: 32px;
        line-height: 22px;
        .checkbox{
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
        }
      }
    }
    
  }
  .qna-list-question{
    font-size: 15px;
    line-height: 22px;
    color: #666;
    +.qna-list-answer{
      margin-top: 20px;
    }
  }
  .qna-list-answer{
    padding: 16px;
    border-radius: 4px;
    background-color: #f6f6f6;
    .date{
      font-size: 12px;
      color: #666;
      margin-bottom: 12px;
    }
  }
  .folding-head{
    .qna-list-item{
      &:before{
        content:'';
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 16px;
        right: 0;
        background: url(../images/icon/ico-arrow-down-24@3x.png) no-repeat center center / contain;
        transition: 0.3s;
      }
      .info{
        padding-right: 25px;
      }
    }
  }
  li.open{
    .folding-head{
      .qna-list-item:before{
        transform: rotate3d(1,0,0,180deg);
      }
    }
  } 
  .folding-panel{
    display: none;
    padding-bottom: 16px;
  }
}
.qna-textarea{
  textarea{
    padding: 13px 16px;
    height: -vh(100, -200);
  }
  &.ty2{
    margin-top: 24px;
    textarea{
      padding: 13px 16px;
      height: -vh(100, -315);
    }
  }
}
.product-rating-dt{
  >a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    padding: 8px 0;
    >.arr{
      position: relative;
      display: flex;
      margin-left: auto;
      font-size: 12px;
      &:before{
        content:'자세히';
      }
      &:after{
        content:'';
        display: block;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        background: url(../images/icon/ico-arrow-down-16@3x.png) no-repeat center center / contain;
        transition: 0.3s;
      }
    }
    .ico-star-wrap{
      margin-right: 8px;
    }
    &.open{
      >.arr{
        &:before{
          content:'접기';
        }
        &:after{
          transform: rotate3d(1,0,0,180deg);
        }
      }
    }
  }
}
.product-rating-dd{
  padding: 24px 23px;
}
.product-rating-bar{
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  .txt{
    width: 38px;
    flex-shrink: 0;
    text-align: left;
  }
  .per{
    width: 38px;
    flex-shrink: 0;
    text-align: right;
  }
  .bar {
    flex: 1 1 auto;
    height: 6px;
    background: #eee;
    overflow: hidden;
    border-radius: 3px;
    > div{
      width: 0%;
      height: 6px;
      background: #ffd700;
      border-radius: 3px;
    }
  }
  +.product-rating-bar{
    margin-top: 8px;
  }
}

.order-price{
  display: flex;
  align-items: flex-end;
  min-height: 36px;
  .order-price-txt{
    padding: 4px 0;
    font-size: 12px;
    color: #222;
  }
  .product-price{
    margin-left: auto;
    strong{
      font-size: 18px;
    }
  }
  + .flex{
    margin-top: 16px;
  }
  &.align-center{
    min-height: auto;
  }
}
.pop-foot .order-price{
  min-height: auto;
}

.product-opt-list{
  margin-top: 6px;
  .select{
    margin-top: 4px;
  }
}
.product-opt-item{
  margin-top: 4px;
  position: relative;
  padding: 17px 16px 16px;
  background: #f8f8f8;
  border-radius: 4px;
  &:first-child{
    margin-top: 0;
  }
  .opt-info{
    font-size: 13px;
    line-height: 1.54;
    color: #222;
    padding-right: 45px;
    word-break: break-all;
    + .order-price{
      margin-top: 12px;
    }
  }
  .order-price{
    .product-price{
      strong{
        font-size: 16px;
      }
    }
  }
  .opt-delete{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    background: url(../images/icon/ico-round-close@3x.png) no-repeat center center / contain;
  }
  &.ty2,
  &.ty3{
    padding: 12px 16px;
    .opt-info{
      font-size: 12px;
      padding-right: 20px;
    }
    .order-price{
      align-items: center;
      min-height: auto;
      .product-price{
        strong{
          font-size: 14px;
        }
      }
    }
    .opt-delete{
      top: 50%;
      margin-top: -10px;
    }
  }
  &.ty3{
    padding-right: 46px;
  }
}
.line-info-tbl{
  margin-top: 11px;
  border-top: 1px solid #eee;
}
.line-info-item{
  display: flex;
  padding: 15px 0;
  align-items: center;
  color: #222;
  border-bottom: 1px solid #eee;
  .dt{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 40%;
    min-width: 120px;
    [class*="i-logo-"]{
      margin-right: 6px;
    }
  }
  .dd{
    font-size: 13px;
    line-height: 1.54;
    width: 60%;
    flex: 1 1 auto;
    .dd-item{
      display: flex;
      >div {
        width: 100%;
      }
      +.dd-item{
        margin-top: 4px;
      }
    }
  }
}